@import '../../@theme/theme.scss';
.content {
    background-color: #2c2a2a;
    margin: -24px;
    border: 1px solid $c-orange;
    padding: 80px 24px 80px;
    /* 320-576 */
    @media screen and (max-width: 575px){
      margin: -20px;
    }
    &.buttons {
        padding-top: 124px;
    }
    .close {
        top: 30px;
        color: #fff;
    }
    p {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        @media screen and (max-width: 575px){
          font-size: 17px;
        }
        &.info-text {
            font-size: 15px;
            font-weight: 100;
            width: 75%;
            margin: auto;
            margin-top: 22px;
        }
        span {
            color: $c-orange;
            font-weight: 600;
        }
    }
    .btn-wrapp {
        margin-top: 50px;
        justify-content: space-around;
        button {
            margin: auto;
            margin-top: 20px;
        }
        .btn-underline {
            font-size: 15px;
        }
    }
    @media screen and (max-width: 575px) {
        p.info-text {
            width: 100%;
        }
    }
}
