<div class="content" [ngClass]="{'buttons': btn&&btnOrange}">
    <button *ngIf="!closeTimer" class="btn-icon close" (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
    <p>{{head}}</p>

    <p *ngIf="infoText" class="info-text">{{infoText}}</p>
    <div *ngIf="btn || btnOrange" class="btn-wrapp">
        <button *ngIf="btn" (click)="this.dialogRef.close('btn')" class="btn-underline">{{btn}}</button>
        <button *ngIf="btnOrange" (click)="this.dialogRef.close('btnOrange')" class="btn btn-orange">{{btnOrange}}</button>
    </div>

</div>


