<aside>
    <div class="container">
        <div class="wrapper">
            <h4>Баланс</h4>
            <div class="row align-items-baseline">
                <div class="name-value col-6 col-md-4">
                    <h5>На счету</h5>
                </div>
                <div class="col-6 col-md-4">
                    <div class="amount flex-center">
                        <h5>{{balanse.actual| number:'':'fr-FR'}}</h5>
                        <wagers [height]='20' [color]="'white'"></wagers>
                    </div>
                </div>
                <div class="col-md-4">
                    <a (click)="recharge()" class="btn btn-orange">Изменить баланс</a>
                </div>
            </div>
            <div class="row align-items-baseline mt-md-3 payout">
                <div class="name-value col-6  col-md-4">
                    <h5>На выплату</h5>
                </div>
                <div class="col-6  col-md-4">
                    <div class="amount flex-center">
                        <h5>{{balanse.toPay| number:'':'fr-FR'}}</h5>
                        <wagers [height]='20' [color]="'white'"></wagers>
                    </div>
                </div>
                <div class="col-md-4">
                    <a [routerLink]="['/cms/user-profile/' + uid + '/transactions']" class="btn-underline">Перейти к выплатам</a>
                </div>
            </div>
            <div class="row align-items-baseline mt-md-3 in-game">
                <div class="name-value col-6  col-md-4">
                    <h5>В доигрыше</h5>
                </div>
                <div class="col-6  col-md-4">
                    <div class="amount flex-center">
                        <h5>{{balanse.inMatches| number:'':'fr-FR'}}</h5>
                        <wagers [height]='20' [color]="'white'"></wagers>
                    </div>
                </div>
                <div class="col-md-4">
                    <a [routerLink]="['/cms/user-matches/' + uid]"  class="btn-underline">Перейти к матчам</a>
                </div>
            </div>
        </div>
        <div class="wrapper statistics">
            <h4>Cтатистика пользователя</h4>
            <div class="row">
                <div class="col-md-4">
                    <h5>Сыгранные матчи</h5>
                    <div class="circle-wrapp">
                        <round-progress
                            [current]="actualMatches"
                            [max]="allMatches"
                            [color]="'#f99a04'"
                            [background]="'transparent'"
                            [radius]="62.5"
                            [stroke]="1"
                            [rounded]="true"
                            [responsive]="false"
                            [duration]="600"
                            [animationDelay]="0">
                        </round-progress>
                        <span>{{actualMatches}}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Количество побед</h5>
                    <div class="circle-wrapp">
                        <round-progress
                            [current]="actualWinMatches"
                            [max]="allMatches"
                            [color]="(lose||wins)? '#16b116' : '#f99a04'"
                            [background]="'#545050'"
                            [radius]="55"
                            [stroke]="1"
                            [responsive]="false"
                            [duration]="600"
                            [clockwise]="false"
                            [animationDelay]="0">
                        </round-progress>
                        <span>{{actualWinMatches}}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Количество поражений</h5>
                    <div class="circle-wrapp">
                        <round-progress
                            [current]="actualLoseMatches"
                            [max]="allMatches"
                            [color]="(lose||wins)? '#ef1010' : '#f99a04'"
                            [background]="'#545050'"
                            [radius]="47.5"
                            [stroke]="1"
                            [rounded]="true"
                            [responsive]="false"
                            [duration]="600"
                            [animationDelay]="0">
                        </round-progress>
                        <span>{{actualLoseMatches}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
