::ng-deep.mat-dialog-container {
    text-align: center;
    border-radius: 5px;
}

.main {
    padding-bottom: 60px;
}

img {
    width: 100px;
    height: auto;
    margin: 46px auto 30px;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    width: 350px;
    margin: auto;
    @media screen and (max-width: 575px) {
      width: 280px;
    }
}

.footer {
    margin: 0 -24px -24px;
    height: 40px;
    background-color: #1d1d1d;
    color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    p {
        font-size: 14px;
        font-weight: 200;
    }
}
