<div class="main">
    <button class="btn-icon close" (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
    <img alt="img"  src="../../../assets/LoginRegister/email-sended.png" alt="">
    <h1>На ваш email отправлено письмо со ссылкой активации вашего аккаунта</h1>
</div>
<div class="footer flex-center">
    <p>
        С уважением, команда Wagermatch
    </p>
</div>