<aside>
    <div class="container">
        <h4 *ngIf="conflictList.length>0" class="d-lg-none">Список споров</h4>
        <div *ngIf="conflictList.length===0" class="empty">
            <p>На данный момент список споров пуст</p>
        </div>
        <app-expanded-table
          class="table d-none d-lg-block"
          [columns]='columns'
          (btnClicked)='openMatch($event)'
          [rowCount]='1'
          [userUid]='userUid'
          [data]='conflictList'>
        </app-expanded-table>
        <app-expanded-table
          class="table d-lg-none"
          [columns]='columnsMobile'
          (btnClicked)='openMatch($event)'
          [rowCount]='2'
          [userUid]='userUid'
          [data]='conflictList'>
        </app-expanded-table>
    </div>
</aside>
