@import '../../../../@theme/theme.scss';

aside {
    p {
        text-align: center;
        margin-top: 116px;
    }
}

.table ::ng-deep table {
  .row-1 .item {
    width: 27%;
    &:first-child {
      width: 37%;
    }
    &:last-child {
      width: 27%;
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0;
  }
  h4 {
    text-align: center;
    margin-bottom: 10px;
    line-height: 45px;
  }
  .table ::ng-deep table .row-1 .item {
    width: 27%;
    &:first-child {
      width: 50%;
    }
    &:last-child {
      width: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  h4 {
    line-height: 25px;
  }

}
