<div class="content">
  <div class="login">{{user.login ? user.login : 'user'}}</div>
  <div class="balance orange">{{balance.actual}}
    <wagers *ngIf="!isTablet" [height]="13" [color]="'orange'"></wagers>
    <wagers *ngIf="isTablet" [height]="15" [color]="'orange'"></wagers>
  </div>
</div>
