.content {
  margin-left: -8px;
}

.login, .balance {
    line-height: 22px;
    font-size: 14px;
    &.orange {
      font-weight: 400;
      line-height: 14px;
    }
    @media screen and (max-width: 992px) {
      font-size: 16px;
      &.orange {
        line-height: 18px;
      }
    }
}
