<app-table-page>
    <div class="img-wrapp">
        <img alt="img"  src="../../../../assets/fix-page-image.png" alt="fix page image">
    </div>
    <h3>Ведуться технические работы</h3>
    <h1>Сервис временно недоступен</h1>
    <button (click)="reload()" class="btn btn-orange">Перезагрузить</button>
</app-table-page>