@import '../../..//@theme/theme.scss';

section {
    padding: 30px 0;
    h1 {
        color: #fff;
        margin-bottom: 30px;
    }
}

p {
    color: #fff;
    text-align: left;
    @media screen and (max-width: 575px) {
        font-size: 14px;
    }
}

.screen {
    width: fit-content;
    margin: 25px auto;
    &:last-child {
        @media screen and (max-width: 575px) {
            margin-bottom: 0;
        }
    }
    p {
        font-size: 14px;
        font-weight: 600;
        background-color: $c-orange;
        padding: 5px 10px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        @media screen and (max-width: 575px) {
            font-size: 14px;
            padding: 4px 10px;
        }
    }
    img {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        display: block;
        width: 748px;
        max-width: 100%;
    }
}