<section >
    <div class="container text-center">
        <h1>Как выглядит пример скриншота</h1>
        <p>Обязательным требованием для скриншота на Wagermatch является наличие игровых никнеймов обоих игроков, а также непосредственно результат матча.</p>
        <p class="mt-3">Кроме этого, сервис Wagermatch разрешает отправлять фото(снимки) с экрана сделанные на мобильные устройства или планшет, при условии что все символы видны и читаемые для человеческого глаза.</p>
        <div class="screen">
            <p>Пример 1</p>
            <img src="../../../../assets/_Optimized/screen-example1.PNG" alt="screen example">
        </div>
        <div class="screen">
            <p>Пример 2</p>
            <img src="../../../../assets/_Optimized/screen-example2.jpg" alt="screen example">
        </div>
    </div>
</section>
