@import '../../../../../@theme/theme.scss';

form {
    .field-wrapp {
        width: 80%;
        position: relative;
        margin: auto;    
    }
    // padding-bottom: 20px;
    ::ng-deep {
        .select .mat-select-value {
            padding-bottom: 0;
        }
        .mat-option .mat-option-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .trigger {
            justify-content: space-between;
            img {
                margin-top: 0px!important;
            }
        }
    }
    .btn {
        margin: auto;
    }
}

.card-input {
    position: relative;
}
.cardType {
    position: absolute;
    height: 37px;
    right: 0;
    &.option-icon {
        height: 27px;
    }
    &.rubl {
        height: 25px;
        margin-top: 1px;
    }
}

.option-icon {
    height: 27px;
}
