<button class="btn-icon close" (click)="this.dialogRef.close()">
    <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>Вывод средств</h1>
<div mat-dialog-content>
    <form [formGroup]="form" autocomplete="off">
        <div class="field-wrapp">
            <mat-form-field class="select">
                <mat-label>Способ вывода</mat-label>
                <mat-select formControlName='payType'>
                    <mat-select-trigger class="trigger full-flex">
                        {{actualPayType.viewValue}}<img alt="img"  class="option-icon" [src]="actualPayType.icon" alt="">
                      </mat-select-trigger>
                    <mat-option *ngFor="let payType of payTypes" [value]="payType.value">
                      {{payType.viewValue}} <img alt="img"  class="option-icon" [src]="payType.icon" alt="">
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <div @fade *ngIf="form.get('payType').value==='card'" class="field-wrapp">
            <mat-form-field>
                <mat-label>Номер карты</mat-label>
                <input  matInput
                        ccNumber
                        #ccNumber="ccNumber"
                        type="tel"
                        class="card-input"
                        formControlName='payData'
                        autocomplete="cc-number">
                        <img alt="img"  @fade class="cardType" *ngIf="cardType!=='unknown'&&form.get('payData').value" src="../../../../../assets/MyProfile/{{cardType}}.png" alt="">
            </mat-form-field>
        </div>
        <div @fade *ngIf="form.get('payType').value!=='card'&&form.get('payType').value" class="field-wrapp">
            <mat-form-field>
                <mat-label>Кошелек</mat-label>
                <input  matInput
                        ccNumber
                        #ccNumber="ccNumber"
                        type="tel"
                        class="card-input"
                        formControlName='payData'
                        autocomplete="cc-number">
                        <img alt="img"  @fade class="cardType option-icon" [src]="actualPayType.icon" alt="">
            </mat-form-field>
        </div>
        <div class="field-wrapp mb-3">
            <mat-form-field>
                <mat-label>Сумма</mat-label>
                <input  matInput
                        [min]='minPayout'
                        [max]='maxPayout'
                        step = '10'
                        formControlName='amount'
                        type="number">
                        <wagers class="payType rubl" [height]='24'></wagers>
            </mat-form-field>
        </div>
        <button
            [disabled]="form.invalid"
            (click)="!isLoad?toPayout():null"
            class="btn btn-orange mt-4 mb-sm-4">
            <span>Вывести</span>
            <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
    </button>
    </form>
</div>
