@import '../../../../@theme/theme.scss';

.content {
    padding: 20px 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    position: relative;
    text-align: center;
    h2 {
        font-size: 24px;
        font-weight: 500;
    }
    .btn-icon {
        position: absolute;
        right: 0;
        padding-left: 0;
    }
}

.filter {
    z-index: 10;
    margin: auto;
    max-width: 298px;
    text-align: center;
    color: #0000;
    font-size: 17px;
    font-weight: 300;
    .console {
        color: #000;
        font-weight: 400;
        .btn-icon {
            padding: 5px 7px 4px;
            &.all-platform {
                height: 50px;
                font-weight: 400;
                font-size: 15px;
                color: $c-black;
                font-weight: 400;
                padding: 4px 11px 6px;
            }
            &:hover, &.active {
                background-color: rgba($color: #686868, $alpha: 0.3);
                border-radius: 10px;
            }
        }
        .platforms {
            ::ng-deep {
                aside {
                    align-items: center;
                }
                .btn-icon {
                    width: 93px;
                    height: 50px;
                    & {
                        color: #000;
                    }
                    .p-name {
                        font-size: 10px;
                        margin-top: -3px;
                    }
                }
                fa-icon {
                    font-size: 22px;
                }
            }
        }

    }
    .bid {
        span {
            color: #000;
            font-weight: 400;
        }
        .field-wrapp{
            width: 35%;
            height: 44px;
            margin-top: 10px;
        }
        .bid-input {
            input {
                padding-right: 0;
                color: #000;
            }
            ::ng-deep {
                .mat-form-field-label {
                    color: #000;
                }
                .mat-form-field-infix {
                    padding-bottom: 5px;
                }
            }
        }
        mat-icon {
            color: #000;
            font-size: 25px;
        }
    }
}

.bottom-wrapp {
    text-align: center;
    margin: auto auto 0;
    max-width: 270px;
    .btn-orange {
        color: #000;
        margin: 20px auto 0;
    }
    .border {
        margin: 25px -280px 20px;
    }
    .new {
        color: #000;
        margin: 0 0 30px;
        .btn-underline {
            color: #000;
            margin: auto;
            width: 220px;
            padding-bottom: 0;
            &:after {
                background-color: $c-orange;
            }
            &:before {
                background-color: #000;
            }
        }
    }
}
