<div class="content">
    <div class="top-wrapp">
        <div class="title">
            <button (click)="close()" class="btn-icon">
                <mat-icon class='black-icon'>close</mat-icon>
            </button>
            <h2>Фильтр</h2>
        </div>
        <div class="filter">
            <div class="console mt-4">
                 <span matTooltip="Выбери интересующую тебя платформу" matTooltipPosition='right'>Платформа</span>
                <div class="full-flex platforms-wrapp mt-4 mt-lg-4">
                    <button class="btn-icon all-platform"
                            (click)="platformFilter('all')"
                            [ngClass]="{'active': 'all'.includes(activePlatform)}">Все платформы
                    </button>
                    <app-platforms class="platforms" [actualPlatform]='activePlatform' [theme]="'light-gray'" (updatePlatform)='platformFilter($event)'></app-platforms>
                </div>
            </div>
            <div class="bid mt-4 mt-lg-3">
                <span matTooltip="Выбери интересующую тебя сумму пари" matTooltipPosition='right'>Сумма пари </span>
                <form [formGroup]="bidForm" autocomplete="off" class="full-flex">
                    <div class="field-wrapp">
                        <mat-form-field class="bid-input">
                            <mat-label>от</mat-label>
                            <input #minInput matInput
                                   min='10'
                                   [max]="this.bidForm.get('max').value"
                                   step = '10'
                                   formControlName='min'
                                   name= 'min'
                                   type="number">
                        </mat-form-field>
                    </div>
                    <div class="field-wrapp">
                        <mat-form-field class="bid-input">
                            <mat-label>до</mat-label>
                            <input matInput
                                   [min]="minInput.value?minInput.value:10"
                                   max = '1000000'
                                   step='10'
                                   formControlName='max'
                                   name= 'min'
                                   type="number">
                        </mat-form-field>
                    </div>
                    <button (click)="useFilter()" type="submit" class="btn-icon"><mat-icon>sync</mat-icon></button>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-wrapp">
        <button (click)="useFilter()" class="btn btn-orange">
            Применить
        </button>
        <div class="border"></div>
        <div class="new">
            или
            <button (click)="createMatchService.checkStatus(); close()" class="btn btn-underline">
                создай собственный матч
            </button>
        </div>
    </div>
</div>