@import '../../@theme/theme.scss';
section {
    min-height: 300px
}
/*====================================== FIRST SECTION======================================================= */
.firs-section {
  background: url("../../../assets/_Optimized/back-gray.jpg") no-repeat center top/cover;
  height: 600px;
  padding: 70px 0 86px;
  header {
    margin-top: 72px;
    h1, h2 {
      color: #fff;
    }
    h1 {
      font-family: 'Lucida', sans-serif;
      font-size: 85px;
      line-height: 60px;
      letter-spacing: 0;
      strong {
        font-size: 40px;
        display: block;
        letter-spacing: 0.05em;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    header {
      margin-top: 95px;
      h1 {
        font-size: 60px;
        line-height: 45px;
        strong {
          font-size: 28px;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    height: auto;
    background: url("../../../assets/_Optimized/back-gray-tablet.jpg") no-repeat top/992px;
    padding: 0;
    header {
      margin-top: 0;
      margin-left: 100px;
    }
    .match-list {
      position: inherit;
      margin: 150px auto 0;
    }
  }
  @media screen and (max-width: 768px) {
    background-size: 850px;
    padding-top: 50px;
    header {
      margin-left: 20px;
    }
    .match-list {
      margin-top: 128px;
    }
  }
  @media screen and (max-width: 575px) {
    padding-top: 55px;
    header {
      text-align: center;
      margin-left: -145px;
      h1 {
        font-size: 52px;
        line-height: 37px;
        strong {
          margin-left: -7px;
          font-size: 25px;
          letter-spacing: 0.04em;
        }
      }
    }
    background-position-x: 41%;
    .match-list {
      margin-top: 205px;
      width: 100%;
      padding: 30px 15px 30px;
    }
    .name-wrapp {
      padding-right: 0;
    }
    .match-list-container {
      padding: 0;
    }
    .matchlist__btn-wrap {
      flex-direction: column-reverse;
      align-items: center;
      .btn {
        width: 85%;
      }
      .btn-empty {
        margin: 20px auto 0;
      }
    }
  }
}
.empty {
  padding-top: 100px;
}
.matches-wrapp {
  min-height: 400px;
}
.match-list{
    background-color: #fff;
    padding: 35px 19px 30px;
    position: absolute;
    width: 470px;
    .match-list__line{
        margin: 50px 4px 40px;
        border-top: 2px solid $c-orange;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .match-list__head-icons{
        height: 55px;
        width: 55px;
        border-radius: 50px;
        background-color: $c-orange;
        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        top: -27px;
        &:first-child{
            left: 30px;
            img{
                height: 25px;
                width: auto;
            }
        }
        &:last-child{
            right: 30px;
            img{
                height: 27px;
            }
        }
        img{
            height: 29px;
            width: auto;
        }
    }
    .match-wrapp{
        height: 70px;
    }
    .match-list__match {
        @include match-hover;
        // border-bottom: $br-botton-orange;
        border-left: $br-left-orange;
        padding: 7px 19px 10px;
        font-size: 15px;
        font-weight: 600;
        background-color: #fff;
        color: #000000;
        display: block;
        position: relative;
        cursor: pointer;
        z-index: 1;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
        .match-list__match-data{
            align-items: center;
        }
        .match-list__date{
            font-size: 12px;
        }
        @media screen and (max-width: 575px) {
          padding: 7px;
        }
    }
    .platform {
      margin-right: 7px;
      min-width: 25px;
    }
    .match-list__text-item{
        margin-right: 5px;
        &.name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .matchlist__btn-wrap{
        display: flex;
        justify-content: space-between;
    }
}



/*====================================== SECOND  SECTION======================================================= */

.description{
    padding: 80px 0 0;
    color: #000;
    z-index: -1;
    background: url("../../../assets/_Optimized/back-white.webp") repeat center top/auto;
    .steps{
        position: relative;
        margin-top: 21px;
        margin-bottom: 80px;
        @media screen and (max-width: 992px) {
          margin-bottom: 21px;
        }
        li{
            font-size: 22px;
            margin-bottom: 14px;
            padding: 0 5px 0 54px;
            width: fit-content;
            position: relative;
            cursor: pointer;
            &:before{
                height: 55px;
                width: 55px;
                position: absolute;
                content: '';
            }
            &:after{
                position: absolute;
                content: '';
                height: 15px;
                width: 15px;
                top: 2px;
                background: url("../../../assets/Main/infoIcon.png") no-repeat center center/auto;
            }

        }
        .steps__choose:before{
            background: url("../../../assets/Main/chooseIcon.png") no-repeat center center/auto;
            left: -10px;
            top: -12px;
        }

        .steps__pay:before{
            background: url("../../../assets/Main/payIcon.png") no-repeat center center/auto;
            left: -4px;
            top: -10px;
        }
        .steps__play:before{
            background: url("../../../assets/Main/playIcon.png") no-repeat center center/auto;
            left: -8px;
            top: -13px;
        }
        .steps__take-money:before{
            background: url("../../../assets/Main/takemoneyIcon.png") no-repeat center center/auto;
            left: -12px;
            top: -10px;
        }
    }
    .list, .step, .step-info {
      opacity: 0;
      z-index: -10;
      &.step {
        position: absolute;
      }
      &.show {
        z-index: 1;
        opacity: 1;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
      }
    }
    .step {
      &.show {
        z-index: -1;
      }
    }
    .step-info{
        width: 460px;
        height: 460px;
        padding-top: 130px;
        text-align: center;
        margin-top: -130px;
        margin-bottom: -24px;
        cursor: pointer;
        position: absolute;
        top: 0;
    }
    .blur {
      height: 500px;
      width: 100%;
      z-index: -2;
      top: -120px;
      position: absolute;
      &.choose-oponent {
        background: url("../../../assets/Main/Chooseoponent.png") no-repeat center top/auto;
      }
      &.pay-match {
        background: url("../../../assets/Main/Pay.png") no-repeat center top/auto;
        top: -165px;
      }
      &.play-match {
        background: url("../../../assets/Main/playmatch.png") no-repeat center top/auto;
      }
      &.take-money {
        background: url("../../../assets/Main/takemoney.png") no-repeat center top/auto;
      }
    }
    .step-info__icon{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .step-info__decription{
        font-size: 14px;
        font-weight: 600;
        max-width: 427px;
        display: inline-flex;
    }
    @media screen and (max-width: 992px) {
      padding: 60px 20px;
      background-position-y: -40px;
    }
    @media screen and (max-width: 575px) {
      padding: 35px 0 0;
      .container {
        padding: 0;
      }
      .steps {
        width: fit-content;
        margin: 20px auto 50px;
      }
      h2 {
        text-align: center;
      }
      .step-info{
        margin-top: -140px;
        padding-top: 130px;
        width: 100%;
        .step {
          width: 100%;
        }
        p {
          width: 80%;
        }
      }
    }
}

.advantages {
  background: transparent linear-gradient(42deg, #323131 0%, #5B5B5B 100%) 0% 0% no-repeat padding-box;
  padding: 70px 0;
  @media screen and (max-width: 575px) {
    padding: 35px 0;
  }
  h2 {
    strong {
      color: $c-orange;
      font-weight: 500;
    }
    font-weight: 500;
    max-width: 700px;
    color: #fff;
  }
  .row {
    margin-top: 21px;
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }
  .part {
    max-width: 500px;
    @media screen and (max-width: 768px) {
      max-width: none;
      margin-top: 21px;
    }
  }
  header {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    img {
      display: block;
      margin-right: 12px;
    }
    h4 {
      color: $c-orange;
      font-weight: 400;
    }
  }
  p {
    color: #fff;
    ::ng-deep a {
      color: $c-orange;
      white-space: nowrap;
    }
  }
}



