  <section class="firs-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <header>
            <h1 class="main-header">FIFA 21 <strong>с Wagermatch</strong> </h1>
          </header>
        </div>
        <div class="col-md-12 col-lg-6 match-list-container">
          <div class="match-list text-center">
            <h1>Список матчей</h1>
            <div  class="match-list__line">
              <div class="match-list__head-icons">
                <img alt="img"  src="../../assets/Main/icons8-футбол-50.png" alt="">
              </div>
              <div class="match-list__head-icons">
                <img alt="img"  src="../../assets/Main/icons8-время-встречи-50.png" alt="">
              </div>
              <div class="match-list__head-icons">
                <img alt="img"  src="../../assets/Main/icons8-монеты-50.png" alt="">
              </div>
            </div>
            <div class="matches-wrapp" [style.padding-top]="isLoading ? 80 + 'px' : 0">
              <p class="empty" *ngIf="matchesList.length===0 && !isLoading">
                Список матчей пуст.
              </p>
              <mat-spinner style="margin: auto;"  [diameter]="100" [strokeWidth]="5" [style.display]="isLoading? 'block' : 'none'"></mat-spinner>
              <div class="match-wrapp" *ngFor= "let match of matchesList">
                <a [ngClass]="{'own-match': match.isOwner||match.isEnemy, 'occupied':!'created,finished'.includes(match.statusShortName), 'match-finished': match.statusShortName=='finished'}" [routerLink]="['matches/match', match.uid]" class="match-list__match">
                  <div class="row align-items-center">
                    <div class="col-4 name-wrapp">
                      <div class="match-list__match-data d-flex align-items-center">
                        <app-show-platform class="platform" [shortForm]='true' [platform]='match.platform'></app-show-platform>
                        <div class="match-list__text-item name">{{match.login}}</div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="match-list__match-data">
                        <div class="match-list__date">{{match.createdAt| date:"H:mm"}}</div>
                        <div class="match-list__date">{{match.createdAt| date:"dd.MM.yyyy"}}</div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="match-list__match-data d-flex justify-content-end">
                          <div class="match-list__text-item">{{match.price| number:'':'fr-FR'}}
                            <span class="wagers">
                              <wagers class="coin before" [color]="'black'"></wagers>
                              <wagers class="coin after" [color]="'white'"></wagers>
                            </span>
                          </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
          </div>
            <div class="matchlist__btn-wrap">
              <a (click)="createMatchService.checkStatus()" class="btn btn-empty">Создать матч</a>
              <a [routerLink]="['/matches/all-matches']" class="btn btn-orange">Все матчи</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section #howItWorks class="description">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div [ngClass]="{'show': !show}" class="list">
            <h2 >Как все происходит</h2>
            <ul class="steps">
              <li matTooltip="Подробнее" matTooltipPosition='after'  class="steps__choose" (click)="showMore(0)">Выбери соперника</li>

              <li matTooltip="Подробнее" matTooltipPosition='after' class="steps__pay" (click)="showMore(1)"> Оплати матч</li>
              <!-- <li matTooltip="Подробнее" matTooltipPosition='after' class="steps__pay" (click)="showMore(1)"> Подключись к матчу</li> -->

              <li matTooltip="Подробнее" matTooltipPosition='after' class="steps__play" (click)="showMore(2)">Сыграй матч</li>

              <li matTooltip="Подробнее" matTooltipPosition='after' class="steps__take-money" (click)="showMore(3)">Забери выигрыш</li>
              <!-- <li matTooltip="Подробнее" matTooltipPosition='after' class="steps__take-money" (click)="showMore(3)">Забирай призы</li> -->
            </ul>
          </div>
          <div (click)="showMore('close')" class="step-info"
          [ngClass]="{'show': show}" >
            <h2>Как все происходит</h2>
            <div class="step"  [ngClass]="{'show': step[0]}">
              <img alt="img"  class="step-info__icon" src="../../assets/Main/chooseSmallIcon.png" alt="">
              <h3>Выбери соперника</h3>
              <div class="blur choose-oponent"></div>
              <p class="step-info__decription">Выбери матч со списка или создай собственный. Для этого выбери консоль и сумму пари.</p>
              <!-- <p class="step-info__decription">Выбери матч со списка или создай собственный. Для этого выбери консоль и количество вагеров.</p> -->
            </div>
            <div class="step"  [ngClass]="{'show': step[1]}">
              <img alt="img"  class="step-info__icon" src="../../assets/Main/paySmallIcon.png" alt="">
              <h3>Оплати матч</h3>
              <!-- <h3>Подключись к матчу</h3> -->
              <div class="blur pay-match"></div>
              <p class="step-info__decription">Пополни свой баланс на нужное количество вагеров для покрытия суммы пари. После подключения к матчу вагеры автоматически спишутся с твоего баланса Wagermatch.</p>
              <!-- <p class="step-info__decription">Пополни свой баланс на нужное количество вагеров для покрытия стоимости матча.</p> -->
            </div>
            <div class="step"  [ngClass]="{'show': step[2]}">
              <img alt="img"  class="step-info__icon" src="../../assets/Main/playSmallIcon.png" alt="">
              <h3>Сыграй матч</h3>
              <div class="blur play-match"></div>
              <p class="step-info__decription">Спишись с соперником. Сыграй матч. После этого результат и скрин с меню игры отправь на Wagermatch.</p>
            </div>
            <div class="step"  [ngClass]="{'show': step[3]}">
              <img alt="img"  class="step-info__icon" src="../../assets/Main/takemoneySmallIcon.png" alt="">
              <h3>Забери выигрыш</h3>
              <!-- <h3>Забирай призы и поднимайся в рейтинге!</h3> -->
              <div class="blur take-money"></div>
              <p class="step-info__decription">В случае победы, вагеры будут зачислены на твой баланс Wagermatch. Вагеры можно вывести любым из предложенных методов или использовать в следующих матчах.</p>
              <!-- <p class="step-info__decription">В случае победы, вагеры будут зачислены на твой баланс Wagermatch. Вагеры можно использовать в следующих матчах или для участия в турнирах!</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section #advantages class="advantages">
    <div class="container">
      <h2><strong>Wagermatch</strong> - это первый автоматизированный сервис для заключения пари в FIFA 21.</h2>
      <!-- <h2><strong>Wagermatch</strong> - это первый автоматизированный сервис для расчета матчей и турниров в FIFA 21.</h2> -->
      <ng-container *ngFor="let adv of advantagesList; let i = index">
        <div class="row justify-content-between" *ngIf="i%2===0">
          <div *ngIf="advantagesList[i]" class="col-md-6 part" >
            <header>
              <img src="../../../assets/_Optimized/advantages-plus.svg" alt="advantages">
              <h4>{{advantagesList[i].title}}</h4>
            </header>
            <p [innerHTML]='advantagesList[i].description'></p>
          </div>
          <div *ngIf="advantagesList[i+1]" class="col-md-6 part">
            <header>
              <img src="../../../assets/_Optimized/advantages-plus.svg" alt="advantages">
              <h4>{{advantagesList[i+1].title}}</h4>
            </header>
            <p [innerHTML]='advantagesList[i+1].description'></p>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
