<div class="content">
    <button class="btn-icon close" (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
    <h1>Внимание!</h1>
    <p>Игрок играет с другом, и разрешает тебе играть точно так же!</p>
    <p class="ps">Если не хочешь играть против двоих игроков, избегай матчей с данным знаком:</p>
    <img alt="img" style="height: 40px;"  matTooltip="Игрок играет вместе с другом."
    matTooltipPosition='right' src="../../../assets/_Optimized/host-with-friend.svg" alt="">
</div>

