@import '../../@theme/theme.scss';

.content {
    background-color: #2c2a2a;
    margin: -24px;
    border: 1px solid $c-orange;
    padding: 124px 24px;
    text-align: center;
    .close {
        top: 30px;
        color: #fff;
    }
    h1 {
        color: #fff;
        margin-bottom: 20px;
    }
    p {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        span {
            color: $c-orange;
            font-weight: 600;
        }
        &.ps {
            margin-top: 15px;
            margin-bottom: 10px;
            font-size: 15px;
        }
    }
    img {
        margin: auto;
    }
}
