<div class="content">
    <button class="btn-icon close" (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
    <div class="images-wrapp flex-center">
        <img alt="gamepads"  class="head-image" src="../../../assets/_Optimized/join-pads.webp">
    </div>
    <h3>Готов присоедениться к матчу?</h3>
    <div class="win-info">
        <span class="text"> Возможная сумма выигрыша: </span> <span class="green">{{data.winAmount | number:'':'fr-FR'}} <wagers [color]="'green-light'" [height]='19'></wagers></span>
    </div>
    <button (click)="!isLoad ? toJoinMatch(): null" class="btn btn-orange ml-3">
        Присоедениться
        <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
    </button>
</div>
