@import '../../@theme/theme.scss';

.content {
    background: url("../../../assets/JoinMatch/join-back.jpg") no-repeat center top/cover;
    margin: -24px;
    padding-bottom: 100px;
    text-align: center;
    .close {
        margin-top: 24px;
        color: #fff;
    }
    .images-wrapp {
        padding-top: 40px;
        margin-bottom: 10px;
        .head-image {
            height: 130px;
        }
    }
    .pad {
        height: 200px;
        width: auto;
    }
    h3 {
        font-size: 30px;
        color: #fff;
        font-weight: 100;
    }
    .win-info {
        margin: 5px 0 40px;
        color: #fff;
        font-weight: 100;
        font-size: 17px;
        .green {
            color: $c-green;
            white-space: nowrap;
        }
    }
    .btn-orange {
        margin: auto;
        display: inline;
    }
    @media screen and (max-width: 575px) {
        padding-bottom: 60px;
        .win-info {
            font-size: 14px;
            margin-top: 10px;
            white-space: nowrap;
        }
        h3 {
            font-size: 26px;
            margin: auto;
            width: 90%;
            line-height: 25px;
        }
        .images-wrapp {
            padding-top: 60px;
            margin-bottom: 20px;
            .head-image {
                height: 120px;
            }
        }
    }
}

