@import '../../@theme/theme.scss';

.content {
  min-height: calc(100vh - 100px);
  background: $c-cms;
  padding: 15px 0px 0;
  ::ng-deep {
    section {
      padding: 30px;
      background: linear-gradient(135deg, #001721 0%, rgba(39, 63, 80, 0.95)  50%,#001721 100%);
      min-height: calc(100vh - 151px);
      @media screen and (max-width: 1200px) {
        min-height: calc(100vh);
      }
    }
    h1 {
      text-align: center;
      font-weight: 600;
      margin-bottom: 20px;
      position: relative;
      .btn-icon {
        position: absolute;
        left: 10px;
        top: -5px;
        mat-icon {
          font-size: 50px;
        }
      }
    }
    mat-form-field {
      font-size: 16px;
    }
    .head {
      background-color: rgba($color: $c-cms, $alpha: 0.95);
      border-radius: 6px;
      width: 100%;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.center {
        justify-content: center;
      }
      ::ng-deep {
          .mat-form-field-wrapper {
              margin-bottom: -20px;
          }
      }
    }
  }
}
