@import '../../@theme/theme.scss';

$space: 10px;
footer{
  position: relative;
    background-color: #1d1d1d;
    padding: 35px 0 35px;
    color: #ffffff;
    p {
      font-size: 12px;
      font-weight: 100;
    }
    .chat {
      font-size: 13px;
      font-weight: 400;
      color: #fff;
      padding-left: 0;
      letter-spacing: 0.05rem;
    }
    li {
      margin-bottom: $space;
    }
    a, a:not([href]) {
      font-weight: 100;
      font-size: 13px;
      display: block;
      @media screen and (min-width: 768px) {
        &:hover {
          color: $c-orange;
        }
      }
    }
}

.left {
  p {
    max-width: 170px;
    &.chat {
      font-weight: 400;
      font-size: 13px;
      margin-right: auto;
      margin-left: 0;
    }
  }
  a {
    color: $c-orange;
    margin-bottom: $space;
  }
  .logo {
    margin-top: -8px;
    display: block;
  }
}

.links {
  max-width: 400px;
  @media screen and (max-width: 992px) {
    max-width: 170px;
    margin: auto;
  }
  @media screen and (max-width: 768px) {
    margin-left: 0;
    margin-top: 25px;
  }

}

.right {
  p {
    margin-top: 53px;
    font-size: 10px;
    opacity: 0.8;
    @media screen and (max-width: 992px) {
      margin-top: 68px;
    }
  }
  .right-wrapp {
    margin-left: auto;
    width: 300px;
    @media screen and (max-width: 768px) {
      margin-left: 0;
      margin-top: 15px;
      p {
        margin-top: 25px;
      }
    }
  }
}

.social-media {
  max-width: 110px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 $space;
  @media screen and (max-width: 992px) {
    margin-top: 35px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }
}
