<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 left">
        <div class="main-info">
          <a class="logo" routerLink='/' aria-label="MainPage">
            <img alt="wagermatch logo"  class="logo" src="../../../assets/_Optimized/wagermatch-logo.svg">
          </a>
          <p>Заключай пари в FIFA 21 и побеждай!</p>
        </div>
        <div  class="d-flex social-media">
          <a aria-label="vkontakte" target="_blank" href="https://vk.com/im?media=&sel=622870598">
            <img src="../../../assets/_Optimized/vk.svg" alt="vkontakte">
          </a>
          <a aria-label="instagram" target="_blank"  href="https://www.instagram.com/wager-match.pro/" style="margin-left: 15px;">
            <img src="../../../assets/_Optimized/instagram.svg" alt="instagram">
          </a>
          <a aria-label="telegram" target="_blank"  href="https://t.me/wager_match" style="margin-left: 15px;">
            <img src="../../../assets/_Optimized/telegram.svg" alt="telegram">
          </a>
          <a aria-label="discord" target="_blank"  [href]="env.discordLink" style="padding-top: 10px;">
            <img src="../../../assets/_Optimized/discord-white.svg" alt="discord" width="100%">
          </a>
        </div>
        <a style="margin-bottom:2px" href="mailto:contact@wager-match.pro">contact@wager-match.pro</a>
        <button (click)="openChat()"  class="chat btn-icon">Онлайн чат</button>
        <a style="margin-top: 10px; display: none;" href="//freekassa.ru/"><img src="//www.free-kassa.ru/img/fk_btn/16.png" title="Приём оплаты на сайте картами"></a>
      </div>
      <div class="col-md-5 middle">
        <ul class="d-lg-flex justify-content-between links">
          <div class="ul-left">
            <li><a (click)="createMatch()">Создать матч</a></li>
            <li><a [routerLink]="['/matches/all-matches']">Все матчи</a></li>
            <li><a [routerLink]="['']" fragment="howItWorks">Как это работает</a></li>
            <li><a [routerLink]="['']" fragment="advantages">Наши преимущества</a></li>
          </div>
          <div class="ul-right">
            <li><a [routerLink]="['info/help']">Помощь пользователю</a></li>
            <li><a [routerLink]="['info/user-agreement']" fragment="gameRules" routerLinkActive='active'>Правила пользования</a></li>
            <li><a [routerLink]="['info/faq']">Частые вопросы</a></li>
            <li><a (click)="forgotPassword()">Забыл пароль</a></li>
          </div>
        </ul>
      </div>
      <div class="col-md-4 right">
        <div class="right-wrapp">
          <ul>
            <li><a [routerLink]="['info/user-agreement']" routerLinkActive='active'>Пользовательское соглашение</a></li>
            <li><a [routerLink]="['info/user-agreement']" fragment="returnPolicy" routerLinkActive='active'>Политика возврата средств</a></li>
            <li><a [routerLink]="['info/user-agreement']" fragment="personalData" routerLinkActive='active'>Политика защиты персональных данных</a></li>
          </ul>
          <p> © Все права защищены <br>
            Сервис Wagermatch не связан, не поддерживается и не спонсируется Electronic Arts,
            Microsoft, Xbox, Sony или Playstation.
            Весь тематический контент, товарные знаки и изображения являются товарными знаками и материалами,
            защищенными авторским правом соответствующих владельцев.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
