<div class="content">
    <button class="btn-icon close" (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
    <p>Чтобы <span>{{action}}</span>, необходимо войти в аккаунт Wagermatch</p>
</div>

