@import '../../../@theme/theme.scss';
.content {
    background-color: #2c2a2a;
    margin: -24px;
    border: 1px solid $c-orange;
    padding: 124px 24px;
    .close {
        top: 30px;
        color: #fff;
    }
    p {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        span {
            color: $c-orange;
            font-weight: 600;
        }
    }
}
