@import '../../../../@theme/theme.scss';

span {
    font-size: 15px;
}
.item {
    margin: auto;
    width: 400px;
    margin-bottom: 10px;
}
.btn {
    width: 220px;
}
.value {
    font-weight: 700;
    width: 200px;
    text-align: left;
    &.uid {
        font-size: 12px;
        margin-top: 5px;
        white-space: nowrap;
    }
    &.payment-data {
        white-space: nowrap;
        color: $c-orange;
        cursor: pointer;
        text-decoration: underline;
    }
}
mat-form-field {
    width: 100%;
}
textarea {
    font-size: 14px;
    padding: 7px 0;
}
.btn-wrapp {
    margin-top: 40px;
    justify-content: space-around;
}