<button class="btn-icon close" (click)="this.dialogRef.close()">
    <mat-icon>close</mat-icon>
</button>
<ng-container *ngIf="!isCancel">
    <h1 mat-dialog-title>Запрос на вывод средств</h1>
    <div class="content" mat-dialog-content>
        <div class="item full-flex">
            <span>Номер:</span>
            <span class="value uid">{{data.uid}}</span>
        </div>
        <div class="item full-flex">
            <span>Пользователь:</span>
            <span class="value">{{data.login}}</span>
        </div>
        <div class="item full-flex">
            <span>Email:</span>
            <span [cdkCopyToClipboard]="data.email" (click)="toastService.success('Email скопирован!')" class="value payment-data">{{data.email}}</span>
        </div>
        <div class="item full-flex">
            <span>Способ вывода:</span>
            <span class="value">{{data.type}}</span>
        </div>
        <div class="item full-flex">
          <span>Вагеров:</span>
          <span class="value">{{data.amount}} <wagers></wagers></span>
       </div>
       <div class="item full-flex">
          <span>К выплате:</span>
          <span span class="value">{{data.toPay}}</span>
        </div>
        <div class="item full-flex">
            <span>Платежные данные:</span>
            <span [cdkCopyToClipboard]="data.payData" (click)="toastService.success('Номер скопирован!')" class="value payment-data">{{data.payData}}</span>
        </div>
        <div class="item full-flex">
            <span>Статус:</span>
            <span class="value">{{data.status}}</span>
        </div>
    </div>
    <div class="btn-wrapp d-flex">
        <button
            class="btn btn-error"
            (click)="isCancel=true">
            Отказать в выводе
        </button>
        <button
            (click)="acceptPayout()"
            class="btn btn-orange">
            Потвердить вывод
            <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
        </button>
    </div>
</ng-container>

<ng-container *ngIf="isCancel">
    <h1 mat-dialog-title>Отказ в выводе средств</h1>
    <mat-form-field class="mt-3" floatLabel="never" appearance="outline">
        <mat-label>Описание решения</mat-label>
        <textarea matInput
            [(ngModel)]="cancelDescription"
            [cdkAutosizeMinRows]="5"
            [matTextareaAutosize]='true'
            [cdkAutosizeMaxRows]="30"
            cdkTextareaAutosize
            [matAutocomplete]="auto">
        </textarea>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let descr of cancelDescriptions" [value]="descr">
            {{descr}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class="btn-wrapp d-flex">
        <button
            class="btn"
            (click)="isCancel=false">
            Вернуться к выводу
        </button>
        <button
            [disabled]='cancelDescription?.length<5'
            (click)="cancelPayout()"
            class="btn btn-error">
            Отказать в выводе
            <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
        </button>
    </div>
</ng-container>
