@import '../../@theme/theme.scss';

.table-wrapp {
  min-height: 300px;
}

.table {
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height: 100%;
  tr.mat-row.expanded-row .table-row.green span, .table-row.green .element, .green .row  {
    border-color: $c-green;
  }
  tr.mat-row.expanded-row .table-row.red span, .table-row.red .element, .red .row  {
    border-color: #f9045a;
  }
  tr.mat-row.expanded-row .table-row.gray span, .table-row.gray .element, .gray .row  {
    border-color: $c-finished;
  }
}

.pagination {
  margin-top: 5px;
  ::ng-deep {
    .mat-paginator-container {
      justify-content: center;
    }
    .mat-paginator-outer-container {
      height: 45px;
    }
    .mat-paginator-container, .mat-select-value, .mat-select-arrow, .mat-icon-button[disabled][disabled] {
      color: #000;
      font-size: 15px;
      &.mat-icon-button[disabled][disabled] {
          opacity: 0.4;
      }
    }
  }
}

tr.mat-header-row {
    height: 38px;
    th {
      border: none;
      text-align: center;
      padding: 0;
      color: #fff;
    }
}

tr.mat-row {
    &.expanded-row .table-row span {
        border-color: $c-orange;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.table-row {
  border: none;
  border-bottom: none;
  text-align: center;
  &:first-of-type {
      padding: 0;
      .element {
          border-left: 1px solid $c-orange;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
      }
  };
  &:last-of-type {
      padding: 0;
      .element {
          border-right: 1px solid $c-orange;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
      }
  }
  .element {
    text-align: center;
    cursor: pointer;
    height: 50px;
    border-bottom: 1px solid $c-orange;
    border-top: 1px solid $c-orange;
    padding: 15px 0;
    margin-top: 14px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    &.finished span{
      color: $c-finished;
    }
    &.yellow span{
      color: $c-yellow;
    }
    span {
        font-size: 14px;
        color: #fff;
    }
  }
}

.table-row .element-wrapp, .element-description .element-wrapp{
  .val {
    color: $c-yellow;
    display: block;
  }
  span {
    font-size: 12px;
    display: block;
  }
  &.description {
    margin-left: 85px;
  }
}

.cdk-column-expandedDetail {
    border-bottom: none;
    &:first-of-type {
        padding: 0;
    }
}

tr.detail-row {
    height: 0;
}

td {
  border: none;
}

.element-detail {
    overflow: hidden;
    display: flex;
}

.element-description {
    width: 100%;
}

.row {
    border: 1px solid $c-orange;
    border-top: none;
    padding: 0 15px;
    margin: 0;
    &.radius {
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    .element-wrapp{
      text-align: center;
    }
}
.row-1 {
    .item {
        width: 33%;
    }
}
.row-2 {
    justify-content: space-around;
}
.row-3 {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.item {
    padding: 5px 0;
    color: #fff;
    line-height: 20px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    .value-btn {
      margin-bottom: 8px;
      a {
        font-size: 14px;
      }
    }
    span {
        font-size: 14px;
        line-height: 18px;
    }
    &.height-auto {
      min-height: 50px;
      height: auto;
      padding: 5px 0;
    }
}
.item-wrapp {
  text-align: center;
  span {
    font-size: 12px;
    display: block;
  }
}
.table-wrapp {
    overflow: auto;
    display: flex;
    &.loading {
        overflow: hidden;
        position: relative;
    }
}

.platform {
  font-size: 25px;
  ::ng-deep {
    fa-icon {
      font-size: 23px;
    }
    .p-name {
      margin-top: -2px;
    }
    .p-name.box {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 768px) {
 .table-row .element {
   min-width: 130px;
 }
}

@media screen and (max-width: 575px) {
  .table-row .element {
    min-width: 105px;
    .element-wrapp>span {
      font-size: 11px;
    }
    span {
      font-size: 13px;
    }
  }
  .item .value-btn a{
    font-size: 13px;
  }
}
