<div *ngIf="data?.length>0" class="table-wrapp">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="table">
        <ng-container matColumnDef="{{column.fieldName}}" *ngFor="let column of columns">
            <th class="table-head" mat-header-cell *matHeaderCellDef> {{column.title}} </th>
            <td class='table-row' mat-cell *matCellDef="let element"
              [ngClass]="{'green': (userUid === element.uidWinner||(isAdmin && !element.isDraw)) && element['status']==='closed',
                            'red': userUid !== element.uidWinner&&!isAdmin && element['status'] ==='closed' && !element.isDraw,
                            'gray' : element.isDraw && element['status'] ==='closed'}">
                <span *ngIf="!column.extraValue" class="element">
                   <span>{{element[column.fieldName]}} </span>
                </span>
                <span *ngIf="column.extraValue==='matchDetail'" class="element">
                  <div class="item-wrapp">
                    <span>{{element[column.fieldName]}} </span>
                    <span>{{element.amount}} <wagers [height]='14' [color]="'white'"></wagers></span>
                  </div>
                </span>
                <span *ngIf="column.extraValue==='payStatus'" class="element" [ngClass]="{'green': element[column.fieldName] =='Завершен', 'red': element[column.fieldName] =='Возврат', 'yellow': element[column.fieldName] =='В ожидании'}">
                  <span>{{element[column.fieldName]}} </span>
              </span>
                <span *ngIf="column.extraValue==='amount'" class="element amount">
                    <span>{{element[column.fieldName]|  currency: ' '}} <wagers [height]='15' [color]="'white'"></wagers></span>
                </span>
                <span *ngIf="column.extraValue=='useName'" class="element">
                    <div class="element-wrapp">
                      <ng-container *ngIf="column.fieldName!=='date'">
                        <span class="title">{{column.title}}:</span>
                        <span class="val">{{element[column.fieldName]}} </span>
                      </ng-container>
                      <ng-container *ngIf="column.fieldName==='date'">
                        <span>{{element[column.fieldName]| date:"H:mm"}}</span>
                        <span>{{element[column.fieldName]| date:"dd.MM.yyyy"}} </span>
                      </ng-container>
                    </div>
                </span>
                <span *ngIf="column.extraValue=='status'"
                   [ngClass]="{'yellow': element['status']=='open', 'finished': element['status']=='closed'}"
                   class="element">
                <span>{{element[column.fieldName]}} </span>
               </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td  [ngClass]="{'green': (userUid === element.uidWinner||(isAdmin && !element.isDraw)) && element['status']==='closed',
                               'red': userUid !== element.uidWinner&&!isAdmin && element['status'] ==='closed' && !element.isDraw,
                             'gray' : element.isDraw && element['status'] ==='closed'}"
                 mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="element-description">
                    <div  [ngClass]="{'radius': rowCount===1&&element['status']!=='closed'}" class="row row-1 full-flex">
                        <ng-container  *ngFor="let column of expandedColumn; let i=index">
                            <div *ngIf="column.row==1" class="item">
                               <span *ngIf="!column.extraValue" class="value">{{element[column.fieldName]}}</span>
                               <span *ngIf="column.extraValue==='platform'" class="value platform">
                                  <app-show-platform class="platform" [platform]='element[column.fieldName]'></app-show-platform>
                               </span>
                               <span *ngIf="column.extraValue==='matchDetail'" class="value">
                                <div class="item-wrapp">
                                  <span>{{element[column.fieldName]}} </span>
                                  <span>{{element.amount}} <wagers [height]='15' [color]="'white'"></wagers></span>
                                </div>
                              </span>
                              <span *ngIf="column.extraValue==='btn'" class="value-btn">
                                <a (click)="btnClicked.emit(element)" class="btn-underline">{{column.title}}</a>
                              </span>
                              <span *ngIf="column.extraValue==='btn2'" class="value-btn">
                                <a (click)="btnClicked2.emit(element)" class="btn-underline">{{column.title}}</a>
                              </span>
                              <span *ngIf="column.extraValue=='useName'" class="value">
                                <div class="element-wrapp">
                                  <span class="title">{{column.title}}:</span>
                                  <span class="val">{{element[column.fieldName]}} </span>
                                </div>
                              </span>
                            </div>
                        </ng-container>
                    </div>
                    <div *ngIf="rowCount>1|| (element['status']=='closed' && rowCount==1)"
                          [ngClass]="{'radius': rowCount<3}" class="row row-2 full-flex">
                        <ng-container  *ngFor="let column of expandedColumn; let i=index">
                            <div *ngIf="column.row===2" class="item" [ngClass]="{'height-auto ': column.fieldName === 'description'}">
                              <span *ngIf="!column.extraValue" class="value">{{element[column.fieldName]}}</span>
                              <span *ngIf="column.extraValue=='useName'" class="value">
                                <div class="element-wrapp" [ngClass]="{'description': column.fieldName === 'description'}">
                                  <span class="title">{{column.title}}:</span>
                                  <span class="val">{{element[column.fieldName]}} </span>
                                </div>
                              </span>
                            </div>
                        </ng-container>
                    </div>
                    <div *ngIf="rowCount>2 || (element['status']=='closed' && rowCount==2)"  class="row row-3 flex-center">
                      <ng-container  *ngFor="let column of expandedColumn; let i=index">
                          <div *ngIf="column.row===3" class="item" [ngClass]="{'height-auto ': column.fieldName === 'description'}">
                            <div class="element-wrapp">
                              <span class="title">{{column.title}}:</span>
                              <span class="val">{{element[column.fieldName]}} </span>
                            </div>
                          </div>
                      </ng-container>
                    </div>
                </div>
            </div>
            </td>
        </ng-container>
        <ng-container *ngIf="useHead">
          <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </ng-container>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="!disableExpand ? (expandedElement = expandedElement === element ? null : element) : null;">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
</div>
<mat-paginator
  *ngIf="usePagination"
  (page)="updatePagination($event, 'page')"
  class="pagination"
  [length]="totalRows"
  [pageSizeOptions]="paginationSizeOptions">
</mat-paginator>
