<h1>Промокоды</h1>
<section>
    <div class="container">
        <app-search-table
          class="table"
          (dropdownUpdate)='status = $event; getList()'
          (paginationUpdate)='getList()'
          [columns]='columns'
          [useSearch]='true'
          [isLoading]='isLoading'
          [dropdownOptions]='statuses'
          [dropdownValue]='status'
          [usePagination]='true'
          [paginationData]='pagination'
          (elementClick)='openPromo($event.row)'
          [data]='promoList'>
        </app-search-table>
        <div *ngIf="!isLoading" class="btn-wrapp">
          <button (click)="openPromo()"  class="btn btn-success ml-auto">Добавить промокод</button>
        </div>
    </div>
</section>
