<section class="flex-center">
    <div class="wrapper">
        <div class="flex-center">
            <h1>404</h1>
            <mat-icon>
                sentiment_very_dissatisfied
            </mat-icon>
        </div>
        <h1>Такой страницы нет</h1>
        <p>Возможно она была удалена, переименована или что-нибудь еще. <br> Ты будешь перенаправлен <a routerLink=''>на главную</a></p>
    </div>
</section>
