@import '../../@theme/theme.scss';
section {
    color: #fff;
    padding: 0 20px;
    h1 {
        text-align: center;
        font-size: 70px;
    }
    mat-icon {
        font-size: 65px;
        margin-left: 10px;
        color: $c-orange;
    }
    p {
        font-size: 18px;
        margin: 30px auto;
        text-align: center;
        max-width: 400px;
        a {
            text-decoration: underline;
            color: $c-orange;
            white-space: nowrap;
        }
    }
    /* 576-768 */
    @media screen and (max-width: 768px){
      h1 {
        font-size: 55px;
      }
    }
    @media screen and (max-width: 575px){
      h1 {
        font-size: 30px;
      }
      mat-icon {
        font-size: 35px;
      }
      p {
        font-size: 15px;
      }
    }
}
