<section>
    <div class="container">
        <div class="col-lg-9 z-index-1">
            <div class="match-list-wrapp">
                <h1 class="text-center">Мои матчи</h1>
                <div class="wrapper">
                  <span (click)="selectedIndex>0? selectedIndex = selectedIndex-1: null" class="arrow arrow--left"><</span>
                  <span (click)="selectedIndex<4? selectedIndex = selectedIndex+1: null" class="arrow arrow--right">></span>
                  <mat-tab-group fitInkBarToContent=true [disablePagination]='true' (selectedIndexChange)='selectedIndex=$event' [selectedIndex]='selectedIndex' class="category">
                    <mat-tab class="label" label="Активные">
                       <app-match-list [status]='"active"'></app-match-list>
                    </mat-tab>
                    <mat-tab class="label" label="Завершенные">
                        <app-match-list [status]='"finished"'></app-match-list>
                    </mat-tab>
                    <mat-tab class="label" label="Споры">
                      <app-match-list [status]='"conflict"'></app-match-list>
                  </mat-tab>
                    <mat-tab class="label" label="Архив">
                        <app-match-list [status]='"archived"'></app-match-list>
                    </mat-tab>
                </mat-tab-group>
                <img alt="img"  class="pad" src="../../../assets/Match/pad-red.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
