@import '../../@theme/theme.scss';

.table-wrapp {
  margin-top: 12px;
  min-height: 300px;
  overflow: auto;
  height: calc(100vh - 340px);
  .head {
    padding: 0 20px;
  }
  table {
    width: 100%;
    &.side-border th.mat-header-cell, &.side-border td {
      border-left: 1px solid $c-gray;
      padding-left: 20px;
      &:last-child {
        border-right: 1px solid $c-gray;
      }
    }
    &.center {
      tr.mat-row td, th.mat-header-cell ::ng-deep .mat-sort-header-container{
        text-align: center;
        justify-content: center;
        padding: 0;
      }
    }
    th.mat-header-cell {
      border-top: 1px solid $c-gray;
      border-bottom: 1px solid $c-gray;
      background-color: #ebebeb;
      color: #000;
      font-weight: 600;
      max-width: 155px;
      padding: 13px 5px;
      text-align: center;
      font-size: 15px;
      font-size: 14px;
      ::ng-deep .mat-sort-header-container {
        justify-content: center;
        .mat-sort-header-content {
          padding-left: 5px;
        }
      }
    }
    tr.mat-header-row {
      height: 50px;
      background-color: $c-table;
    }
    tr.mat-row {
      cursor: pointer;
      height: 50px;
      td {
          line-height: 17px;
          max-width: 140px;
          border-bottom: 1px solid $c-gray;
          color: #000;
          font-weight: 600;
          text-align: center;
          padding: 13px 5px;
          &.number {
            padding-left: 5px;
          }
          &.admin {
            border-top: 1px solid $c-orange;
            border-bottom: 1px solid $c-orange;
            background-color: rgba($color: $c-orange, $alpha: 0.3);
          }
          .login {
            font-weight: 700;
            &:hover {
              border-bottom: 1px solid;
              transition: 1s all;
            }
          }
      }
      &:hover{
          background-color: $c-table;
      }
    }
    ::ng-deep {
      .mat-checkbox-checkmark-path {
        stroke: $c-orange!important;
        stroke-width: 2.53333px;
      }
      .mat-checkbox-layout {
        margin-bottom: 0;
      }
      .mat-checkbox-inner-container {
        height: 20px;
        width: 20px;
      }
      .mat-checkbox-frame {
        border: 1px solid $c-gray;
        border-radius: 6px;
      }
      .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: #fff;
        border: 1px solid $c-gray;
        border-radius: 6px;
      }
      .mat-checkbox-disabled {
        .mat-checkbox-frame {
          border: 1px solid #000;
          border-radius: 6px;
        }
        .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
          background-color: #000;
          border: 1px solid $c-gray;
          opacity: 0.8;
          border-radius: 6px;
        }
      }
    }
  }
}

.filter-wrapp {
  width: 33%;
  position: relative;
  .filter {
    width: -webkit-fill-available;
    border: 1px solid $c-gray;
    border-radius: 6px;
    padding: 13px 38px;
    font-size: 15px;
    margin: auto;
    max-height: 35px;
    &::placeholder {
      color: #C9C9C9;
    }
    &:focus {
      outline: none;
    }
  }
  .search{
    position: absolute;
    left: 8px;
    font-size: 23px;
    top: 6px;
    bottom: 0;
    margin: auto;
    color: $c-gray;
  }
}

.dropdown {
  margin-left: 30px;
  margin-bottom: 15px;
}

.total-count {
  margin-left: auto;
}

.filter-select, .amount-filter, .date-wrapp {
  display: flex;
  align-items: center;
  p {
    font-size: 18px;
    color: #000;
    margin-left: 10px;
  }
  /*checkbox*/
  ::ng-deep {
    .mat-form-field-infix {
        padding-right: 51px;
    }
    .mat-checkbox-checkmark-path {
        stroke: $c-orange!important;
        stroke-width: 2.53333px;
    }
    .mat-checkbox-inner-container {
        height: 22px;
        width: 22px;
    }
    .mat-checkbox-frame {
        border: 1px solid $c-gray;
        border-radius: 6px;
    }
    .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: #fff;
        border: 1px solid $c-gray;
        border-radius: 6px;
    }
  }
}

.date-wrapp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  mat-form-field {
      max-width: 155px;
      min-width: 145px;
      width: 48%;
      &.invalid {
        ::ng-deep {
          .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
            border-color: $c-error;
            border-width: 2px;
          }
        }
      }
      input {
          color: #667E95;
          font-size: 18px;
      }
      ::ng-deep{
          .mat-form-field-infix {
              padding: 1px 0 9px;
              padding-left: 30px;
          }
          .mat-form-field-suffix {
              left: 0;
              position: absolute;
              z-index: 3;
          }
          .mat-form-field-outline-start {
              border: 1px solid $c-gray;
              border-right-style: none;
              background-color: #D4DFEB;
          }
          .mat-form-field-outline-gap {
              border: 1px solid $c-gray;
              border-right-style: none;
              border-left-style: none;
          }
          .mat-form-field-outline-end {
              border: 1px solid $c-gray;
              border-left-style: none;
              background-color: #D4DFEB;
          }
          .mat-form-field-wrapper {
            padding-bottom: 0;
          }
          button {
              color: #667E95;
          }
      }
      &.date-start {
          margin-right: -25px;
          ::ng-deep {
              .mat-form-field-outline-end {
                  border-radius: 0;
                  border-right-style: none;
              }
          }
      }
      &.date-end {
          ::ng-deep {
              .mat-form-field-outline-start {
                  border-left-style: none;
                  border-radius: 0;
              }
          }
      }
  }
}

.btn-select-wrapp {
  margin: 0 30px;
  // border: 1px dashed #787879;
  height: 35px;
  padding: 0 20px;
  border-radius: 6px;
  .btn-select {
    cursor: pointer;
    border-radius: 6px;
    padding: 6px 15px 7px;
    font-size: 16px;
    color: rgba($color: #000000, $alpha: 0.8);
    &:nth-child(2) {
      margin: 0 15px;
    }
    &.active {
      background-color: rgba($color: $c-orange, $alpha: 0.7);
      color: #000;
    }
    &:hover {
      background-color: rgba($color: $c-orange, $alpha: 0.6);
    }
  }
}

.pagination {
  margin: 10px auto 0 0;
  width: 480px;
  ::ng-deep {
    .mat-paginator-container {
      justify-content: center;
    }
    .mat-paginator-outer-container {
      height: 45px;
    }
    .mat-paginator-container, .mat-select-value, .mat-select-arrow, .mat-icon-button[disabled][disabled] {
      color: #000;
      font-size: 15px;
      &.mat-icon-button[disabled][disabled] {
          opacity: 0.4;
      }
    }
  }
}

.green {
  color: $c-dark-green;
}
.red {
  color: $c-error;
}

.yellow {
  color: $c-yellow;
}

.gray {
  color: #9D9D9D;
}
