<div class="content">
  <div *ngIf="useFilters" class="head">
    <div *ngIf="useSearch" class="filter-wrapp">
      <input nbInput
        class="filter"
        fullWidth
        matInput
        (keyup)="textFilter($event)"
        placeholder="Search..."
        name="filter">
      <mat-icon class="search">search</mat-icon>
    </div>
    <div *ngIf="dateFilterData" class="date-wrapp">
      <p>Filter By Date:</p>
      <div class="flex-align">
        <mat-form-field floatLabel="never" class="date-start" [ngClass]="{'invalid': dateFilterData.dateFrom>dateFilterData.dateTo}" appearance="outline">
          <input matInput
                  placeholder="DD/MM/YY"
                  [matDatepicker]="dateStartFilter"
                  [max]="dateFilterData.dateTo"
                  [(ngModel)]="dateFilterData.dateFrom"
                  (dateInput)="dateUpdate($event)">
                  <mat-datepicker-toggle matSuffix [for]="dateStartFilter"></mat-datepicker-toggle>
                  <mat-datepicker #dateStartFilter startView="month"></mat-datepicker>
                  <!-- <span>—</span> -->
        </mat-form-field>
        <mat-form-field floatLabel="never" class="date-end" [ngClass]="{'invalid': dateFilterData.dateFrom>dateFilterData.dateTo}" appearance="outline">
          <input matInput
                  placeholder="DD/MM/YY"
                  [min]="dateFilterData.dateFrom"
                  [matDatepicker]="dateEndFilter"
                  [(ngModel)]="dateFilterData.dateTo"
                  (dateInput)="dateUpdate($event)">
                  <mat-datepicker-toggle matSuffix [for]="dateEndFilter"></mat-datepicker-toggle>
                  <mat-datepicker #dateEndFilter startView="month"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="useButtonsSelect" class="btn-select-wrapp full-flex">
      <div *ngFor="let btn of buttonsSelect" (click)="buttonsSelectUpdate.emit(btn.value)" [ngClass]="{'active': btn.value == buttonsSelectValue}" class="btn-select">
        {{btn.viewValue}}
      </div>
    </div>
    <div *ngIf="dropdownOptions" class="dropdown">
      <mat-form-field class="select">
          <mat-label>Статус</mat-label>
          <mat-select [value]="dropdownValue" (valueChange)='updateDropdown($event)'>
              <mat-option *ngFor="let option of dropdownOptions" [value]="option.value">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
      </mat-form-field>
    </div>
    <div class="total-count">
      <p>Всего: <b>{{totalRows}}</b></p>
    </div>
  </div>
  <div class="table-wrapp">
    <table [hidden]='isLoading||data.length===0' #table mat-table matSort  (matSortChange)="updatePagination($event, 'sort')" [dataSource]="dataSource">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td [ngClass]="{'admin': row.isAdmin}"  mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? toggleRow(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>
          <span>No.</span>
        </th>
        <td class="number" mat-cell *matCellDef="let row; let i = index">
          <span>{{i+1}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th class="center" mat-header-cell *matHeaderCellDef>
          <span>Details</span>
        </th>
        <td class="center" mat-cell *matCellDef="let row; let i = index">
          <span><img alt="img"  src="../../../assets/images/Table/info.svg" alt=""></span>
        </td>
      </ng-container>
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.fieldName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef
            class="header">
          <span>{{column.title}}</span>
        </th>
        <td [ngClass]="{'admin': element.isAdmin}" mat-cell *matCellDef="let element" (click)="elementClick.emit({column: column.fieldName, row: element})">
          <span *ngIf="!column.extraValue" [ngClass]="{'gray': column.extraClass === 'gray', 'login': column.fieldName=='login'}">
                  {{element[column.fieldName] ? element[column.fieldName] : '-'}}
          </span>
          <span *ngIf="column.extraValue==='status'" [ngClass]="{'green': element[column.fieldName]==='Active', 'green': element[column.fieldName]==='active', 'red':element[column.fieldName]==='Blocked', 'yellow':element[column.fieldName]==='inActive'}" (click)="column.action ? column.action($event, element) : null">
            {{element[column.fieldName] ? element[column.fieldName] : '-'}}
          </span>
          <span *ngIf="column.extraValue==='isAdmin'"  (click)="column.action ? column.action($event, element) : null">
            {{element[column.fieldName] ? 'ADMIN' : '-'}}
          </span>
          <span *ngIf="column.extraValue === 'wagers'">
            {{element[column.fieldName]}} <wagers></wagers>
          </span>
          <span *ngIf="column.extraValue === 'date'">
            {{element[column.fieldName] | date: "dd.MM.yyyy H:mm"}}
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="thinner"></tr>
    </table>
    <app-empty-list *ngIf="data.length===0&&!isLoading"></app-empty-list>
    <mat-spinner class="table-spinner" [diameter]="100" [strokeWidth]='7' [style.display]="isLoading ? 'block' : 'none'"></mat-spinner>
  </div>
  <mat-paginator
    [hidden]='isLoading'
    *ngIf="usePagination"
    (page)="updatePagination($event, 'page')"
    class="pagination"
    [length]="totalRows"
    [pageSizeOptions]="paginationSizeOptions">
  </mat-paginator>
</div>
