<section #section>
  <button class="btn-icon scroller flex-center" (click)="toScroll()" [style.opacity]="scrollBtn ? 1 : 0">
    <mat-icon *ngIf="scrollBtn.includes('bottom')" style="color: #fff;">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="scrollBtn.includes('top')" style="color: #fff;">keyboard_arrow_up</mat-icon>
  </button>
  <div class="container">
    <h1 class="text-center">Пользовательское соглашение</h1>
    <div class="wrapper">
      <p class="extra">*Сервис Wagermatch является гарантом, позволяющим пользователям заключать пари при помощи виртуальной валюты на сообственные киберспортивные события.</p>

      <p>Настоящее Пользовательское соглашение приравнивается к договору, составленному в письменной форме. Принимая настоящее Пользовательское соглашение,
        Пользователь выражает полное и безоговорочное согласие со всеми его условиями, в том числе, в части предоставления согласия на обработку персональных данных
        Пользователя на условиях, указанных в приложении №2 настоящего Пользовательского соглашения.
        <strong>В случае несогласия с данными условиями Пользователь должен покинуть Сайт. </strong>
      </p>

      <p>
        Администрация сайта с одной стороны, и лицо, акцептовавшее оферту, размещенную в сети Интернет по постоянному адресу
        <a href="{{fullLink}}/info/user-agreement">{{frontLink}}/info/user-agreement</a>, с другой стороны, заключили настоящее
        Пользовательское соглашение о нижеследующем.
      </p>

      <p>Подтверждая настоящее Пользовательское соглашение Пользователь подтверждает, что ему 18 лет или больше. Администрация может закрыть аккаунт (банн) Пользователя и
        запретить ему в дальнейшем пользоваться услугами, если возраст Пользователя не подтвержден, либо если Администрация подозревает, что Пользователь не
        достиг совершеннолетнего возраста.
      </p>

      <p class="italic">Обращаем Ваше внимание, что заключая Пари на <a href="{{fullLink}}">{{frontLink}}</a>, Вы подтверждаете, что достигли возраста совершеннолетия,
         и законами страны, в которой Вы проживаете, Вам разрешенозаключать пари.
      </p>

      <p class="italic">
        Если у Администрации сайта возникли вопросы касаемо Вашего возраста, она вправе заморозить Ваш аккаунт (банн) и запросить документы для подтверждения Вашего возраста.
        Данное пользовательское соглашение регулирует порядок использования сайта.
      </p>
      <!-- 1-->
      <h3>1. Термины и определения</h3>

      <ul>
        <li>1.1. В настоящем Пользовательском соглашении, если из текста прямо не вытекает иное, следующие термины будут иметь указанные ниже значения:
          <table class="table">
            <tr>
              <td>«Пользовательское соглашение» или «Соглашение»</td>
              <td>Настоящий документ, имеющий односторонний и безоговорочный характер, предлагаемый к принятию Пользователем в формате письменной оферты. Акцепт
                (принятие) настоящего Пользовательского соглашение является обязательным условием предоставления услуг Сервиса. Полным и безоговорочным принятием
                 Соглашения (акцептом в понимании статьи 438 ГК РФ) является осуществление Пользователем регистрации на Сайте.</td>
            </tr>
            <tr>
              <td>«Сервис»</td>
              <td>Комплекс программного обеспечения, предназначенный для услуг, предоставляемых Пользователю с использованием Сайта.</td>
            </tr>
            <tr>
              <td>«Сайт»</td>
              <td>Автоматизированная информационная система, доступна в сети Интернет по сетевому адресу: <a href="{{fullLink}}">{{frontLink}}</a></td>
            </tr>
            <tr>
              <td>«Исполнитель» или «Администрация»</td>
              <td>Вся административная и техническая команда Сервиса, ответственная за его разработку и обеспечение работоспособности, в одном лице. Исполнитель
                находится в прямом контакте с Пользователем и обязуется предоставлять информацию любого характера по вопросам, прямо связанным с использованием Сервиса.
                 Исполнитель является одной из сторон настоящего Пользовательского соглашения.</td>
            </tr>
            <tr>
              <td>«Пользователь»</td>
              <td>Дееспособное физическое лицо, старше 18 лет или достигшее совершеннолетнего возраста, предусмотренного его местным законодательством,
                заключившее Соглашение, расположенное в сети Интернет по адресу <a href="{{fullLink}}/info/user-agreement">{{frontLink}}/info/user-agreement</a></td>
            </tr>
            <tr>
              <td>«Событие»</td>
              <td>Киберспортивное мероприятие, на которое Пользователь может заключить пари. Список Событий доступен на Сайте.</td>
            </tr>
            <tr>
              <td>«Пари» </td>
              <td>Соглашение между Пользователями, которое формируется при помощи сервисов Сайта по указанию Пользователей, совершенным ими на Сайте
                посредством специальных программных команд. </td>
            </tr>
            <tr>
              <td>«Вагеры»</td>
              <td>Виртуальная игровая валюта используемая на сайте и не имеющая материальной ценности.</td>
            </tr>
            <tr>
              <td>«Стороны» </td>
              <td>Исполнитель/Администрация и Пользователь.</td>
            </tr>
            <tr>
              <td>«Правила»</td>
              <td>Правила пользования Сайтом. Текст правил расположен в Приложении №1 и является неотъемлемой частью Соглашения.</td>
            </tr>
          </table>
        </li>
        <li>
            1.2. Настоящее Соглашение устанавливает правила и условия использования Сервиса Пользователями, которые после регистрации или без таковой, осуществляя использование
            Сервиса и его служб, становятся Пользователями Сервиса и услуг, предоставляемых Администрацией.
        </li>
        <li>
            1.3. Использование Пользователем Сервиса, любых его служб, функционала означает безоговорочное согласие Пользователя со всеми пунктами настоящего Соглашения и
            безоговорочное принятие его условий с обязательствами соблюдать обязанности, возложенные на Пользователя по настоящему Соглашению.
        </li>
        <li>
          1.4. Названия заголовков (пунктов) Соглашения предназначены исключительно для удобства пользования текстом Соглашения и буквального
          юридического значения не имеют.
        </li>
        <li>
          1.5. Лицам, не достигшим 18-летнего возраста или возраста (далее – Допустимый возраст), который является обязательным для законного участия в азартных играх по законодательству
          конкретной юрисдикции, запрещено пользоваться Сайтом. Использование Сайта лицами, не достигшими Допустимого возраста, является прямым нарушением Соглашения. В связи
          с этим, мы имеем право запрашивать документы, которые могут подтвердить возраст Пользователя. Пользователю может быть отказано в предоставлении услуг, и действие его
          счета может быть временно приостановлено, если по нашему требованию не будут предъявлены доказательства того, что возраст Пользователя соответствует Допустимому
          возрасту.
        </li>
        <li>
          1.6. Азартные игры онлайн запрещены законом в некоторых юрисдикциях. Принимая Соглашение, Пользователь осознает, что Администрация не может предоставить гарантии
          или юридическую консультацию относительно легитимности использования Сайта на территории юрисдикции, на которой находится Пользователь. Мы не можем утверждать,
          что услуги Сайта не нарушают законов юрисдикции Пользователя. Пользователь пользуется услугами Сайта по собственному желанию, и берет на себя всю ответственность,
          осознавая все возможные риски.
        </li>
        <li>
          1.7. Мы не стремимся предоставить Пользователю услуги, нарушающие законодательство его юрисдикции. Принимая Соглашение, Пользователь подтверждает и гарантирует,
          что использование Сайта соответствует законам и правилам, действующим на территории его юрисдикции. Мы не несем ответственности за незаконное пользование услугами
           Сайта.
        </li>
        <p>Правила пользования расположена в приложении №1. Политика конфиденциальности расположена в приложении №2. <span class="underline">Все приложения являются
          неотъемлемыми частями Соглашения.</span>
        </p>
      </ul>
      <!-- 2-->
      <h3>2. Порядок заключения Соглашения</h3>
      <ul>
        <li>
          2.1. Текст Соглашения, постоянно размещенный в сети Интернет по сетевому адресу <a href="{{fullLink}}/info/user-agreement">{{frontLink}}/info/user-agreement</a>
          содержит все существенные условия Соглашения и является предложением Сервиса заключить Соглашение с любым полностью дееспособным третьим лицом,
          достигшим совершеннолетия.
        </li>
        <li>
          2.2. Надлежащим акцептом настоящей оферты считается осуществление третьим лицом следующих действий:
          <ul>
            <li>
              2.2.1. Проставление символа в специальном поле под заголовком «Я принимаю условия пользовательского соглашения»;
            </li>
            <li>
              2.2.2. Регистрация на Сайте путем перехода по ссылке «Зарегистрироваться» и осуществления авторизации путем перехода по ссылке «Вход».
            </li>
          </ul>
        </li>
        <li>
          2.3. Факт использования Пользователем Сервиса, любых его служб, функционала, а также регистрация Пользователя на Сервисе (создание учетной записи)
          является полным и безоговорочным акцептом настоящего Соглашения, незнание, не ознакомление с условиями которого не освобождает Пользователя от ответственности
           за несоблюдение его условий.
        </li>
        <li>
          2.4. Администрация оставляет за собой право по своему личному усмотрению изменять и/или дополнять Соглашение в любое время без уведомления Пользователя.
          Действующая редакция Соглашения доступна в интерфейсе Сервиса по адресу в глобальной сети Интернет: <a href="{{fullLink}}/info/user-agreement">{{frontLink}}/info/user-agreement</a>
        </li>
        <li>
          2.5. Использование Пользователем Сервиса, любых его служб, функционала после внесения любых изменений и/или дополнений в Соглашение означает согласие
          Пользователя с такими изменениями и/или дополнениями.
        </li>
        <li>
          2.6. Пользователь обязуется регулярно, не реже 1 (одного) раза в 14 (четырнадцать) дней, знакомиться с содержанием настоящего Соглашения в целях своевременного ознакомления
          с его изменениями и/или дополнениями.
        </li>
        <li>
          2.7. Если Вы (Пользователь) не согласны соблюдать настоящее Соглашение, пожалуйста, не используйте Сервис, а если уже являетесь зарегистрированным
          Пользователем, удалите свою учетную запись и/или прекратите использование Сервиса.
        </li>
      </ul>
      <!-- 3 -->
      <h3>3. Предмет Соглашения</h3>
      <ul>
        <li>
          3.1. Сервис предоставляет Пользователю использование Сайта и его программных средств по их прямому назначению, как то предусмотрено явными
          пользовательскими функциями Сайта на территории всего мира и на срок, в течение которого Сайт остается доступным для Пользователя;
        </li>
      </ul>
      <!-- 4 -->
      <h3>4. Использование Сайта</h3>
      <ul>
        <li>
          4.1. Пользователь посредством Сайта имеет возможность:
          <ul>
            <li>4.1.1. Создать свой собственное Пари;</li>
            <li>4.1.2. Подключиться к уже существующим Пари;</li>
            <li>4.1.3. Заключать Пари при помощи Вагеров - виртуальной игровой валюты, не имеющей материальной ценности;</li>
            <li>4.1.4. Просматривать существующие Пари;</li>
            <li>4.1.5. Осуществлять ввод/вывод денежных средств;</li>
          </ul>
        </li>
        <li>
          4.2. Пользуясь Сайтом, Пользователь обязуется, соглашается и гарантирует, что:
          <ul>
            <li>
              4.2.1. Ему уже исполнилось 18 лет или его возраст считается Допустимым возрастом, дающим законное право на участие в азартных играх без
              нарушения действующего законодательства конкретной юрисдикции;
            </li>
            <li>
              4.2.2. Пользователь – полноправный и законный владелец всех средств, которые он, по своему собственному желанию, решил ввести/вывести на
              Сервис. Вся предоставленная игроком информация является достоверной, актуальной и точной;
            </li>
            <li>
              4.2.3. Пользователь полностью осознает, что пользование Сайтом может привести к потере средства; Пользователь берет на себя ответственность за любые
              потери. Пользователь подтверждает, что пользуется Сайтом по своему собственному желанию, решению и на собственный страх и риск.
               Администрация сайта не несёт какую-либо ответственность за потерю финансовых средств Пользователя, связанную с его убытками и проигрышами.
               <strong> Администрация сайта не несет ответственности за потерю финансовых средств вследствие найденных уязвимостей системы и непредвиденных схем
               мошенничества со стороны Пользователей а также сторонних вмешательств.</strong>
            </li>
            <li>
              4.2.4. Пользователь четко понимает общие принципы, правила и процедуры предоставления услуг и специфику предоставления настоящих услуг в Интернете.
               Пользователь осознает, что на нем лежит ответственность за обеспечение правильности данных и заключений Пари. Пользователь соглашается не совершать
               действия и поступки, которые могут нанести вред репутации Сервиса.
            </li>
          </ul>
        </li>
        <li>
          4.3. Пользователю запрещается:
          <ul>
            <li>4.3.1. Обходить технические ограничения, установленные на Сайте;</li>
            <li>4.3.2. Создавать копии экземпляров Сайта, а также его внешнего оформления (дизайна);</li>
            <li>4.3.3. Совершать действия, направленные на изменение функционирования и работоспособности Сайта;</li>
            <li>4.3.4. Использовать названия (никнеймы), содержащие в себе мат, оскорбления, расизм или рекламу;</li>
            <li>4.3.5. Вводить в заблуждение пользователей проекта, путем использования никнеймов «Администратор», «Модератор» и подобных им;</li>
            <li>4.3.6. Проявлять неуважение к другим пользователям, администрации Сайта и всему проекту в целом;</li>
            <li>4.3.7. Оскорблять других Пользователей;</li>
            <li>4.3.8. Распространять ссылки, содержащие рекламу;</li>
            <li>
              4.3.9. Распространять ссылки на сайты, содержащие в себе порнографические, экстремистские или иные материалы, способные навредить нравственному
               или психическому здоровью человека;
            </li>
            <li>4.3.10. Распространять сообщения, содержащие признаки расизма/экстремизма, вирусы, оскорбления, мат,порнографию и рекламу. Также запрещены флуд сообщения;</li>
            <li>
              4.3.11. Использовать чат для осуществления любых сделок вне сайта <a href="{{fullLink}}">{{frontLink}}</a>
            </li>

          </ul>
        </li>
      </ul>
      <!-- 5 -->
      <h3>5. Заключение Пари </h3>
      <ul>
        <li>5.1. Для заключения Пари, Пользователь обязан пополнить баланс. Пополненный баланс конвертируется в Вагеры.</li>
        <li>5.2. Порядок размещения Ставок, а также зачисления выигрышей, устанавливаются <a href="{{fullLink}}/info/user-agreement#gameRules">Правилами (Приложение №1)</a>, а также подробно расписаны в разделе <a href="{{fullLink}}/info/help">Помощь</a>.</li>
        <li>
          5.3. После пополнения баланса на Сайте, Пользователь не должен разглашать пароль и имя пользователя третьей стороне. В случае утраты данных,
           необходимых для получения доступа к счету, их можно узнать или восстановить, воспользовавшись функцией «Восстановить пароль».
        </li>
        <li>
          5.4. Пользователь отвечает за сохранность пароля, а также любые действия и транзакции, произведенные с его счета. Кроме того, Пользователь несет
          ответственность за все убытки, понесенные им в результате действий третьей стороны.
        </li>
        <li>
          5.5. В случае нарушения безопасности и несанкционированного доступа к счету, Пользователь должен незамедлительно известить Администрацию. В случае
          необходимости Пользователь обязан предъявить Администрации доказательства того, что несанкционированный доступ действительно имел место. Администрация
          не несет ответственности за ущерб, полученный игроком в результате неправильного или неосторожного использования имени пользователя и пароля третьей стороной
          или за несанкционированный доступ к балансу Пользователя.
        </li>
      </ul>
      <!-- 6 -->
      <h3>6. Размещение средств</h3>
      <ul>
        <li>6.1. Баланс может быть пополнен с использованием способов оплаты банковскими картами или электронными средствами платежа.</li>
        <li>6.2. Все пополнения баланса должны быть сделаны с аккаунта в платежной системе или кредитной карты, зарегистрированных на Пользователя,
          а также в той же валюте, что и аккаунт Пользователя; любые пополнения в другой валюте будут конвертированы по курсу банка или платежной системы,
          используемой Сервисом, после чего аккаунт Пользователя будет пополнен в соответствии с конвертацией. Пользователь должен принимать во внимание,
          что некоторые платежные системы могут применять дополнительные сборы при конвертации, которые будут вычтены из суммы пополнения баланса.
        </li>
        <li>6.3. Пользователь ответственен за банковские сборы, которые он может понести в процессе размещения средств.</li>
        <li>6.4. Пользователь соглашается полностью оплатить все платежи и сборы Администрации за пользование Сайтом. Пользователь осознает
           и соглашается с тем, что пользовательский аккаунт не является банковским счетом, в связи с чем он не имеет гарантий, страхования или
            любой другой защиты какой-либо системы страхования вкладов или банковских операций, или какой-либо другой аналогичной системой страхования
            какой-либо юрисдикции, включая, но не ограничиваясь, юрисдикцию Пользователя. Кроме того, на аккаунт Пользователя не начисляется процент на какие-либо
            средства, содержащиеся на нем.
        </li>
        <li>6.5. Запрещено размещать средства, полученные от преступной и/или незаконной и/или несанкционированной деятельности.</li>
        <li>6.6. При размещении Пользователем средств с использованием кредитной карты рекомендуется сохранить копию Отчета о транзакциях и копию настоящего соглашения.</li>
      </ul>
      <!-- 7 -->
      <h3>7. Вывод средств</h3>
      <ul>
        <li>7.1. Пользователь имеет право подать запрос на вывод средств при условии, что:
          <ul>
            <li>7.1.1. Все платежи, поступившие на счет, прошли проверку, и ни один из них не был отменен или аннулирован;</li>
            <li>7.1.2. Проверочные действия со стороны Администрации были проведены надлежащим образом.</li>
            <li>7.1.3. Пользователь использовал в Пари не менее 90 (девяноста) процентов средств от суммы депозита, сделанного Пользователем на момент отправки заявки на снятие средств с игрового счета в Wagermatch.</li>
          </ul>
        </li>
        <li>
          7.2. При оформлении заявки на вывод средств, важно учитывать следующие моменты:
          <ul>
            <li>7.2.1. Игровой профиль должен быть полностью заполнен;</li>
            <li>
              7.2.2. Вывод денежных средств с баланса осуществляются только существующими способами вывода, которые приведены на странице
              <a href="{{fullLink}}/my-profile/transactions?payout=true">{{frontLink}}/my-profile/transactions?payout=true</a> ;
            </li>
            <li>
                7.2.3. Если сумма, запрашиваемая на вывод, превышает 1000 USD, с нашей стороны может быть проведена процедура идентификации.
                Для ее осуществления игроку необходимо отправить нам копию или цифровую фотографию документа, удостоверяющего личность Пользователя.
                На изображении документа разрешено закрасить номер и серию паспорта.
            </li>
            <li>7.3. Пользователь несет ответственность за предоставленную платежную информацию, с помощью которой Сервис осуществляет вывод  денежных средств.</li>
            <li>7.4. Сервис имеет право вычесть до 10% комиссионных за каждый вывод средств. Точная сумма комиссии будет указана Пользователю непосредственно при выводе средств.</li>
            <li>7.5. Сроки вывода средств могут быть от 6 часов до 14 дней, в зависимости от загрузки финансового отдела, процедуры верификации личности или других необходимых проверок. О причинах задержки вывода в каждом конкретном случае Пользователь может узнать у Аднинистрацией Wagermatch.</li>
          </ul>
        </li>
      </ul>
      <!-- 8 -->
      <h3 #returnPolicy>8. Политика возврата средств</h3>
      <ul>
        <li>8.1. Возврат Вагеров на игровой счет Пользователя, который создал Пари, производиться в случае:</li>
        <ul>
          <li>8.1.1. Использования функции «Удалить матч».</li>
          <li>8.1.2. При истечении срока действия матча (при условии что соперник не был найден).</li>
        </ul>
        <li>8.2. Возврат Вагеров на игровой счет Пользователя, который присоединился к Пари, производиться в случае:</li>
        <ul>
          <li>8.2.1. Использования функции «Отказаться от участия».</li>
          <li>8.2.2. Использования Пользователем, который создал Пари,  функции «Сменить соперника» или «Удалить матч».</li>
        </ul>
        <li>8.3. В случае подтверждения обоими игроками факта, что «Матч не состоялся», суммы Пари возвращаются на их игровые счета.</li>
        <li>8.4. В случае потери игроком правомерного выигрыша в результате мошенничества, факт которого установлен Арбитражем, сумма Пари возвращается на игровой счет.</li>
        <li>8.5. Возврат игроку денежной суммы вследствие запроса к Администрации,  осуществляется по реквизитам того же счета, с которого было пополнено игровой депозит, со снятием двойной комиссии при соблюдении следующих условий:</li>
        <ul>
          <li>8.5.1. С момента проведения зачисления денежных средств прошло меньше 14 суток.</li>
          <li>8.5.2. Наличия на игровом счету соответствующего запросу количества Вагеров.</li>
          <li>8.5.3. Прохождения процедуры верификации Администрацией реквизитов счета, который был использованы игроком для пополнения депозита.</li>
          <li>8.5.4. Отсутствие фактов нарушения игроком Правил.</li>
        </ul>
        <li>8.6. В случае блокировки аккаунта возврат неиспользованных средств на игровом депозите не производиться.</li>
      </ul>
      <!-- 9 -->
      <h3>9. Особые условия</h3>
      <ul>
        <li>9.1. Сервис не гарантирует, что Сайт соответствует требованиям Пользователя, что доступ к Сайту будет предоставляться непрерывно, быстро, надежно и без ошибок.</li>
        <li>
          9.2. Если в процессе взаимодействия произойдет сбой в работе Сайта, Администрация постарается исправить ситуацию в кратчайшие сроки.
          Мы не несем ответственности за неполадки в средствах информационных технологий, возникшие в результате работы оборудования, используемого
           Пользователями для доступа к Сайту, а также за сбои в работе интернет провайдеров.
        </li>
        <li>
          9.3. На Пользователе лежит риск использования Сайта. Сервис не предоставляет каких бы то ни было гарантий в отношении Сайта.
        </li>
        <li>
          9.4. Программно-аппаратные ошибки, как на стороне Сервиса, так и на стороне Пользователя, приведшие к невозможности получения Пользователем доступа к Сайту,
           являются обстоятельствами непреодолимой силы, и основанием освобождения от ответственности за неисполнение обязательств Сервиса по Соглашению.
        </li>
        <li>9.5. Сервис вправе передавать права и обязанности по соглашению третьим лицам. Настоящим Пользователь дает свое согласие на передачу прав и обязанностей
          Сервиса третьим лицам. Администрация уведомляет Пользователя о состоявшейся уступке путем размещения информации на Сайте.
        </li>
        <li>9.6. Запрещено загружать на Сайт информацию в объеме, способном вызвать сбои в работе Сайта и осуществлять какие-либо другие действия, которые могут
           повлиять на работу ресурса. В данном случае имеются в виду вирусы, вредоносные программы, массовая рассылка и спам – все перечисленное строго запрещено.
           Кроме того, Пользователям запрещено удалять, изменять и редактировать информацию, размещенную на Сайте.
        </li>
        <li>
          9.7. Пользователи могут пользоваться Сайтом исключительно в развлекательных целях. Запрещено копировать Сайт целиком или какую-либо его отдельную часть без письменного согласия Администрации.
        </li>
        <li>
          9.8. Пользователи обязуются не совершать действия, направленные на взлом системы безопасности Сайта, получение незаконного доступа к закрытым данным. По отношению
          к Пользователям, заподозренным в нарушении данного правила, будут применены соответствующие меры: полный запрет на доступ к Сайту и блокировка учетной записи.
          Кроме того, мы имеем право оповестить ответственные органы о незаконных действиях Пользователя.
        </li>
        <li>
          9.9. Мы не несем ответственности за потери и убытки, которые могут понести наши Пользователи или третья сторона вследствие технических сбоев, спровоцированных
           вирусными атаками или другими вредоносными действиями, направленными на Сайт.
        </li>
      </ul>
      <!-- 10 -->
      <h3>10. Ответственность</h3>
      <ul>
        <li>
          10.1. В случае нарушения Пользователем условий Соглашения, Сервис вправе приостановить или прекратить предоставление доступа к определенным или всем
          функциям Сайта (банн) по Учетным данным Пользователя.
        </li>
        <li>10.2. Сервис вправе в любой момент приостановить исполнение Соглашения, в том числе путем ограничения доступа к Сайту или его отдельным функциям.</li>
        <li>
          10.3. Азартные онлайн-игры могут быть незаконны в юрисдикции Пользователя; в таком случае Пользователю запрещено использовать его платежную карту или
          электронную платежную систему для пополнения баланса на Сайте. Пользователь обязан знать и соблюдать законы, применяемые в стране его проживания, которые касаются
          азартных онлайн-игр.
        </li>
        <li>
          10.4. Пользователь самостоятельно принимает решение пользоваться услугами Сайта или нет, и любые действия и их последствия являются следствием личного выбора
          Пользователя.
        </li>
        <li>
          10.5. Работа Сайта осуществляется в соответствие с пунктами данного Соглашения. Мы не предоставляем никаких дополнительных гарантий или заверений по отношению к
          Сайту и услугам, которые предлагаются на нем, и этим исключить свою ответственность (в степени, предусмотренной законом) в отношении всех имеющихся в виду гарантий.
        </li>
        <li>
          10.6. Мы не несем ответственности за правонарушения, халатность, убытки, ущерб и потери, которые мы не можем предусмотреть в данный момент. Администрация не несет
          ответственности за содержание ресурсов, доступ к которым может быть получен посредством этого Сайта.
        </li>
      </ul>
      <!-- 11 -->
      <h3>11. Порядок разрешения споров</h3>
      <ul>
        <li>11.1. Все споры, разногласия и претензии, которые могут возникнуть в связи с исполнением, расторжением или признанием недействительным Соглашения, Стороны будут
          стремиться решить путем переговоров. Сторона, у которой возникли претензии и/или разногласия, направляет другой Стороне в порядке, предусмотренном пунктом 11.1 Соглашения.
          Сообщение должно содержать суть предъявляемого требования и доказательства, подтверждающие требование.
        </li>
        <li>
          11.2. В течение 30 рабочих дней с момента получения указанного сообщения Сторона, получившая его, обязана направить ответ на это сообщение в аналогичном порядке.
        </li>
        <li>
          11.3. В случае если ответ на сообщение не будет получен направившей сообщение Стороной в течение 30 рабочих дней, либо если Стороны не придут к соглашению по
           возникшим претензиям и/или разногласиям, спор подлежит передаче на рассмотрение в судебном порядке по месту нахождения Сервиса.
        </li>
      </ul>
      <!-- 12 -->
      <h3>12. Изменение условий Соглашения</h3>
      <ul>
        <li>
          12.1. Администрация вправе в одностороннем порядке изменять условия Соглашения, при этом такие изменения вступают в силу в течение 1 дня с момента доведения публикации
          новой версии Соглашения на Сайте.
        </li>
        <li>
          12.2. Пользователь обязан ознакомиться с новой версией Соглашения. Продолжение использования функций Сайта будет означать согласие Пользователя с условиями новой версии Соглашения.
           Если Пользователь не согласен с условиями новой версии Соглашения, Пользователь обязан прекратить использование Сайта.
        </li>
      </ul>
      <!-- 13 -->
      <h3>13. Раскрытие рисков</h3>
      <ul>
        <li>
          13.1. Информация, изложенная в этом разделе, предназначена только для Вашего ознакомления и не содержит юридических, налоговых или других советов. Заявление не содержит
          исчерпывающей информации, описывающей азартные онлайн-игры, Вы всегда должны оценивать заключения пари исходя из Ваших целей и материального состояния.
        </li>
        <li>
          13.2. По результатам События Вы можете полностью потерять средства, которые были поставлены для заключения пари.
        </li>
        <li>
          13.3. На выигрыш с Пари накладываются затраты (включая плату за транзакцию и комиссию). В большинстве случаев, в зависимости от Вашей юрисдикции, мы взимаем плату за  списание средств
          на балансе Вашего аккаунта. Вы ответственны за комиссию обслуживающего Вас банка за размещение средств на балансе. Прежде чем Вы начнете пользоваться услугами, предоставляемыми Администрацией сайта,
          Вы должны быть подробно ознакомлены со всеми комиссиями и другими сборами, за которые Вы несете ответственность.
        </li>
        <li>
          13.4. Пользователь принимает на себя риск возникновения финансовых потерь по причине неисправности информационных, коммуникационных, электрических и других систем, используемых для предоставления Администрацией услуг.
        </li>
        <li>
          13.5. Пользователь принимает на себя риск возникновения финансовых потерь, вызванных обстоятельствами непреодолимой силы (форс-мажор).
        </li>
        <li>
          13.6. Настоящее Заявление не имеют своей целью заставить Пользователя отказаться от использования услуг, предоставляемых Администрацией, а призвано помочь Пользователю оценить риски, связанные с азартными онлайн-играми.
        </li>
      </ul>
      <!-- 14 -->
      <h3>14. Политика самоограничения</h3>
      <ul>
        <li>
          14.1. По запросу Пользователя мы закроем его учетную запись на период не менее 6-ти месяцев, в течение которого учетную запись будет невозможно восстановить ни по
           какой причине. Вы можете в любой момент закрыть свою учетную запись в соответствии с нашей политикой самоограничения, сообщив в нашу службу поддержки клиентов имя
           пользователя.
        </li>
        <li>
          14.2. По истечении периода самоограничения вы можете потребовать восстановить учетную запись, обратившись в нашу службу поддержки клиентов, отправив электронное
          письмо с подробной информацией об учетной записи, которую вы хотите восстановить. Все запросы на восстановление закрытого аккаунта будут рассмотрены Администрацией.
           Учетные записи, закрытые в рамках нашей политики самоограничения, не могут быть повторно открыты по какой-либо причине до истечения периода самоограничения.
        </li>
        <li>
          14.3. Если вы просили нас закрыть вашу учетную запись на неопределенный срок, ваша учетная запись не может быть восстановлена по какой-либо причине. Мы будем
          использовать все разумные усилия для обеспечения соответствия нашей политике самоограничения. Тем не менее, вы соглашаетесь с тем, что мы не несем никакой
          ответственности или обязательств, если вы продолжаете пополнять баланс и заключать пари с использованием других аккаунтов или открываете новую учетную запись с
          идентичными персональными данными.
        </li>
        <li>
          14.4. При самоограничении все будущие пари будут утрачены. Мы не сможем восстановить их, если учетная запись будет восстановлена после периода самоограничения. Все остатки
          на балансе должны быть переведены на вашу кредитную карту, банковский счет или любой другой доступный способ оплаты.
        </li>
      </ul>
      <!-- 15 -->
      <h3>15. Политика AML/KYC</h3>
      <ul>
        <li>15.1. Политика Сервиса по борьбе с отмыванием денег и политика «Знай своего клиента» (далее AML/KYC политика) предназначена для предотвращения и смягчения возможных рисков вовлечения
           Сервиса в какой-либо вид незаконной деятельности.
        </li>
        <li>
          15.2. Как международные, так и местные постановления требуют от Сервиса внедрения эффективных внутренних процедур и механизмов для предотвращения отмывания денег,
           финансирования терроризма, торговли наркотиками и людьми, распространения оружия массового уничтожения, коррупции и взяточничества и участия Пользователя в
           какой-либо другой подозрительной деятельности.
        </li>
        <li>
          15.3. Процедура проверки:
          <ul>
            <li>
              15.3.1. Одним из международных стандартов предотвращения незаконной деятельности является проверка благонадежности клиентов (“CDD - Customer Due Diligence ”).
              Согласно CDD, Сервис устанавливает собственные процедуры проверки в рамках стандартов борьбы с отмыванием денег и «Знай своего клиента».
            </li>
            <li>
              15.3.2. Процедура проверки личности требует, чтобы Пользователь предоставил Сервису надежные документы или информацию (например, паспорт, международный паспорт,
               выписку из банка, счет за коммунальные услуги). В целях AML/KYC политики Сервис оставляет за собой право собирать персональную информацию Пользователя.
            </li>
            <li>
              15.3.3. Сервис оставляет за собой право проверять личность Пользователя на постоянной основе, особенно в случаях изменения его персональной информации или
              подозрительных действий (необычных для конкретного Пользователя). Кроме того, Сервис оставляет за собой право запрашивать обновленные документы Пользователя,
              несмотря на то, что Пользователь прошел проверку в прошлом.
            </li>
            <li>
              15.3.4. Персональная информация Пользователя будет собираться, храниться и защищаться строго в соответствии с Политикой конфиденциальности Сервиса. После
              подтверждения личности Пользователя Сервис имеет право снять с себя возможную юридическую ответственность в ситуациях, когда Сайт используется для совершения
              незаконной деятельности.
            </li>
          </ul>
        </li>
        <li>15.4. Мониторинг транзакций
          <ul>
            <li>
              15.4.1. Пользователь гарантирует законность происхождения, владения и наличие у Пользователя законного права использования средств, зачисляемых на аккаунт
              Пользователя.
            </li>
            <li>
              15.4.2. В случае подозрительного или мошеннического зачисления средств, включая использование украденных кредитных карт и/или других действий мошеннического
              характера (включая какие-либо возвраты или отмены платежей), Сервис оставляет за собой право остановить использование Сайта и заблокировать пользовательский
               аккаунт (банн), а также отменить все результаты любых ставок Пользователя.
            </li>
          </ul>
        </li>
        <li>
          15.5. В отношении AML/KYC политики Сервис следит за всеми транзакциями и оставляет за собой право:
          <ul>
            <li>15.5.1. Обеспечить доведение до сведения соответствующих правоохранительных органов транзакций подозрительного характера;</li>
            <li>15.5.2. Запросить у Пользователя предоставление любой дополнительной информации и документов в случае подозрительных транзакций;</li>
            <li>
              15.5.3. Приостановить или прекратить действие пользовательского аккаунта в случае наличия у Сервиса достаточных оснований подозревать, что данный Пользователь
              вовлечен в незаконную деятельность.
            </li>
          </ul>
        </li>
        <li>
          15.6. Представленный выше список не является исчерпывающим, и Сервис будет ежедневно отслеживать транзакции Пользователей для того, чтобы определить какие
          транзакции являются подозрительными, а какие добросовестными.
        </li>
      </ul>
      <!-- 16 -->
      <h3>16. Заключительные положения</h3>
      <ul>
        <li>
          16.1. Настоящим Стороны подтверждают, что при исполнении (изменении, дополнении, прекращении) Соглашения, а также при ведении переписки по указанным вопросам,
          допускается использование аналогов собственноручной подписи Сторон. Стороны подтверждают, что все уведомления, сообщения, соглашения и документы в рамках исполнения
          Сторонами обязательств, возникших из Соглашения, подписанные аналогами собственноручной подписи Сторон, имеют юридическую силу и обязательны для исполнения Сторонами.
           Под аналогами собственноручной подписи понимаются уполномоченные адреса электронной почты и учетные данные.
        </li>
        <li>
          16.2. Стороны признают, что все уведомления, сообщения, соглашения, документы и письма, направленные с использованием уполномоченных адресов электронной почты,
          считаются направленными и подписанными Сторонами. Все действия, совершенные с использованием учетных данных на Сайте (в том числе, направление уведомление,
          сообщений и совершение иных действий, предусмотренных функционалом Сайта), считаются совершенными Пользователем.
        </li>
        <li>
          16.3. Уполномоченными адресами электронной почты Сторон признаются:
          <ul>
            <li>16.3.1. Для Сервиса: <a href="mailto:{{contactEmail}}">{{contactEmail}}</a>.</li>
            <li>16.3.2. Для Пользователя: адрес электронной почты, указанный Пользователем в процессе использования Сайта или страница социальной сети, в случае если адрес электронной почты указан не был.</li>
          </ul>
        </li>
        <li>
          16.4. Стороны обязуются обеспечивать конфиденциальность сведений и информации, необходимых для доступа к уполномоченным адресам электронной почты и Сайту,
          не допускать разглашение такой информации и передачу третьим лицам. Стороны самостоятельно определяют порядок ограничения доступа к такой информации.
        </li>
        <li>
          16.5. До момента получения от второй Стороны информации о нарушении режима конфиденциальности, все действия и документы, совершенные и направленные с помощью
           уполномоченного адреса электронной почты второй Стороны, даже если такие действия и документы были совершены и направлены иными лицами, считаются совершенными и
            направленными такой второй Стороной. В этом случае права и обязанности, а также ответственность наступают у такой второй Стороны.
        </li>
        <li>
          16.6. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных
          положений Соглашения.
        </li>
        <li>
          16.7. Во всем остальном, что не урегулировано Соглашением, Стороны руководствуются действующим законодательством страны Сервиса без учета его коллизионных норм.
        </li>
        <li>
          16.8. Пользователь дает согласие на получение рекламных материалов от Сервиса либо от иных лиц по поручению Сервиса на е-мейл, указанный при использовании Сайта.
        </li>
        <li>
          16.9. Согласие на получение рекламных материалов может быть отозвано Пользователем в любое время путем направления Сервису соответствующего письменного уведомления
           на адрес электронной почты <a href="mailto:{{contactEmail}}">{{contactEmail}}</a> либо путем совершения действий, указанных в сообщениях (электронных письмах), содержащих такие материалы.
        </li>
      </ul>
    </div>
    <h1 #gameRules class="text-center top-margin">ПРИЛОЖЕНИЕ №1</h1>
    <div class="wrapper">
      <!-- Main rules -->
      <h2>ПРАВИЛА ПОЛЬЗОВАНИЯ САЙТОМ</h2>
      <p>
        Администрация сайта сохраняет за собой право обновлять текст правил в любое время и добавлять новые правила. При этом новые правила или новая редакция правил вступают
         в силу и будут применяться сразу же после их опубликования на сайте. Обновленные правила регламентируют все пари, заключенные после их опубликования.
      </p>
      <table class="table">
        <tr>
          <td>«Пользователь/Игрок»</td>
          <td>Дееспособное физическое лицо, старше 18 лет или достигшее совершеннолетнего возраста, предусмотренного его местным законодательством</td>
        </tr>
        <tr>
          <td>«Создатель»</td>
          <td>Пользователь, который создал матч</td>
        </tr>
        <tr>
          <td>«Гость»</td>
          <td>Пользователь, который присоединился к созданному матчу</td>
        </tr>
        <tr>
          <td>«Арбитраж»</td>
          <td>Рассмотрение спорной ситуации администрацией сайта в индивидуальном порядке</td>
        </tr>
      </table>
      <h3>Нарушения и санкции</h3>
      <table class="table violations">
        <tr>
          <th>№</th>
          <th>Нарушение</th>
          <th>Санкция</th>
        </tr>
        <tr *ngFor="let violation of violationsList; let i = index">
          <td>{{i+1}}</td>
          <td>{{violation.text}}</td>
          <td>{{violation.sanction}}</td>
        </tr>
      </table>
      <ng-container *ngFor="let rule of rulesList">
        <h3>{{rule.title}}</h3>
        <p [innerHTML]='rule.text'></p>
      </ng-container>
    </div>
    <h1 #personalData class="text-center top-margin">ПРИЛОЖЕНИЕ №2</h1>
    <div class="wrapper">
      <!-- Personal data policy -->
      <h2>ПОЛИТИКА ПО ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
      <p>Сервис обязуется соблюдать и защищать Вашу конфиденциальность.</p>
      <p>
        Настоящая политика по защите персональных данных (вместе с настоящим Пользовательским соглашением) регулируют сбор, обработку и использование Вашей
        персональной информации. Мы определяем «Персональную информацию» как информацию, которая идентифицирует Вашу личность, например, Ваше имя, адрес проживания,
        адрес электронной почты, Ваши пари и т.д.
      </p>
      <p>Настоящая Политика содержит положения, применимые к настоящему Сервису. </p>
      <p>
        Контролером и обработчиком персональных данных пользователей настоящего сайта является Администрация сайта (далее по тексту - <strong>«Администрация»</strong> или <strong>«мы»</strong>).
      </p>
      <p>
        <strong>Субъекты персональных данных</strong> – это посетители настоящего сайта и/ или лица, которые используют функциональные возможности настоящего сайта
        (далее по тексту – <strong>«Пользователи»</strong> или <strong> «Вы»</strong>).
      </p>
      <p>«Администрация» и «Пользователь» при совместном упоминании далее именуются «Стороны», а каждый отдельно - «Сторона».</p>
      <p>Настоящая Политика объясняет, как мы используем и защищаем любые персональные данные, которые мы собираем о наших пользователях.</p>
      <ul class="marked">
        <p>Мы соблюдаем принципы, установленные General Data Protection Regulation (Regulation (EU) 2016/679), а именно персональные данные:</p>
        <li>	Обрабатываются нами законно, честно и «прозрачно» в отношении пользователей;</li>
        <li>	Собираются для определенных, явных и законных целей и не обрабатываются в дальнейшем таким образом, который несовместим с этими целями («ограничение цели»);</li>
        <li>	Являются адекватными, соответствующими и ограниченными тем, что необходимо в отношении целей, для которых они обрабатываются («принцип минимизации данных»);</li>
        <li>
          	Точные и, при необходимости, обновленные; каждый разумный шаг должен быть предпринят для обеспечения того, чтобы персональные данные, которые были неточными,
           с учетом целей, для которых они были обработаны, были стерты или исправлены без задержки («точность»);
        </li>
        <li>
          	Хранятся в форме, которая позволяет идентифицировать пользователей не дольше, чем это необходимо для целей, для которых обрабатываются
           персональные данные; («ограничение хранения»);
        </li>
        <li>
          	Обрабатываются таким образом, который обеспечивает надлежащую защиту персональных данных, включая защиту от несанкционированной или незаконной обработки,
           а также от случайной потери, уничтожения или повреждения с использованием соответствующих технических или организационных мер («целостность и конфиденциальность»).
        </li>
      </ul>
      <ul>
        <p>
          <strong>Перечень информации, которая собирается и обрабатывается Администрацией в отношении пользователей:</strong>
        </p>
        <li>
          <h4>Как мы будем использовать Ваши персональные данные </h4>
          <p>
            Мы используем Ваши персональные данные для идентификации личности пользователя при регистрации на нашем сайте, для идентификации Вашей личности для
            правильности осуществления платежей от пользователя Компании и от Компании пользователю. Мы используем Ваши платежные данные, а именно: ФИО держателя карты,
            номер кредитной карты и дата окончания срока действия карты. Эта информация используется для целей предоставления Вам услуг на нашем сайте.
          </p>
        </li>
        <li>
          <h4>Мы используем Ваши персональные данные для таких главных целей: </h4>
          <p>
            для предоставления Вам наших услуг; для поддержания Вашего аккаунта и записей;
            для коммуникаций с Вами в рамках предоставления услуг; для предоставления ответов на Ваши вопросы и комментарии;
            для мониторинга динамики и уровней использования нашего сайта и качества наших услуг;
            для определения заинтересованности нашими услугами; для улучшения качества услуг и нашего веб-сайта;
            для уведомления Вас о наших специальных предложениях и услугах, которые могут быть интересны для Вас;
            для определения Вашего опыта на нашем сайте; для перечисления Вам выигрыша (в случае наличия оснований для такого действия);
            для получения информации от Вас, в том числе путем проведения опросов; для разрешения споров; для взимания платы (в случае наличия оснований);
            для устранения проблем и ошибок на нашем сайте; для предотвращения потенциально запрещенной или незаконной деятельности;
            для обеспечения соблюдения условий предоставления наших услуг и наших Политик.
          </p>
        </li>
        <li>
          <h4>Раскрытие Ваших персональных данных</h4>
          <p>
            Ваши персональные данные для целей, описанных выше, могут раскрываться (передаваться) Администрацией любой нашей аффилированной компании или
            бизнес партнерам (независимо от их территориального расположения). Мы гарантируем, что такие компании осведомлены о правильности обработки персональных
            данных, согласно General Data Protection Regulation (Regulation (EU) 2016/679), и соблюдают положения данного нормативного акта. Мы и указанные выше компании
            можем время от времени привлекать третьих лиц для обработки Ваших персональных данных для целей, указанных выше, при условии, если такая обработка будет
            регулироваться договорными отношениями, оформленными в установленной законом форме. В случае, если это требуется или разрешено законом, Ваши персональные данные
            могут быть также раскрыты соответствующему государственному, регулирующему или исполнительному органу.
          </p>
        </li>
      </ul>
      <ul>
        <p>
          <strong>Права и обязанности Сторон.</strong>
        </p>
        <li>
          <h4>Права Пользователя:</h4>
          <p>- требовать от Администрации исправления или удаления персональных данных или предоставлять Администрации возражения против такой обработки;</p>
          <p>- предоставлять неполные персональные данные Администрации (при условии предоставления дополнительного заявления с объяснением причин); </p>
          <ul class="marked">
            <p>- устанавливать ограничение обработки, если имеет место одно из следующих условий:</p>
            <li>точность персональных данных оспаривается Вами в течение периода, позволяющего Администрации проверить точность персональных данных;</li>
            <li>обработка является незаконной, и Вы выступаете против удаления персональных данных и вместо этого требует ограничения их использования;</li>
            <li>Администрации больше не нужны персональные данные для целей обработки, но они требуются Вами для установления, реализации или защиты юридических требований;</li>
            <li>Вы возражали против обработки своих персональных данных до проверки законных оснований для обработки таких данных у Администрации;</li>
          </ul>
          <p>
            - запрашивать и получать персональные данные о Вас, которые были предоставлены Вами Администрации, в структурированном, обычно используемом и машиночитаемом
            формате путем оформления соответствующего запроса и передавать эти данные другому контроллеру без помех со стороны Администрации;
          </p>
          <p>- быть проинформированным на предмет того, хранит ли Администрация информацию о Вас;</p>
          <p>- запрашивать у Администрации точную цель (цели) обработки и категории Ваших персональных данных, которые обрабатываются Компанией; </p>
          <p>- запрашивать доступ к персональным данным, которые Администрация хранит в отношении Вас;</p>
          <p>
            - запрашивать предполагаемый период, на протяжении которого Ваши персональные данные будут храниться Администрацией, а в случае, если
            это невозможно, - критерии, согласно которым определяется срок хранения такой информации;
          </p>
        </li>
        <li>
          <h4>Обязанности Пользователя:</h4>
          <p>
            - предоставлять свои точные и правдивые персональные данные в полном объеме, согласно условиям предоставления услуг, размещенным на нашем сайте,
            и настоящей Политики;
          </p>
          <p>
            - незамедлительно предоставлять Администрации свои обновленные персональные данные в случае их изменения;
          </p>
          <p>
            - незамедлительно уведомлять Администрацию о факте несанкционированного получения третьим лицом Ваших персональных данных, если ему стало известно о таком факте;
          </p>
          <p>
            - уведомить Администрацию в случае возникновения несогласия с какой-либо из целей обработки данных или желания прекратить обработку своих персональных данных
            Администрацией путем отправки соответствующего сообщения на электронный адрес: <a href="mailto:{{contactEmail}}">{{contactEmail}}</a>
          </p>
          <p>
            - Пользователь полностью осознает, что отправка уведомления о несогласии с какой-либо из целей обработки персональных данных Администрацией и/ или о намерении
             прекратить обработку своих персональных данных, является основанием для прекращения взаимоотношений Сторон в рамках условий предоставления услуг, размещенных
              на настоящем сайте.
          </p>
          <p>
            - Вы самостоятельно несете ответственность за правдивость, точность и актуальность своих персональных данных, предоставленных Администрации.
          </p>
        </li>
        <li>
          <h4>Права Администрации:</h4>
          <p>
            - расторгнуть с Вами договорные отношения, предусмотренные Соглашением, размещенными на сайте, в случае непредставления Вами согласия на обработку Ваших
            персональных данных для целей, указанных в настоящей Политике;
          </p>
          <p>
            - вносить изменения в условия настоящей Политики в одностороннем порядке без предварительного согласования с Вами.
          </p>
        </li>
        <li>
          <h4>Обязанности Администрации: </h4>
          <p>
            - Администрация обязана сообщать о любом исправлении или стирании персональных данных, или ограничении обработки персональных данных пользователя каждому третьему
            лицу, ранее получившему персональные данные пользователя от Администрации в целях реализации целей обработки данных, установленных настоящим соглашением, если это не
             является невозможным и не требует применения несоизмеримых усилий Администрацией;
          </p>
          <p>
            - информировать пользователя о получателях его персональных данных (третьих лицах), если от такого пользователя поступил соответствующий запрос;
          </p>
          <p>
            - по запросу пользователя предоставлять ему в структурированном, обычно используемом и машиночитаемом формате его персональные данные, которые хранятся Администрацией;
          </p>
          <p>
            - в случае факта утечки персональных данных пользователя уведомить надзорный орган в течение 72 часов с момента получения информации о наличии такого факта. Если
            уведомление надзорного органа в течение 72 часов является невозможным, Администрация обязана сообщить надзорному органу причины задержки в уведомлении;
          </p>
          <p>
            - незамедлительно уведомить пользователя об утечке его персональных данных в случае, если такая утечка может создать угрозу правам и свободам такого пользователя.
          </p>
          <p>
            - Стороны также имеют все права и обязанности, предусмотренные General Data Protection Regulation.
          </p>
        </li>
        <li>
          <h4>Сроки хранения  </h4>
          <p>
            Полученных Администрацией персональных данных распространяются на всё время отношений сторон, определенных Соглашением, размещенным на сайте , а также на три последующих года с
             момента прекращения отношений Сторон (для решения возможных спорных вопросов).
          </p>
        </li>
        <li>
          <h4>Правовая защита </h4>
          <p>
            Сервис обязан соблюдать Федеральный закон от 27.07.2006 N 152-ФЗ (ред. от 25.07.2011) "О персональных данных"; General Data Protection Regulation (Regulation (EU) 2016/679) и Electronic
             Communications Privacy Directive (Directive 2002/58/EC) с последующими изменениями.
          </p>
        </li>
        <li>
          <h4>Доступ, исправления и удаление данных</h4>
          <p>
            Если Вы желаете просмотреть какую-либо персональную информацию, которую мы храним в отношении Вас или если Вы хотите внести изменения в Ваши персональные данные или удалить их, если Вы хотите
              получить информацию о том, как Ваши персональные данные используются, как мы обеспечиваем конфиденциальность Ваших персональных данных, Вы можете подать нам соответствующий запрос. Такой запрос
            должен быть подан Вами Администрации в письменном виде, а также должен содержать Ваше имя, адрес и описание информации, с которой Вы желаете ознакомиться/ исправить или удалить. Данный запрос
            может быть подан Вами по электронному адресу <a href="mailto:{{contactEmail}}">{{contactEmail}}</a> .
          </p>
          <p>
            С целью соблюдения конфиденциальности, при подаче запроса, Вам также необходимо подать подтверждение, идентифицирующее Вашу личность. Для данной цели
            Вам необходимо приложить к запросу копию Вашего паспорта. Мы оставляем за собой право на взыскание разумной платы за повторяющиеся запросы, запросы на
            дополнительные копии тех же данных и/ или запросы, которые считаются явно необоснованными или чрезмерными. Мы также можем отказаться от предоставления
            ответов на запросы, которые посчитаем явно необоснованными или чрезмерными.
          </p>
        </li>
        <li>
          <h4>IP-адреса</h4>
          <p>
            Мы можем собирать информацию о Вашем компьютере, включая IP-адрес, операционную систему и информацию о браузере в целях администрирования и сообщения информации нашим рекламодателям. Это статистическая
            информация о моделях поведения пользователя и не содержит данных о конкретных пользователях.
          </p>
        </li>
        <li>
          <h4>Файлы cookie</h4>
          <p>
            Мы используем функцию браузера, известную как «cookie», которая присваивает индивидуальный идентификатор Вашему компьютеру. Файлы cookie обычно хранятся на
             жестком диске Вашего компьютера. Информация, собираемая из файлов cookie, используется для оценки эффективности использования нашего Сайта, анализа трендов и
             администрирования. Информация, собираемая из файлов cookie, позволяет нам определить самые посещаемые места Сайта, а также трудности, которые возникают у
             посетителей. Благодаря этой информации мы можем улучшить качество Вашего использования Сайта, распознавая и предоставляя наиболее желаемые функции и информацию,
             а также устраняя трудности доступа.
          </p>
          <p>
            Для лучшего понимания использования Сайта мы прибегаем к услугам сторонних поставщиков, которые размещают файлы cookie на жестком диске Вашего компьютера и
            получают данные, которые информируют нас о модели использования Сайта посетителями, наиболее просматриваемых продуктах и транзакциях. Наши поставщики услуг
            анализируют информацию и предоставляют нам агрегированный отчет. Предоставляемая аналитика будет использоваться для того, чтобы помочь нам лучше понять интересы
            посетителей Сайта. Информация, собираемая сторонними поставщиками услуг может быть связана с информацией, которую мы собираем о Вас в процессе использования
            Сайта. Использование информации, получаемой сторонними поставщиками услуг с Сайта, ограничено оказанием услуг Сервису.
          </p>
          <p>
            Используя Сайт Вы соглашаетесь с тем, что мы можем использовать файлы cookie в целях, изложенных выше.
          </p>
        </li>
        <li>
          <h4>Ссылки</h4>
          <p>На нашем Сайте могут быть ссылки на другие сайты и ресурсы, предоставленные третьими сторонами. Политика конфиденциальности относится только к нашему Сайту.
             Для доступа к сторонним сайтам или источникам требуется покинуть наш Сайт. Мы не управляем сторонними сайтами и их контентом; Вы соглашаетесь с тем, что мы
             никоим образом не несем ответственности за сторонние сайты, включая, но не ограничиваясь, их контентом, политикой, сбоями, рекламными акциями, продуктами,
             сервисом или действиями и/или любыми убытками, потерями или проблемами, связанные с этими сайтами. Мы рекомендуем Вам ознакомиться с политиками, правилами,
             соглашениями и положениями, включая политику конфиденциальности, каждого сайта, который Вы посещаете.
          </p>
        </li>
        <li>
          <h4>Изменения</h4>
          <p>
            Политики Сайта, контент, информация, рекламные акции, раскрытие информации, отказ от ответственности могут быть пересмотрены, изменены, обновлены и/или дополнены
            в любое время без предварительного уведомления на усмотрение Сервиса.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
