@import '../../../@theme/theme.scss';

section {
  padding: 30px 0;
  min-height: calc(100vh);
  position: relative;
  h1 {
    color: #fff;
    margin-bottom: 17px;
    &.top-margin {
      margin-top: 20px;
    }
  }
  .scroller {
    opacity: 0;
    position: fixed;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #FF9E22;
    top: 90%;
    right: 3%;
    transition: 0.5s all;
    &:hover {
      background-color: #ff9400;
      transition: 1s all;
    }
  }
}

.wrapper {
  margin: auto;
  width: 98%;
  background-color: rgba($color: #000000, $alpha: 0.4);
  border-radius: 10px;
  padding: 20px 30px 20px;
  color: #fff;
  h3, h2 {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 14px;
    font-weight: 600;
  }
  p, li, table, ::ng-deep p {
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    line-height: 25px;
    margin-top: 13px;
    b, strong {
      font-weight: 600;
    }
    a {
      border-bottom: 1px solid;
    }
    .underline {
      text-decoration: underline;
    }
  }
  ::ng-deep img {
    max-height: 40px;
    max-width: 40px;
    margin: 5px auto;
  }
  table {
    margin: 20px 0;
    color: #fff;
    &.violations {
      td, th {
        &:first-of-type {
          width: 30px;
        }
      }
    }
    td, th {
      border-right: 1px solid #fff;
      &:first-of-type {
        width: 30%;
        border-left: 1px solid #fff;
      }
    }
    tr:last-of-type {
      td, th {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

@media screen and (max-width: 575px) {
    .container {
      padding: 0;
    }
    .wrapper {
      padding: 10px 20px 10px;
      border-radius: 0;
      width: 100%;
    }
    .table td {
      font-size: 12px;
      padding: 8px;
    }
}

@media screen and (max-width: 390px) {
  .table td {
    font-size: 11px;
    padding: 6px;
  }
}
