@import '../../@theme/theme.scss';

aside {
    // min-width: 186px;
    // width: 24%;
    margin: auto;
    height: 48px;
    align-items: baseline;
    justify-content: space-between;
}

.btn-icon {
    color: #fff;
    font-size: 25px;
    width: 120px;
    position: relative;
    &.orange, &:hover {
        color: $c-orange;
        &.gray {
            background-color: #3b3a3a;
            border-radius: 10px;
        }
        &.light-gray {
            background-color: rgba($color: #686868, $alpha: 0.3);
            border-radius: 10px;
        }
    }
    &:disabled:not(.orange) {
        opacity: 0.5;
    }
    &:first-child {
        margin-right: 3px;
    }
    &:last-child {
        margin-left: 3px;
    }
}

.p-name {
    font-size: 13px;
    margin-top: -5px;
    font-weight: 400;
    white-space: nowrap;
}
