<aside class="d-flex">
  <button [ngClass]="{'orange': actualPlatform?.includes('Ps'), 'gray': theme === 'gray', 'light-gray': theme === 'light-gray'}"
          [disabled]='disabled'
          (click)="choosePlatform('Ps')"
          type="button"
          class="btn-icon">
          <fa-icon [icon]="Ps4Icon"></fa-icon>
          <p *ngIf="actualPlatform?.includes('Ps')" class="p-name">{{actualPlatform}}</p>
  </button>
  <button [ngClass]="{'orange': actualPlatform?.includes('Xbox'), 'gray': theme === 'gray', 'light-gray': theme === 'light-gray'}"
          [disabled]='disabled'
          (click)="choosePlatform('Xbox')"
          type="button"
          class="btn-icon">
          <fa-icon [icon]="XboxIcon"></fa-icon>
          <p *ngIf="actualPlatform?.includes('Xbox')" class="p-name">
            <ng-container *ngIf="actualPlatform==='XboxSeries'">
                  Series X|S
            </ng-container>
            <ng-container *ngIf="actualPlatform==='XboxOne'">
                  Xbox One
            </ng-container>
          </p>
  </button>
</aside>
