<button class="btn-icon close" (click)="dialogRef.close()">
  <mat-icon>close</mat-icon>
</button>
<h1 *ngIf="!editData" mat-dialog-title>Добавить промокод</h1>
<h1 *ngIf="editData" mat-dialog-title>Изменить промокод</h1>

<div mat-dialog-content>
  <form [formGroup]="form" autocomplete="off" class="form">
    <div class="full-flex">
      <div class="field-wrapp">
        <mat-form-field>
          <mat-label>Начало промо</mat-label>
          <input formControlName='dateFrom' matInput
                [matDatepicker]="dateFrom"
                [min]="minDate"
                [max]="form.get('dateTo').value">
          <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
          <mat-datepicker #dateFrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="field-wrapp">
        <mat-form-field>
          <mat-label>Конец промо</mat-label>
          <input formControlName='dateTo' matInput
                  [matDatepicker]="dateTo"
                  [min]="form.get('dateFrom').value ? form.get('dateFrom').value : minDate">
          <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
          <mat-datepicker #dateTo></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <p class="duration">Количество дней: <span class="orange bold">{{durationDays}}</span></p>
    <div class="field-wrapp">
      <mat-form-field>
          <mat-label>Код</mat-label>
          <input  matInput
                  formControlName='code'
                  type="text">
      </mat-form-field>
    </div>
    <div class="field-wrapp">
      <mat-form-field>
          <mat-label>Бонус</mat-label>
          <input  matInput
                  step = '10'
                  formControlName='value'
                  type="number">
                  <wagers  class="inputImage wager" [height]='21'></wagers>
      </mat-form-field>
    </div>
    <div class="field-wrapp">
      <mat-form-field>
          <mat-label>Минимальная сумма</mat-label>
          <input  matInput
                  step = '10'
                  formControlName='minAmount'
                  type="number">
                  <wagers  class="inputImage wager" [height]='21'></wagers>
      </mat-form-field>
    </div>
    <button *ngIf="!editData"
        [disabled]="form.invalid || isLoading"
        class="btn btn-orange mt-3 w-100"
        (click)="addPromo()">
        <span>Добавить бонус</span>
        <mat-spinner *ngIf="isLoading" [diameter]='20'></mat-spinner>
    </button>

    <div class="full-flex mt-3" *ngIf="editData">
      <button [disabled]="isLoading"
            (click)="deletePromo()"
            class="btn btn-error">
            <span>Удалить</span>
      </button>
      <button [disabled]="form.invalid || isLoading"
            (click)="editPromo()"
            class="btn btn-orange">
            <span>Изменить бонус</span>
            <mat-spinner *ngIf="isLoading" [diameter]='20'></mat-spinner>
      </button>
    </div>


  </form>
</div>
