@import '../../../../@theme/theme.scss';

.inputImage {
  position: absolute;
  height: 37px;
  right: 0;
  margin-top: 3px;
}

.field-wrapp {
  margin: 0;
}

.duration {
  text-align: left;
  border: 1px solid $c-gray;
  padding: 5px;
  margin-bottom: 3px;
}
