<h1>Финансы</h1>
<section>
    <div class="container">
        <app-search-table
          class="table"
          (paginationUpdate)='paginationUpdate($event)'
          [columns]='columns'
          [useSearch]='true'
          [isLoading]='load'
          [totalRows]='totalRows'
          [useButtonsSelect]='true'
          [buttonsSelect]='statuses'
          [buttonsSelectValue]='actualStatus'
          (buttonsSelectUpdate)='statusUpdate($event)'
          [usePagination]='true'
          [paginationData]='paginationData'
          (elementClick)='openUser($event)'
          [data]='data'>
        </app-search-table>
    </div>
</section>