<div class="content">
  <button class="btn-icon close" (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
  <h2>Промокод: <span style="font-weight: 600;" class="green">{{promo.code}}</span></h2>

  <div class="info">
    <p class="bonus-size">Размер бонуса: <span class="orange">{{promo.value}}</span> <wagers [color]="'orange'" [height]='17'></wagers></p>
    <p class="bonus-min-amount">Минимальная сумма пополнения для активации промокода: <span class="orange">{{promo.minAmount}}</span> <wagers [color]="'orange'" [height]='14'></wagers></p>
  </div>

</div>


