@import '../../@theme/theme.scss';
.content {
    background-color: #2c2a2a;
    margin: -24px;
    border: 1px solid $c-orange;
    padding: 55px 24px;
    text-align: center;
    .close {
        top: 30px;
        color: #fff;
    }
    h2 {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        @media screen and (max-width: 575px){
          font-size: 17px;
        }
    }
    p {
      color: #fff;
      font-weight: 100;
    }
    .bonus-size {
      margin-top: 10px;
      font-size: 15px;
    }
    .bonus-min-amount {
      font-size: 12px;
      max-width: 300px;
      margin: 30px auto 0;
    }
}
