<aside>
    <div class="container">
        <div class="wrapper full-flex">
            <mat-tab-group (selectedIndexChange)='actualTab=$event' fitInkBarToContent=true disablePagination=true class="category">
                <mat-tab label="Выплаты">
                    <table *ngIf="payout.length>0" class="d-none d-md-table">
                        <tr>
                          <th>Дата</th>
                          <th>Описание</th>
                          <th>Статус</th>
                          <th>Сумма</th>
                        </tr>
                        <tr [@fade] *ngFor= "let income of toShowPayouts">
                          <td class="date">{{income.date|date:"dd.MM.yy H:mm"}}</td>
                          <td class="description"> <a>{{income.description}}</a></td>
                          <td [ngClass]="{'green': income.status =='Завершен', 'red': income.status =='Возврат', 'yellow': income.status =='В ожидании'}">{{income.status}}</td>
                          <td class="amount">{{income.amount|  currency: ' '}}</td>
                        </tr>
                    </table>
                    <app-expanded-table
                      *ngIf="actualTab==0"
                      class="expanded-table payout d-md-none"
                      [columns]='columnsMobile'
                      [rowCount]='1'
                      [useHead]='true'
                      [data]='toShowPayouts'>
                    </app-expanded-table>
                    <p *ngIf="payout.length===0">На данный момент список выплат пуст</p>
                    <div *ngIf="payout.length>0&&!loading&&actualTab==0" class="bottom-wrapp full-flex">
                        <ngb-pagination class="pagination-wrapp"
                                        [collectionSize]="payout.length"
                                        [(page)]="activePagePayouts"
                                        [pageSize]="toShow"
                                        [maxSize]="10"
                                        [rotate]="true"
                                        (pageChange)=onChangePage(true)>
                            <ng-template ngbPaginationPrevious class="">
                                <button class="btn-icon step mr-2">
                                    <mat-icon>arrow_back</mat-icon>
                                </button>
                            </ng-template>
                                <ng-template ngbPaginationNumber let-page>
                                    <button class="btn-icon page">
                                        {{page}}
                                    </button>
                                </ng-template>
                            <ng-template ngbPaginationNext>
                                <button class="btn-icon step ml-2">
                                    <mat-icon>arrow_forward</mat-icon>
                                </button>
                            </ng-template>
                        </ngb-pagination>
                    </div>
                </mat-tab>
                <mat-tab label="Пополнения">
                    <table *ngIf="incomes.length>0" class="d-none d-md-table">
                        <tr>
                          <th>Дата</th>
                          <th>Описание</th>
                          <th>Статус</th>
                          <th>Сумма</th>
                        </tr>
                        <tr [@fade] *ngFor= "let income of toShowIncomes">
                          <td class="date">{{income.date|date:"dd.MM.yy H:mm"}}</td>
                          <td class="description"><a>{{income.description}}</a></td>
                          <td [ngClass]="{'green': income.status =='Завершен', 'red': income.status =='Возврат', 'yellow': income.status =='В ожидании'}">{{income.status}}</td>
                          <td class="amount">{{income.amount|  currency: ' '}}</td>
                        </tr>
                    </table>
                    <app-expanded-table
                      *ngIf="actualTab==1"
                      class="expanded-table incomes d-md-none"
                      [columns]='columnsMobile'
                      [rowCount]='1'
                      [useHead]='true'
                      [data]='toShowIncomes'>
                    </app-expanded-table>
                    <p *ngIf="incomes.length===0">На данный момент список пополнений пуст</p>
                    <div *ngIf="incomes.length>0&&!loading&&actualTab==1" class="bottom-wrapp full-flex">
                        <ngb-pagination class="pagination-wrapp"
                                        [collectionSize]="incomes.length"
                                        [(page)]="activePageIncomes"
                                        [pageSize]="toShow"
                                        [maxSize]="10"
                                        [rotate]="true"
                                        (pageChange)=onChangePage(false)>
                            <ng-template ngbPaginationPrevious class="">
                                <button class="btn-icon step mr-2">
                                    <mat-icon>arrow_back</mat-icon>
                                </button>
                            </ng-template>
                                <ng-template ngbPaginationNumber let-page>
                                    <button class="btn-icon page">
                                        {{page}}
                                    </button>
                                </ng-template>
                            <ng-template ngbPaginationNext>
                                <button class="btn-icon step ml-2">
                                    <mat-icon>arrow_forward</mat-icon>
                                </button>
                            </ng-template>
                        </ngb-pagination>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <!-- <button (click)="openPayout()" class="btn btn-orange">
                Вывод средств
            </button> -->
        </div>
    </div>
</aside>
