@import '../../@theme/theme.scss';

.header {
    position: relative;
    margin: 60px 0 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    text-align: center;
    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: flex-end;
        .text-info {
            text-align: right;
        }
    }
    @media screen and (max-width: 575px) {
        justify-content: center;
        padding-bottom: 4px;
        margin-top: 75px;
        .text-info {
            text-align: center;
        }
        p {
            line-height: 18px;
        }
    }
    .enemy-wrapp {
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        align-items: flex-end;
        bottom: 7px;
        position: absolute;
        left: 0;
        .circle {
            margin-right: 10px;
            height: 42px;
            width: 42px;
            font-size: 12px;
        }
        span {
            margin-bottom: 5px;
        }
        @media screen and (max-width: 575px) {
            bottom: 50px;
        }
    }
    p {
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        letter-spacing: 0.11em;
        &.description {
            font-size: 12px;
            letter-spacing: 0.04em;
        }
    }
}

.circle {
    border-radius: 50px;
    background-color: $c-orange;
    color: #fff;
    text-transform: uppercase;
}

.chat-action {
    margin: auto;
    padding-right: 20px;
    margin-bottom: 20px;
    width: 93%;
    height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    @media screen and (max-width: 575px) {
      padding-right: 10px;
    }
    .message {
        max-width: 50%;
        margin: 9px 0 5px;
        font-size: 13px;
        display: table;
        .text {
            padding: 10px 20px 13px;
            border-radius: 23px;
        }
        &.read {
            margin-bottom: 15px;
        }
        &.own {
            margin-left: auto;
            margin-right: 3px;
            position: relative;
            .text {
                background-color: $c-orange;
                color: #fff;
            }
            .circle {
                background-color: #E8E8E8;
                height: 20px;
                width: 20px;
                color: #000;
                font-size: 6px;
                font-weight: 500;
                position: absolute;
                bottom: -15px;
                right: -3px;
            }
        }
        &.enemy {
            width: fit-content;
            display: flex;
            align-items: flex-end;
            .circle {
                height: 28px;
                width: 28px;
                min-width: 28px;
                color: #000;
                font-size: 9px;
                font-weight: 500;
                margin-right: 7px;
            }
            .text {
                background-color: #E8E8E8;
            }
        }
        @media screen and (max-width: 575px) {
          max-width: 85%;
          margin: 4px 0 4px;
          .text {
              padding: 8px 15px 11px;
              line-height: 16px;
          }
        }
    }
}

.chat-sending {
    position: relative;
    display: flex;
    align-items: center;
    width: 87%;
    margin: auto;
    ::-webkit-scrollbar {
        width: 0.15rem;
        height: 0.15rem;
    }
    .textarea {
        width: 100%;
        color: #fff;
        font-size: 15px;
    }
    .send {
        border-radius: 50px;
        background-color: #2ABA26;
        height: 39px;
        width: 39px;
        color: #fff;
        margin-left: 15px;
        padding: 9px;
        &:disabled {
            opacity: 0.6;
        }
        mat-spinner {
          margin: auto;
          display: block;
            ::ng-deep circle, .mat-spinner circle{
                stroke: #fff;
            }
        }
    }
    ::ng-deep {
        .mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 0.25em 0 0.65em 0;
        }
        .mat-form-field-appearance-outline .mat-form-field-wrapper {
            margin: 0;
            padding: 0;
        }
        .mat-form-field-outline-start {
            border: none;
            background: transparent;
        }
        .mat-form-field-outline-gap {
            border: 1px solid #C2C2C2;
            border-radius: 20px;
            border-right-style: none;
            border-left-style: none;
        }
        .mat-form-field-outline-end {
            border: 1px solid #C2C2C2;
            border-radius: 20px;
            background: transparent;
        }
        textarea {
            min-height: 20px;
            padding: 0 20px;
            &::placeholder {
                color: #C2C2C2;
                opacity: 0.5;
                font-size: 13px;
            }
        }
    }
    @media screen and (max-width: 575px) {
        width: 100%;
        .send {
            margin-left: 5px;
            margin-right: 5px;
        }
        textarea {
            padding: 0 10px;
        }
    }
}

.tiblock {
    align-items: center;
    display: flex;
    height: 14px;
    margin-left: 1px;
}

.ticontainer {
    font-size: 13px;
    position: absolute;
    color: #8c8b8b;
    top: -21px;
    left: 27px;
    align-items: flex-end;
    .tidot {
        background-color:#8c8b8b;
    }
}
.tidot {
    -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
    border-radius: 50%;
    display: inline-block;
    height: 3px;
    margin-right: 2px;
    width: 3px;
}

@-webkit-keyframes mercuryTypingAnimation{
0%{
  -webkit-transform:translateY(0px)
}
28%{
  -webkit-transform:translateY(-5px)
}
44%{
  -webkit-transform:translateY(0px)
}
}

.tidot:nth-child(1){
    -webkit-animation-delay:200ms;
}
.tidot:nth-child(2){
    -webkit-animation-delay:300ms;
}
.tidot:nth-child(3){
    -webkit-animation-delay:400ms;
}
