<div (mouseenter) ="isUnread?checkReadStatus():null"
     (mouseleave) ="isUnread?checkReadStatus():null"
     (mouseenter)="isUnread?checkReadStatus():null"
     (mousedown)="isUnread?checkReadStatus():null"
     (mouseup)="isUnread?checkReadStatus():null"
     class="container">
    <div class="header">
        <div class="enemy-wrapp d-flex">
            <div class="circle flex-center">
                {{userName| slice:0:2}}
            </div>
            <span>{{userName}}</span>
        </div>
        <div class="text-info">
            <p>Это чат с твоим соперником</p>
            <p class="description">Здесь ты можешь пообщаться с ним</p>
        </div>
    </div>
    <div #chatArea class="chat-action">
        <div *ngFor="let message of messages" class="rows">
            <div [matTooltipShowDelay]="500" matTooltip="{{message.date|date:'dd.MM.yy  H:mm'}}" matTooltipPosition='left'
                *ngIf="message.isOwner" class="message own" [ngClass]="{'read': message.lastRead}">
                <div class="text">{{message.message}}</div>
                <div *ngIf="message.lastRead" class="circle flex-center">
                    {{userName| slice:0:2}}
                </div>
            </div>
            <div matTooltip="{{message.date| date:'dd.MM.yy  H:mm'}}" matTooltipPosition='right' *ngIf="!message.isOwner" class="message enemy">
                <div class="circle flex-center">
                    {{userName| slice:0:2}}
                </div>
                <div class="text">{{message.message}}</div>
            </div>
        </div>
    </div>
    <div class="chat-sending">
        <div *ngIf="isTyping" class="ticontainer d-flex">
            печатает
            <div class="tiblock"><div class="tidot"></div><div class="tidot"></div><div class="tidot"></div></div>
        </div>
        <mat-form-field class="textarea" floatLabel="never" appearance="outline">
            <textarea matInput
                #textArea
                (keypress)="sendTypingStatus(true)"
                (keyup)="sendTypingStatus(false)"
                (keydown.enter)="onKeydown($event)"
                (keyup.enter)="sendMessage()"
                cdkTextareaAutosize
                placeholder="Напиши своему сопернику.."
                cdkAutosizeMinRows="1"
                [(ngModel)]="newMessage"
                [matTextareaAutosize]='true'
                cdkAutosizeMaxRows="5">
            </textarea>
        </mat-form-field>
        <button [disabled]='!newMessage' (click)="sendMessage(); textArea.focus()" class="btn-icon send ">
            <mat-icon *ngIf="!isSending">keyboard_arrow_right</mat-icon>
            <mat-spinner *ngIf="isSending"  [diameter]='20'></mat-spinner>
        </button>
    </div>
</div>
