.mat-select-panel-wrap, .mat-select-panel-wrap .mat-select-panel {
  .pay-option {
    padding-left: 55px;
    font-size: 19px;
    @media screen and (max-width: 576px) {
      font-size: 15px;
      padding-left: 48px;
    }
  }

}

.pay-field {
  @media screen and (max-width: 576px) {
    .trigger, .mat-input-element {
      font-size: 15px;
    }
  }
}

.mat-select-value, .mat-select-panel-wrap {
  .option-icon {
    height: 27px;
    left: 14px;
    position: absolute;
    bottom: 16px;
    @media screen and (max-width: 576px) {
      height: 21px;
      bottom: 12px;
    }
    &.choosed {
        bottom: -2px;
        left: auto;
        right: 15px;
    }
  }
}

.payment-select {
  .select .mat-select-value {
    padding-bottom: 0;
  }
  .mat-option .mat-option-text{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 19px;
      @media screen and (max-width: 576px) {
        font-size: 15px;
      }
  }
  .trigger {
      justify-content: space-between;
      img {
          margin-top: 0px!important;
      }
  }
}




