@mixin btn-border-slide($color, $hoverColor, $borderWidth, $time) {
  $easing: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;


  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: $borderWidth;
    width: 100%;
    background-color: $color;
  }

  @media screen and (min-width: 768px) {
    &:hover {
      & > * {
        & > span {
          &:after {
            transform: translate3d(0, 0, 0);
          }
          & > * {
            &:after {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
    }
  }

  &:active {
    & > * {
      & > span {
        &:after {
          transform: translate3d(0, 0, 0);
        }
        & > * {
          &:after {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }

  & > * {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: $borderWidth;
      right: 0;
      background-color: $color;
    }
    & > span {
      &:after {
        content: "";
        position: absolute;
        left: 0;
        z-index: 9;
        height: $borderWidth;
        width: 100%;
        background-color: $hoverColor;
        bottom: 0;
        transform: translate3d(105%, 0, 0);
        transition: transform $time $easing;
      }
      & > * {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          z-index: 9;
          height: 100%;
          width: $borderWidth;
          background-color: $hoverColor;
          right: 0;
          transform: translate3d(0, 105%, 0);
          transition: transform $time $easing;
        }
      }
    }
  }
}
