$c-orange: #f99a04;
$c-gray: #787879;
$c-green: #14E50F;
$c-dark-green: #22bf1f;
$c-yellow: #fff700;
$c-disabled: #aaaaaa;
$c-black: #020202;
$c-finished: #b5b5b5;
$c-terms-link: #888484;
$br-left-orange: 2px solid rgba(249, 154, 4, 0.65);
$br-botton-orange: 2px solid rgba(249, 154, 4, 0.5);

$c-success: #16b116;
$c-error: #ef1010;
$c-warning: #ffaf26;
$c-info: #4ca6ff;
$c-fon: #a5a5a5;
$c-cms: #ebeff5;
$c-table: rgba($c-cms, 0.5);


@mixin bg-main {
    background: #2c2b2b; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #2c2b2b 0%, #2b2b2b 50%, #5b5656 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #2c2b2b 0%,#2b2b2b 50%,#5b5656 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #2c2b2b 0%,#2b2b2b 50%,#5b5656 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2b2b', endColorstr='#5b5656',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin bg-all-matches {
    background: transparent linear-gradient(323deg, #999595 0%, #7C7979 14%, #3C3A3A 44%, #444141 73%, #454242 77%, #4B4848 100%) 0% 0% no-repeat padding-box;
}

@mixin match-hover {
    .wagers {
        height: 17px;
        width: 20px;
        position: relative;
        display: inline-block;
    }
    .coin {
        position: absolute;
        left: 0;
        -webkit-transition: all 500ms ease-in;
        -moz-transition: all 500ms ease-in;
        -o-transition: all 500ms ease-in;
        transition: all 500ms ease-in;
        &.after {
            opacity: 0;
        }
    }
    &:hover {
        color: inherit;
    }
    @media screen and (min-width: 768px) {
        &:hover{
            margin-left: -19px;
            margin-right: -19px;
            border: none;
            color: #fff;
            transition: all 500ms linear;
            padding: 12px 19px 15px;
            .coin {
                &.before {
                    opacity: 0;
                }
                &.after {
                    opacity: 1;
                }
            }
            .enemy-with-ally {
                img {
                    opacity: 0;
                }
                &::before {
                    opacity: 1;
                }
            }
            &::before{
                opacity: 1;
            }
            &::after {
                opacity: 0;
            }
        }
        &::before{
            background: #444443; /* Old browsers */
            background: -moz-linear-gradient(-45deg,  #444443 0%, #2b2b2b 50%, #898782 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg,  #444443 0%,#2b2b2b 50%,#898782 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg,  #444443 0%,#2b2b2b 50%,#898782 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444443', endColorstr='#898782',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            -webkit-transition: all 500ms ease-in;
            -moz-transition: all 500ms ease-in;
            -o-transition: all 500ms ease-in;
            transition: all 500ms ease-in;
            opacity: 0;
        }
    }
    &::after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        background: rgba(249, 154, 4, 0.5);
        bottom: 0;
        left: 0;
    }
    &.occupied::after {
        background: linear-gradient(90deg, rgba(249,154,4,0.5) 85%, rgba(255,63,63,1) 100%);
    }
    &.match-finished::after, &.my-match-finished::after {
        background: linear-gradient(90deg, rgba(249,154,4,0.5) 85%, rgba(181,181,181,1) 100%);
    }
    &.archived::after {
        background:#505050;
    }
}

@mixin icons($height){
    .svg {
        display: flex;
        height: $height;
    }
}

@mixin match-list() {
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 1px 0 20px;
  width: 100%;
  &.on-load{
      min-height: calc(100vh - 150px);
      opacity: 20%;
  }
  .match-list__line{
      margin: 50px 0 40px;
      border-top: 2px solid $c-orange;
      display: flex;
      justify-content: space-around;
      position: relative;
  }
  .item-wrapp {
      position: absolute;
      top: -27px;
      &:first-child{
          left: 70px;
          img{
              height: 25px;
              width: auto;
          }
      }
      &:nth-child(2) {
          right: 50%;
      }
      &:last-child {
          right: 132px;
          img{
              height: 27px;
          }
      }
      img{
          height: 29px;
          width: auto;
      }
  }
  .match-list__head-icons{
      height: 55px;
      width: 55px;
      border-radius: 50px;
      background-color: $c-orange;
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
  }
  .item {
      position: absolute;
      z-index: 10;
      display: flex;
      top: 27px;
      font-size: 17px;
      font-weight: 700;
      left: 43px;
      &.time {
          left: 47px;
      }
      .btn-icon {
          padding: 4px 0 0 0;
          mat-icon {
              font-size: 20px;
          }
      }
  }
  .platform {
    margin-right: 7px;
    min-width: 25px;
  }
  .bottom-wrapp {
      font-size: 16px;
      font-weight: 700;
      padding: 0 30px;
      ::ng-deep {
          .pagination-wrapp {
              width: 100%;
          }
          .pagination {
              justify-content: center;
          }
          .page-item {
              .page-link {
                  padding: .5rem 2px;
                  background-color: transparent;
                  display: flex;
                  color: #000;
                  border: none;
                  &:focus {
                      box-shadow: none;
                  }
                  .btn-icon.step {
                      width: 23px;
                      height: 23px;
                      align-items: center;
                      display: flex;
                      padding: 0;
                      justify-content: center;
                      border: 1px solid;
                      border-radius: 50%;
                      mat-icon {
                          font-size: 17px;
                      }
                  }
              }
              &:first-child {
                  margin-right: auto;
              }
              &:last-child {
                  margin-left: auto;
              }
              &.active a{
                  background-color: transparent;
                  .page {
                      font-weight: 700;
                  }
              }
              &.disabled .page-link{
                  color: $c-disabled;
                  .btn-icon {
                      border-color: $c-disabled;
                      mat-icon {
                          color: $c-disabled;
                      }
                  }
              }
          }
      }
  }
    @media screen and (max-width: 992px) {
        .match-list__line {
            margin-bottom: 50px;
        }
        .item-wrapp {
            .item {
                left: -3px;
                top: 35px;
                font-size: 15px;
                .btn-icon {
                padding-top: 2px;
                }
            }
            &:nth-child(2) {
                right: 44%;
            }
            &:first-child {
                left: 46px;
                .item {
                    left: 5px;
                }
            }
            &:last-child {
                right: 45px;
            }
        }
        .match-wrapp {
            height: 77px;
        }
        .match-list__match .match-list__match-data {
            height: 45px;
        }
        .match-list__match .user-info {
            align-items: flex-start;
            flex-direction: column-reverse;
            margin-bottom: 0px;
            .platform-logon {
              margin-top: 5px;
            }
            .icons-wrapp {
                justify-content: flex-start;
                align-items: center;
                .enemy-with-ally {
                    display: flex;
                    img, &::before {
                        background-size: 21px;
                        max-height: 21px;
                    }
                }
                img {
                &:first-child {
                    margin-right: 3px;
                }
                max-height: 22px;
                }
            }
        }
        .match-list__match .date {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .bottom-wrapp ::ng-deep .page-item span {
            display: none;
        }
        .matches-wrapp {
            padding: 0 15px;
        }
    }
    @media screen and (max-width: 768px) {
        z-index: 9;
    }
    @media screen and (max-width: 575px) {
        .item-wrapp {
            &:nth-child(2) {
                right: auto
            }
            &:first-child {
                left: 35px;
            }
            &:last-child {
                right: 31px;
            }
        }
        .match-list__match {
            font-size: 14px;
        }
        .match-list__date {
            font-size: 11px;
        }
    }
}

/* ANGULAR theme changing */
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$mat-myapp-accent: (
    50 : #fef3e1,
    100 : #fde1b4,
    200 : #fccd82,
    300 : #fbb84f,
    400 : #faa92a,
    500 : #f99a04,
    600 : #f89203,
    700 : #f78803,
    800 : #f67e02,
    900 : #f56c01,
    A100 : #ffffff,
    A200 : #fff1e8,
    A400 : #ffd1b5,
    A700 : #ffc29c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$primary: mat-palette($mat-myapp-accent);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
