<app-table-page>
    <mat-spinner  [diameter]="100" [style.display]="!error? 'block' : 'none'"></mat-spinner>
    <ng-container *ngIf="error">
        <div class="img-wrapp mb-4">
          <img alt="img"  src="../../../assets/LoginRegister/vk.svg" alt="vk logo">
        </div>
        <h1>Упс! Что то пошло не так...</h1>
    </ng-container>
    <p *ngIf="error" class="redirect">Ты будешь перенаправлен <a routerLink=""> на главную</a></p>
</app-table-page>
