@import '../../../@theme/theme.scss';
aside {
    // height: calc(100vh - 235px);
    .wrapper {
        align-items: baseline;
    }
    h4 {
        margin-bottom: 10px;
        text-align: center;
        line-height: 45px;
    }
    ::ng-deep {
        .mat-tab-body-content {
            overflow: hidden;
        }
        .mat-tab-group {
            width: 100%;
            position: relative;
        }
        .mat-tab-header {
            border: none;
        }
        .mat-tab-label {
            padding: 0;
            min-width: 85px;
            margin-right: 30px;
            margin-top: -2px;
        }
        .mat-tab-label-content {
            font-size: 18px;
            font-weight: 200;
            color: #fff;
        }
        .mat-tab-label-active {
            opacity: 1;
            .mat-tab-label-content {
                font-weight: 600;
            }
        }
        .mat-tab-list .mat-ink-bar {
            background-color: #fff;
        }
    }
    .btn {
        margin-right: 40px;
        position: absolute;
        right: 0;
        z-index: 4;
    }
    table {
        margin-top: 50px;
        font-size: 15px;
        width: 100%;
        font-weight: 200;
        tr {
            th {
                font-weight: 200;
                font-size: 16px;
            }
            text-align: center;
            margin-bottom: 10px;
            height: 52px;
            border-bottom: 1px solid $c-orange;
        }
        td {
            max-width: 440px;
            min-width: 69px;
            padding: 5px 0;
            &.date {
                width: 125px;
            }
            &.description {
                padding: 5px 25px;
            }
        }
        .red {
            color: $c-error;
        }
        .green {
            color: $c-success;
        }
        .yellow {
            color: $c-yellow;
        }
        // .amount {
        //     font-weight: 700;
        // }
    }
    p {
        text-align: center;
        margin-top: 70px;
    }
    ::ng-deep {
        .pagination-wrapp {
            width: 100%;
        }
        .pagination {
            justify-content: center;
            align-items: center;
        }
        .page-item {
            .page-link {
                padding: .5rem 2px;
                background-color: transparent;
                display: flex;
                color: #fff;
                border: none;
                &:focus {
                    box-shadow: none;
                }
                .btn-icon {
                    color: #fff;
                    font-weight: 200;
                }
                .btn-icon.step {
                    width: 23px;
                    height: 23px;
                    align-items: center;
                    display: flex;
                    padding: 0;
                    justify-content: center;
                    border: 1px solid;
                    border-radius: 50%;
                    mat-icon {
                        font-size: 16px;
                    }
                }
            }
            &:first-child {
                margin-right: auto;
            }
            &:last-child {
                margin-left: auto;
            }
            .page {
                font-size: 17px;
            }
            &.active a{
                background-color: transparent;
                .page {
                    font-weight: 600;
                }
            }
            &.disabled .page-link{
                color: $c-disabled;
                .btn-icon {
                    border-color: $c-disabled;
                    mat-icon {
                        color: $c-disabled;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .description {
      width: 370px;
      line-height: 25px;
    }

}

@media screen and (max-width: 992px){
  .container {
    padding: 0;
  }
  aside ::ng-deep .expanded-table {
    .row-1 .item {
      width: 100%;
      span {
        // text-align: left;
        line-height: 16px;
      }
    }
    .table-row .element {
        &.yellow span {
            color: $c-yellow;
        }
        &.green span {
            color: $c-green;
        }
        &.red span {
            color: $c-error;
        }
    }
    &.payout .table-row .element.amount span {
      font-weight: 700;
    }
    &.incomes .table-row .element.amount span {
    //   color: $c-success;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 575px) {
  aside {
    .btn {
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
    }
    .wrapper {
      margin-top: 60px;
    }
    ::ng-deep .mat-tab-label {
      width: 50%;
    }
  }
}
