<aside>
    <div class="container">
        <form [formGroup]="form" class="wrapper" autocomplete="off">
            <h4>Сменить пароль</h4>
            <p>Старый пароль</p>
            <mat-form-field floatLabel="never" appearance="outline">
                <input  matInput
                        type="password"
                        placeholder=" Впиши свой старый пароль"
                        formControlName = "password">
            </mat-form-field>
            <p>Новый пароль</p>
            <mat-form-field floatLabel="never" appearance="outline">
                <input  matInput
                        type="password"
                        placeholder=" Впиши свой новый пароль"
                        formControlName = "passwordNew">
            </mat-form-field>
            <p>Потверждение нового пароля</p>
            <mat-form-field floatLabel="never" appearance="outline">
                <input  matInput
                        type="password"
                        placeholder=" Впиши еще раз свой новый пароль"
                        formControlName = "passwordConfirm">
            </mat-form-field>
             <button type="submit"
                    [disabled]=form.invalid
                    (click)="!isLoad ? savePassword(): null"
                    class="btn btn-orange">
                    Сохранить
                    <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
            </button>
        </form>
    </div>
</aside>
