<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <a routerLink=''><img alt="img"  class="logo" src="../../../assets/_Optimized/wagermatch-logo.svg" alt="Wagermatch logo"></a>
      </div>
      <div class="col-6">
        <ul class="d-flex">
          <li class="first">
            <a routerLinkActive='active' [routerLink]="['cms/dashboard']">Панель управления</a>
          </li>
          <li>
            <a routerLinkActive='active' [routerLink]="['cms/conflicts']">Конфликты</a>
          </li>
          <li>
            <a routerLinkActive='active' [routerLink]="['cms/users']">Пользователи</a>
          </li>
          <li>
            <a routerLinkActive='active' [routerLink]="['cms/finance']">Финансы</a>
          </li>
          <li>
            <a routerLinkActive='active' [routerLink]="['cms/promo']">Промокоды</a>
          </li>
          <li>
            <a routerLinkActive='active' [routerLink]="['cms/logs']">Логи</a>
          </li>
        </ul>
      </div>
      <div class="col-4">
        <ul class="right d-flex">
          <li>
            <a routerLinkActive='active' [routerLink]="['my-profile/setting']">Мой профиль</a>
          </li>
          <li class="important">
            <a routerLinkActive='active' [routerLink]="['cms/main-settings']">Настройки</a>
          </li>
          <li>
            <button class="btn-icon" (click)="logout()"  mat-menu-item>Выйти</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
