@import '../../@theme/theme.scss';

.toolbar {
  background-color: $c-orange;
}

.container {
  max-width: none;
  padding-left: 50px;
  padding-right: 50px;
}

ul {
  li:not(.first) {
    margin-left: 25px;
  }
  .important a{
    color: $c-orange;
  }
  li a {
    &.active, &:hover {
      text-decoration: underline;
    }
  }
  &.right {
    justify-content: flex-end;
    align-items: center;
  }
}

.row {
  align-items: center;
}

ul li button {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-left: 30px;
}
