@import '../../../@theme/theme.scss';
aside {
    .wrapper:first-child {
        padding-bottom: 13px;
        border-bottom: 1px solid $c-orange;
        margin-bottom: 35px;
    }
    h4 {
        margin-bottom: 24px;
        text-align: center;
        line-height: 45px;
    }
    h5 {
        margin-bottom: 30px;
        margin-right: 4px;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
    }
    .amount {
        align-items: baseline;
        img {
            margin: 2px 0 4px 3px;
        }
    }
    a {
        font-size: 16px;
        margin: auto;
        text-align: center;
        display: table;
        &.btn {
            width: 185px;
        }
    }
}
.circle-wrapp {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    span {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
    }
}

.round-wrapp {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    align-items: center;
    span {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

@media screen and (max-width: 768px) {
  aside {
    h4 {
      margin-bottom: 0;
      line-height: 25px;
    }
    .wrapper:first-child {
      border: none;
      padding: 0;
      margin-bottom: 30px;
    }
    .amount {
      justify-content: flex-end;
    }
    .name-value {
      display: flex;
    }
  }
  .statistics {
    h5 {
      margin: 25px 0 20px;
    }
  }
  .payout, .in-game {
    margin: 0 -150px;
    padding: 14px 150px 35px;
  }
  .payout {
    margin-top: 30px;
    background-color: rgba($color: #C2C2C2, $alpha: 0.11);
  }
  .in-game {
    background-color: rgba($color: #C2C2C2, $alpha: 0.21);
  }
}
