<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xl-9 z-index-1">
                <div class="match-list-wrapp">
                    <h1 class="text-center">
                        <button (click)="back()" class="btn-icon d-md-none">
                            <img alt="img"  src="../../../../assets/Main/arrow-left.png" alt="">
                        </button>
                         Все матчи
                    </h1>
                    <div *ngIf="loading" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    <div class="match-list" [ngClass]="{'on-load': loading}">
                        <div  class="match-list__line">
                            <div class="item-wrapp">
                                <div class="match-list__head-icons">
                                    <img alt="img"  src="../../../../assets/Main/icons8-футбол-50.png" alt="">
                                </div>
                                <span class="item">Игрок</span>
                            </div>
                            <div class="item-wrapp">
                                <div class="match-list__head-icons">
                                    <img alt="img"  src="../../../../assets/Main/icons8-время-встречи-50.png" alt="">
                                </div>
                                <span class="item time">Время
                                    <button class="btn-icon" (click)="changeSort(true)">
                                        <mat-icon class="black-icon" matTooltip="Сортировать по дате создания" matTooltipPosition='above'>
                                            swap_vert
                                        </mat-icon>
                                    </button>
                                </span>
                            </div>
                            <div class="item-wrapp">
                                <div class="match-list__head-icons bid-icon">
                                    <img alt="img"  src="../../../../assets/Main/icons8-монеты-50.png" alt="">
                                </div>
                                <span class="item">Вагеры
                                <!-- <span class="item">Сумма -->
                                    <button class="btn-icon" (click)="changeSort(false)">
                                        <mat-icon class="black-icon" matTooltip="Сортировать по сумме пари" matTooltipPosition='above'>
                                            swap_vert
                                        </mat-icon>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <p *ngIf="MatchesList.length===0" class="text-center mt-5 mb-3">По заданым параметрам матчей не найдено.</p>
                        <div *ngIf="!loading" class="matches-wrapp">
                            <div  class="match-wrapp" *ngFor= "let match of MatchesList">
                                <a [routerLink]="['../match', match.uid]" class="match-list__match"
                                    [ngClass]="{'own-match': match.isOwner||match.isEnemy, 'occupied':!'created,finished'.includes(match.statusShortName), 'match-finished': match.statusShortName=='finished'}">
                                    <div class="row align-items-center">
                                        <div class="col-4">
                                            <div class="match-list__match-data d-flex" [ngClass]="{'user-info': (match.withAlly||match.enemyWithAlly)}">
                                                <div class="platform-logon d-flex align-items-center">
                                                  <app-show-platform class="platform" [shortForm]='true' [platform]='match.platform'></app-show-platform>
                                                  <div class="match-list__text-item login">{{match.login}}</div>
                                                </div>
                                                <div class="icons-wrapp flex">
                                                    <img  matTooltip="Игрок играет вместе с другом."
                                                        matTooltipPosition='right' style="height: 35px;"
                                                        *ngIf="match.withAlly" src="../../../../assets/_Optimized/host-with-friend.svg" alt="owner play with friend">
                                                    <div matTooltip="Игрок разрешает сопернику играть вместе с другом."
                                                        matTooltipPosition='right' *ngIf="match.enemyWithAlly"  class="enemy-with-ally" [ngClass]="{'together': match.withAlly}">
                                                        <img src="../../../../assets/_Optimized/enemy-with-friend.svg" alt="enemy could play with friend">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="match-list__match-data date">
                                                <ng-container >
                                                    <div class="match-list__date">{{match.createdAt| date:"H:mm"}}</div>
                                                    <div class="match-list__date">{{match.createdAt| date:"dd.MM.yyyy"}}</div>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="match-list__match-data d-flex justify-content-end">
                                                <div class="match-list__text-item">{{match.price| number:'':'fr-FR'}}
                                                    <span class="wagers">
                                                        <wagers *ngIf="match.isOwner||match.isEnemy" class="coin" [color]="'orange-dark'"></wagers>
                                                        <ng-container *ngIf="!match.isOwner&&!match.isEnemy" >
                                                            <wagers class="coin before" [color]="'black'"></wagers>
                                                            <wagers class="coin after" [color]="'white'"></wagers>
                                                        </ng-container>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div *ngIf="MatchesList.length>0&&!loading" class="bottom-wrapp full-flex">
                            <ngb-pagination class="pagination-wrapp"
                                            [collectionSize]="overalMatches"
                                            [(page)]="activePage"
                                            [pageSize]="toShowMatches"
                                            [maxSize]="(windowsSizeService.isMobile$ | async) ? 4 : 10"
                                            [rotate]="true"
                                            (pageChange)=onChangePage()>
                                <ng-template ngbPaginationPrevious class="">
                                    <button class="btn-icon step black-icon mr-2">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                    <span>предыдущая</span>
                                </ng-template>
                                    <ng-template ngbPaginationNumber let-page>
                                        <button class="btn-icon page black-icon">
                                            {{page}}
                                            </button>
                                    </ng-template>
                                <ng-template ngbPaginationNext>
                                    <span>следующая</span>
                                    <button class="btn-icon step black-icon ml-2">
                                        <mat-icon>arrow_forward</mat-icon>
                                    </button>
                                </ng-template>
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3 d-none d-md-block">
                <div class="filter-wrapp">
                    <div class="filter">
                        <h6>Используй фильтр</h6>
                        <div class="console mt-3">
                             <span matTooltip="Выбери интересующую тебя платформу" matTooltipPosition='right'>Платформа</span>
                            <div class="full-flex platforms-wrapp mt-3 mt-lg-4">
                                <button class="btn-icon all-platform"
                                        (click)="platformFilter('all')"
                                        [ngClass]="{'active': 'all'.includes(activePlatform)}">Все платформы
                                </button>
                                <app-platforms class="platforms" [actualPlatform]='activePlatform' [theme]="'gray'" (updatePlatform)='platformFilter($event)'></app-platforms>
                            </div>
                        </div>
                        <div class="bid mt-4 mt-lg-3">
                            <!-- <span matTooltip="Выбери интересующую тебя сумму пари" matTooltipPosition='right'>Сумма пари </span> -->
                            <span matTooltip="Выбери интересующее тебя количество вагеров" matTooltipPosition='right'>Вагеры</span>
                            <form [formGroup]="bidForm" autocomplete="off" class="full-flex">
                                <div class="field-wrapp">
                                    <mat-form-field class="bid-input">
                                        <mat-label>от</mat-label>
                                        <input #minInput matInput
                                               min='10'
                                               [max]="this.bidForm.get('max').value"
                                               step = '10'
                                               formControlName='min'
                                               name= 'min'
                                               type="number">
                                    </mat-form-field>
                                </div>
                                <div class="field-wrapp">
                                    <mat-form-field class="bid-input">
                                        <mat-label>до</mat-label>
                                        <input matInput
                                               [min]="minInput.value?minInput.value:10"
                                               max = '1000000'
                                               step='10'
                                               formControlName='max'
                                               name= 'min'
                                               type="number">
                                    </mat-form-field>
                                </div>
                                <button (click)="bidFilter()" type="submit" class="btn-icon"><mat-icon [ngClass]="{'load': bidLoading}">sync</mat-icon></button>
                            </form>
                        </div>
                        <div class="new">
                            или
                            <h6>создай собственный</h6>
                        </div>
                        <a (click)="createMatchService.checkStatus()" class="btn btn-orange">Создать матч</a>
                    </div>
                    <img alt="img"  class="pad" src="../../assets/Main/pad.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div (click)="openFilterMobile()" *ngIf="!loading"  class="filter-mobile d-md-none" [ngClass]="{'hide': !toShowFilterBtn}">
        <img alt="img"  src="../../../../assets/Main/filter.png" alt="">
        Фильтр
    </div>
</section>
