@import '../../../@theme/theme.scss';

section{
    @include bg-all-matches;
    padding: 30px 0;
    min-height: calc(100vh);
    @media screen and (max-width: 768px) {
        padding-top: 16px;
    }
}
h1 {
    color: #fff;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
        position: relative;
        .btn-icon {
            position: absolute;
            left: 25px;
            z-index: 5;
        }
    }
    @media screen and (max-width: 575px) {
        .btn-icon {
            left: 15px;
        }
    }
}

.matches-wrapp{
    padding: 0 60px;
}
.match-list {
    @include match-list;
    background: url("../../../../assets/Main/fonDescription.png") no-repeat center top/auto;
    &__head-icons {
        margin-bottom: 15px;
    }
    @media screen and (max-width: 992px) {
        background-repeat: repeat-y;
    }

    .item {
        @media screen and (max-width: 992px) {
            top: 40px !important;
        }
    }
}
.match-wrapp{
    height: 70px;
}
.match-list__match {
    @include match-hover;
    // border-bottom: $br-botton-orange;
    border-left: $br-left-orange;
    padding: 7px 19px 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    color: #000000;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: 1s linear;
    transition-property: padding, margin, font;
    .match-list__match-data{
        align-items: center;
        position: relative;
        height: 36px;
    }
    .match-list__date{
        font-size: 12px;
        text-align: center;
    }
    .status {
        height: 42px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: -5px;
        transform: rotateZ(-17deg);
        &.red {
            height: 72px;
            bottom: -23px;
        }
    }
    @media screen and (max-width: 575px) {
        padding: 7px;
    }
}
.match-list__text-item{
    &.login {
        margin-right: 5px;
        letter-spacing: 0;
        width: 85px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @media screen and (max-width: 575px) {
            width: 73px;
            line-height: 24px;
        }
    }
}
.icons-wrapp {
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 58px;
    position: relative;
    .enemy-with-ally {
        position: relative;
        img {
            opacity: 1;
            transition: all 500ms linear;
        }
        &::before {
            transition: all 500ms linear;
            content:"";
            background-image: url('../../../../assets/_Optimized/enemy-with-friend-white.svg');
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
        }
        img, &::before {
          height: 32px;
          margin-top: 0px;
        }
        &.together {
          margin-left: -2px;
          img, &::before {
            margin-left: -6px;
          }
        }
    }
}
.matchlist__btn-wrap{
    display: flex;
    justify-content: space-between;
}
.filter-wrapp {
    position: relative;
    z-index: 0;
}
.filter {
    z-index: 0;
    background-color: rgba($color: #000000, $alpha: 0.34);
    margin-top: 70px;
    padding: 35px 20px;
    width: 105%;
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    .console {
        .btn-icon {
            color: rgba($color: #fff, $alpha: 0.9);
            &.all-platform {
                font-size: 13px;
                font-weight: 400;
                padding: 1px 5px 1px;
                height: 50px;
                margin-right: 6px;
                line-height: 18px;
            }
            &:hover, &.active {
                background-color: #3b3a3a;
                border-radius: 10px;
            }
            &.active {
                color: $c-orange;
            }
        }
        .platforms {
            ::ng-deep {
                aside {
                    align-items: center;
                }
                .btn-icon {
                    width: 63px;
                    height: 50px;
                    &:not(.orange) {
                        color: rgba($color: #fff, $alpha: 0.9);
                    }
                    .p-name {
                        font-size: 10px;
                        margin-top: -8px;
                    }
                }
                fa-icon {
                    font-size: 21px;
                }
            }
        }
    }
    .bid {
        .field-wrapp{
            width: 35%;
        }
        .bid-input {
            input {
                padding-right: 0;
                color: rgba($color: #fff, $alpha: 0.9);
            }
            ::ng-deep {
                .mat-form-field-label {
                    color: rgba($color: #fff, $alpha: 0.5);
                }
                .mat-form-field-infix {
                    padding-bottom: 5px;
                }
            }
        }
        mat-icon {
            color: rgba($color: #fff, $alpha: 0.9);
            font-size: 25px;
            &.load {
                -webkit-animation:spin 600ms linear infinite;
                -moz-animation:spin 600ms linear infinite;
                animation:spin 600ms linear infinite;
            }
        }
        @-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
    }
    .new {
        margin: 68px 0 30px;
        h6 {
            margin-top: 6px;
            color: #fff;
        }
    }
    a {
        width: 100%;
    }
}
.pad {
    position: absolute;
    bottom: -330px;
    right: -55px;
    z-index: -1;
}

.filter-mobile {
    img {
        height: 15px;
        margin-right: 5px;
    }
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9E22;
    font-size: 13px;
    width: 120px;
    height: 37px;
    border-radius: 16px;
    z-index: 100;
    top: 85%;
    left: 50%;
    transform: translate(-51%, -50%);
    position: fixed;
    transition: 1s all;
    &:hover {
        background-color: #ff9400;
        transition: 1s all;
    }
    &.hide {
        opacity: 0;
        z-index: -20;
        transition: 1s all;
    }
}

@media screen and (max-width: 992px) {
  .platforms-wrapp {
    display: block;
  }
  .ps4 {
    margin-top: 10px;
    margin-right: 35px;
  }

  .pad {
    max-height: 250px;
    bottom: -225px;
    right: -10px;
  }

  .bid form{
    margin-top: -12px;
  }

  .filter .new {
    margin-top: 15px;
  }
}

