@import '../../../@theme/theme.scss';

section{
    @include bg-all-matches;
    padding: 30px 0;
    margin-top: -20px;
    min-height: calc(100vh - 65px)!important;
    ::ng-deep .mat-tab-header {
        border-bottom: none;
    }
}
h1 {
    color: #fff;
    margin-bottom: 20px;
    span {
      color: $c-orange;
    }
}

.arrow {
  display: none;
  @media screen and (max-width: 575px) {
    display: block;
    position: absolute;
    z-index: 10;
    width: 10px;
    top: 14px;
    opacity: 0;
    &--left {
      left: -3px;
    }
    &--right {
      right: 3px;
    }
  }
}

.category {
  ::ng-deep .mat-tab-list {
    @media screen and (max-width: 768px) {
      overflow-x: auto;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
      .mat-tab-label {
        overflow: visible;
        min-width: auto;
        font-size: 15px;
      }
    }
    @media screen and (max-width: 576px) {
      .mat-tab-label {
        margin-right: 15px;
      }
    }
  }
  ::ng-deep .mat-tab-label-container {
    @media screen and (max-width: 430px) {
      &::before {
        content: "";
        cursor: pointer;
        margin-right: 10px;
        margin-top: 8px;
        width: 10px;
        background: url('../../../../assets/Main/arrow-left.png') no-repeat;
        background-size: auto;
      }
      &::after {
        content: "";
        cursor: pointer;
        margin-left: 10px;
        margin-top: 8px;
        width: 10px;
        background: url('../../../../assets/Main/arrow-left.png') no-repeat;
        background-size: auto;
        transform: rotate(180deg);
        margin-bottom: 8px;
      }
    }
  }
}

.match-list-wrapp {
    position: relative;
    ::ng-deep .mat-tab-label {
        color: #fff;
        padding: 0;
        min-width: 85px;
        margin-right: 30px;
        margin-top: -2px;
        font-size: 18px;
        font-weight: 600;
    }
    ::ng-deep .mat-tab-body-content {
          overflow: hidden;
    }
}
.pad {
  position: absolute;
  right: -325px;
  top: 200px;
    @media screen and (max-width: 992px) {
        opacity: 0.2;
        height: 230px;
        right: -123px;
        top: 230px;
    }
    @media screen and (max-width: 768px) {
        height: 200px;
        top: 180px;
    }
    @media screen and (max-width: 575px) {
      height: 170px;
      left: 40px;
      opacity: 0.08;
    }
}

.label {
    color: #fff;
}

.owner {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 70px;
    display: flex;
    opacity: 0.8;
    p {
        color: #fff;
        font-weight: 400;
        margin-right: 10px;
    }
    ::ng-deep {
        .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
            border: 2px solid #fff;
          }
    }
}

@media screen and (max-width: 575px) {
  .container {
    padding: 0;
  }
  .wrapper {
    position: relative;
  }
}
