@import '../../../../@theme/theme.scss';
$underline: all .2s cubic-bezier(1,.25,0,.75) 0s;
aside {
    h4 {
        margin-bottom: 10px;
        text-align: center;
        line-height: 45px;
    }
    p {
        line-height: 19px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 9px;
    }
    .platforms-wrapp {
        width: 24%;
        min-width: 130px;
        margin: 0 auto 13px;
        .btn-icon {
            color: #fff;
            font-size: 25px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: -2px;
                left: 0;
                background-color: $c-orange;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: $underline;
                transition: $underline;
            }
            &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            }
            &.orange {
                color: $c-orange;
            }
            &.active:before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
    form {
        max-width: 485px;
        width: 100%;
        margin: auto;
        .btn {
            margin-top: 10px;
            width: 100%;
        }
        .mat-form-field {
            margin: auto;
            width: 100%;
            color: #fff;
            font-size: 16px;
            &.mat-form-field-invalid{
                ::ng-deep{
                    .mat-form-field-outline-gap,.mat-form-field-outline-end {
                        border-color: $c-error;
                    }
                }
            }
            ::ng-deep {
                .mat-form-field-wrapper {
                    padding-bottom: 13px;
                }
                .mat-form-field-outline-start {
                    border: none;
                    background: transparent;
                }
                .mat-form-field-outline-gap {
                border: 2px solid $c-orange;
                border-radius: 20px;
                border-right-style: none;
                border-left-style: none;
                }
                .mat-form-field-outline-end {
                border: 2px solid $c-orange;
                border-radius: 20px;
                background: transparent;
                }
                .mat-form-field-infix {
                    text-align: center;
                    padding: 0px 0 10px 0;
                }
                input {
                    line-height: 22px;
                    &::placeholder {
                        color: rgba($color: #fff, $alpha: 0.2);
                        font-size: 13px;
                    }
                }
                .mat-input-element {
                    caret-color: $c-orange;
                }
                .mat-input-element:disabled {
                    color: rgba(247, 230, 230, 0.38);
                }
            }
        }
    }
}
