<app-table-page>
    <mat-spinner  [diameter]="100" [style.display]="!success&&!access&&!error? 'block' : 'none'"></mat-spinner>
    <ng-container *ngIf="success">
        <h1 class="icon">✔</h1>
        <h1>Твой пароль успешно изменён</h1>
    </ng-container>
    <ng-container *ngIf="access">
        <h2>Новый пароль</h2>
        <p>Дважды введите новый пароль и нажмите Изменить пароль.</p>
        <form [formGroup]="form" autocomplete="off">
            <div class="field-wrapp">
                <input  matInput type="password" style="display:none">
                <img alt="img"  src="../../assets/LoginRegister/password.svg" alt="">
                <mat-form-field>
                    <mat-label>Новый пароль</mat-label>
                    <input  matInput
                            #password
                            autocomplete="new-password"
                            formControlName ="newPassword"
                            type="password">
                </mat-form-field>
                <img alt="img"   class="show-psw"
                      src="{{passwordImage}}"
                      alt="show"
                      (click)="togglePaswordShown()">
            </div>
            <div class="field-wrapp">
                <img alt="img"  src="../../assets/LoginRegister/password.svg" alt="">
                <mat-form-field>
                    <mat-label>Подтверждение пароля</mat-label>
                    <input  matInput
                            #passwordRepeat
                            autocomplete="new-password"
                            formControlName ="confirmPassword"
                            type="password">
                </mat-form-field>
                <img alt="img"   class="show-psw"
                      src="{{passwordImage}}"
                      alt="show"
                      (click)="togglePaswordShown()">
            </div>
            <button
                [disabled]=form.invalid
                (click)='passwordChange()'
                class="btn btn-orange mt-4 mb-4">
                Изменить пароль
            </button>
        </form>
    </ng-container>
    <p *ngIf="error||success" class="redirect">Ты будешь перенаправлен <a routerLink=""> на главную</a></p>
</app-table-page>
