p {
    max-width: 300px;
    margin: 20px auto
}

form {
    width: 50%;
    min-width: 400px;
    margin: auto;
    .btn {
        margin: auto;
    }
}

.field-wrapp {
    width: 80%;
    position: relative;
    .show-psw {
        position: absolute;
        right: -10px;
        height: 25px;
        width: 25px;
        cursor: pointer;
    }
    &.extra{
        justify-content: flex-end;
        margin-top: -8px;
    }
}

@media screen and (max-width: 992px){
  form {
    min-width: auto;
    width: 100%;
  }
  .field-wrapp {
    width: 85%;
  }
}
/* 576-768 */
@media screen and (max-width: 768px) {
  h2 {
    margin-top: 15px;
  }
  .field-wrapp {
    width: 90%;
  }
}
