@import '../../../@theme/theme.scss';
$underline: all .2s cubic-bezier(1,.25,0,.75) 0s;
aside {
    h4 {
        margin-bottom: 10px;
        text-align: center;
        line-height: 45px;
    }
    p {
        line-height: 19px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 9px;
        mat-icon {
            color: $c-orange;
        }
    }
    .platforms-wrapp {
        min-width: 186px;
        width: 24%;
    }
    form {
        max-width: 485px;
        width: 100%;
        margin: auto;
        .btn {
            margin-top: 10px;
            width: 100%;
        }
        .mat-form-field {
            margin: auto;
            width: 100%;
            color: #fff;
            font-size: 16px;
            &.mat-form-field-invalid{
                ::ng-deep{
                    .mat-form-field-outline-gap,.mat-form-field-outline-end {
                        border-color: $c-error;
                    }
                }
            }
            ::ng-deep {
                .mat-form-field-wrapper {
                    padding-bottom: 13px;
                }
                .mat-form-field-outline-start {
                    border: none;
                    background: transparent;
                }
                .mat-form-field-outline-gap {
                border: 2px solid $c-orange;
                border-radius: 20px;
                border-right-style: none;
                border-left-style: none;
                }
                .mat-form-field-outline-end {
                border: 2px solid $c-orange;
                border-radius: 20px;
                background: transparent;
                }
                .mat-form-field-infix {
                    text-align: center;
                    padding: 0px 0 10px 0;
                }
                input {
                    line-height: 22px;
                    &::placeholder {
                        color: rgba($color: #fff, $alpha: 0.2);
                        font-size: 13px;
                    }
                }
                .mat-input-element {
                    caret-color: $c-orange;
                }
                .mat-input-element:disabled {
                    color: rgba(247, 230, 230, 0.38);
                }
            }
        }
    }
}
