<aside>
    <div class="container">
        <form (submit)="!isLoad?saveValues():null"  [formGroup]="form" class="wrapper" autocomplete="off">
            <h4>Мой профиль</h4>
            <p>Логин</p>
            <mat-form-field floatLabel="never" appearance="outline">
                <input  matInput
                        placeholder=" Впиши свой логин"
                        formControlName = "login"
                        name="login">
            </mat-form-field>
            <ng-container *ngIf="!isVk">
              <p>Email</p>
              <mat-form-field floatLabel="never" appearance="outline">
                  <input  matInput
                          type="email"
                          placeholder=" Впиши свой e-mail"
                          formControlName = "email"
                          name="email">
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="isVk">
              <p>VK ID</p>
              <mat-form-field floatLabel="never" appearance="outline">
                  <input  matInput
                          type="vkID"
                          placeholder=" Впиши свой VK ID"
                          formControlName = "vkID"
                          name="vkID">
              </mat-form-field>
            </ng-container>

            <p>Платформа</p>

            <app-platforms class="platforms-wrapp mb-3" [actualPlatform]="platform" (updatePlatform)="form.patchValue({platform: $event})" style="display: block;" ></app-platforms>

            <ng-container>
                <p *ngIf="!platform"><mat-icon>arrow_upward</mat-icon>Выбери платформу <mat-icon>arrow_upward</mat-icon></p>
                <p *ngIf="platform.includes('Ps')">PSN ID</p>
                <p *ngIf="platform.includes('Xbox')">XBOX gamertag</p>
                <mat-form-field floatLabel="never" appearance="outline">
                    <input  matInput
                            [placeholder]="'Впиши свой игровой никнейм '"
                            formControlName = "gamertag"
                            name="gamertag">
                </mat-form-field>
            </ng-container>

            <button type="submit"
                    [disabled]=form.invalid
                    class="btn btn-orange">
                    Сохранить
                    <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
            </button>
        </form>
    </div>
</aside>
