@import '../../../@theme/theme.scss';
section {
    display: flex;
    padding: 40px 0;
}
.main {
    margin: auto;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    position: relative;
    background-color: #fff;
    z-index: 1;
    min-width: 340px;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 400px;
        padding: 24px;
        @media screen and (max-width: 768px) {
            padding: 10px;
        }
    }
    .footer {
        width: 100%;
        height: 40px;
        background-color: #1d1d1d;
        color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        p {
            font-size: 14px;
            font-weight: 200;
        }
    }
}

:host {
    ::ng-deep {
        h1 {
            font-size: 35px;
            font-weight: 600;
            &.icon {
                font-size: 80px;
                color: $c-orange;
                &.red {
                    color: $c-error;
                }
            }
            @media screen and (max-width: 768px) {
                font-size: 25px;
                margin-top: 15px;
            }
        }
        .redirect {
            margin-top: 3rem;
            font-size: 18px;
            a {
                text-decoration: underline;
                color: $c-orange;
                white-space: nowrap;
            }
        }
        .mat-spinner {
            margin: auto;
            svg circle {
                stroke: $c-orange;
            }
            @media screen and (max-width: 575px) {
              ::ng-deep circle {
                stroke-width: 4%!important;
              }
            }

        }
        .img-wrapp {
            img {
                height: 100px;
                width: auto;
            }
        }
        @media screen and (max-width: 768px){
          h3 {
              font-size: 14px;
          }
        }
    }
}
