<section>
    <div class="main">
        <div class="content">
            <ng-content></ng-content>
        </div>
        <div class="footer flex-center">
            <p>
                С уважением, команда Wagermatch
            </p>
        </div>
    </div>
</section>
