<mat-toolbar [style.display]="isFirstLoading ? 'none' : 'block'" *ngIf="!isAdmin()" class="nav">
    <div class="container nav-container">
        <div class="row align-items-center main-row">
            <div class="col-2">
                <a routerLink='/' aria-label="MainPage">
                  <img alt="wagermatch logo"  class="logo" src="../assets/_Optimized/wagermatch-logo.svg">
                </a>
            </div>
            <div class="col-md-10 col-xl-10 d-none d-lg-block">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-xl-7">
                        <ul class="menu">
                            <li *ngIf="!logedIn()"><a [routerLink]="['info/faq']">Частые вопросы</a></li>
                            <li  *ngIf="logedIn()"><a [routerLink]="['/matches/my-matches']" routerLinkActive='active'>Мои матчи</a></li>
                            <li><a (click)="createMatch()">Создать матч</a></li>
                            <li><a [routerLink]="['/matches/all-matches']" routerLinkActive='active'>Все матчи</a></li>
                            <li><a [routerLink]="['info/help']" routerLinkActive='active'>Помощь</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg-4 col-xl-5">
                        <ul *ngIf="!logedIn()" class="login">
                            <li><a (click)="openLogin()">Вход</a></li>
                            <div class="register-btn">
                                <li><a (click)="openRegister() ">Регистрация</a></li>
                            </div>
                        </ul>
                        <ul *ngIf="logedIn() && !(isMobile$ |async)" class="login">
                            <app-header-notification></app-header-notification>
                            <li class="profile">
                                <a [matMenuTriggerFor]="menu" class="full-flex">
                                    <div class="icon-wrapp flex-center">
                                        <mat-icon>person</mat-icon>
                                    </div>
                                    <div class="name-wrapp">
                                        <app-header-name></app-header-name>
                                    </div>
                                </a>
                            </li>
                            <mat-menu #menu="matMenu" class="desktop-menu">
                                <button class="dropdown-menu-button" [routerLink]="['my-profile']" routerLinkActive='active' mat-menu-item>Личный кабинет</button>
                                <button (click)="toRecharge()" class="dropdown-menu-button" mat-menu-item>Пополнение <mat-icon>add_circle_outline</mat-icon></button>
                                <button (click)="toPayout()" class="dropdown-menu-button"  mat-menu-item>Вывод <mat-icon>remove_circle_outline</mat-icon></button>
                                <button class="dropdown-menu-button" (click)="logout()"  mat-menu-item>Выйти</button>
                            </mat-menu>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right d-lg-none">
              <app-header-notification *ngIf="logedIn() && (isMobile$ |async)"></app-header-notification>
              <button mat-icon-button aria-label="Menu" (click)="navAction(true)">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
        </div>
    </div>
</mat-toolbar>

<mat-toolbar *ngIf="isAdmin()" class="nav admin fullscreen">
  <app-header-admin class="w-100"></app-header-admin>
</mat-toolbar>

<mat-sidenav-container [ngClass]="{'fullscreen': isAdmin()}">
    <mat-sidenav class="sidenav-mobile" position=end #sidenav>
        <mat-nav-list class="nav-list">
          <input *ngIf="isSafari" nbInput #filterFake class="safari-focus" fullWidth matInput name="filter">
            <div class="menu">
                <a (click)="createMatch(); navAction()" routerLinkActive='active'>Создать матч</a>
                <a (click)="navAction()" [routerLink]="['/matches/my-matches']" *ngIf="logedIn()" routerLinkActive='active'>Мои матчи</a>
                <a (click)="navAction()" [routerLink]="['/matches/all-matches']" routerLinkActive='active'>Все матчи</a>
                <a (click)="navAction()" [routerLink]="['info/help']"  routerLinkActive='active'>Помощь</a>
                <a *ngIf="!logedIn()" (click)="navAction()" [routerLink]="['info/faq']" routerLinkActive='active'>Частые вопросы</a>
            </div>
            <ng-container *ngIf="!logedIn()">
              <a (click)="openLogin(); navAction()" ><img class="svg" alt="entrance" src="../assets/_Optimized/menu-enter.svg">Вход</a>
              <a (click)="openRegister(); navAction()" ><img class="svg" alt="register" src="../assets/_Optimized/menu-user.svg">Регистрация</a>
            </ng-container>
            <div class="profile-menu" *ngIf="logedIn()">
              <li  class="profile" *ngIf="(isMobile$ |async)">
                <a class="full-flex">
                    <div class="icon-wrapp flex-center">
                        <mat-icon>person</mat-icon>
                    </div>
                    <div class="name-wrapp">
                        <app-header-name></app-header-name>
                    </div>
                </a>
              </li>
              <li><a (click)="navAction()" [routerLink]="['my-profile/account']" routerLinkActive="active" >Личный кабинет</a></li>
              <li><a (click)="navAction()" [routerLink]="['my-profile/setting']" routerLinkActive="active"> Мой профиль</a></li>
              <li> <a (click)="navAction()" [routerLink]="['my-profile/transactions']" routerLinkActive="active"> Финансы</a></li>
              <li><a (click)="navAction()" [routerLink]="['my-profile/dispute']" routerLinkActive="active">  Арбитраж</a></li>
              <li><a (click)="navAction()" [routerLink]="['my-profile/password']" routerLinkActive="active">  Сменить пароль</a></li>
              <li><a (click)="navAction(); logout()">  Выйти</a></li>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <div *ngIf="!isActive()&&logedIn()&&!isAdmin()" routerLink='my-profile/setting' class="line-info activate-info">
            <p *ngIf="login" class="info">Выбери платформу и игровой никнейм, чтобы учавствовать в матчах!</p>
            <p *ngIf="!login" class="info">Заполни все обязательные поля, чтобы учавствовать в матчах!</p>
        </div>
        <div (click)="takeBonus()" *ngIf="hasBonus()&&logedIn()&&!isAdmin()" class="line-info bonus-info">
          <p class="info">Забрать бонус за регистрацию!</p>
        </div>
        <div [ngClass]="{'none': (isLoading || isFirstLoading) }"> <router-outlet></router-outlet></div>
        <div *ngIf="isLoading || isFirstLoading" class="spinner-container" [ngClass]="{'admin': isAdmin(), 'first-loading': isFirstLoading}">
            <div id="nb-global-spinner" class="spinner">
                <img alt="img" alt='animation-pad'  *ngIf="!isAdmin()" src="./assets/animation-pad.svg"/>
                <img alt="img" alt='animation-dollar'   *ngIf="isAdmin()" class="admin-image" src="../assets/adnimation-dollar.png" alt="">
            </div>
        </div>
        <app-footer [ngClass]="{'none': isFirstLoading}" *ngIf="!isAdmin()"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
