@import '../app/@theme/theme.scss';
$underline: all .2s cubic-bezier(1,.25,0,.75) 0s;

/* ----------------------NAV-BAR------------------- */
.none {
  opacity: 0;
  z-index: -10;
  position: absolute;
}

.safari-focus {
  transform: scale(0);
  position: absolute;
}

.fullscreen {
  min-width: 1350px;
}

.dropdown-menu-button {
  width: 100%;
  min-width: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  mat-icon {
    margin: 0;
    color: $c-orange!important;
  }
}


.nav{
    background: #3d3b3c; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #3d3b3c 0%, #3d3b3c 45%, #3b393a 46%, #323031 47%, #2c2a2b 52%, #2c2a2b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #3d3b3c 0%,#3d3b3c 45%,#3b393a 46%,#323031 47%,#2c2a2b 52%,#2c2a2b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #3d3b3c 0%,#3d3b3c 45%,#3b393a 46%,#323031 47%,#2c2a2b 52%,#2c2a2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3b3c', endColorstr='#2c2a2b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 11px 0 13px;
    height: auto;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 14px;
    align-items: center;
    display: block;
    &.admin {
      background-color: #001721;
      background: linear-gradient(135deg, #001721 0%, rgba(39, 63, 80, 0.95)  50%,#001721 100%);
    }
    ul{
        display: flex;
        line-height: 38px;
        &.menu{
            justify-content: space-between;
            padding-left: 45px;
        }
        &.login{
          justify-content: flex-end;
          .register-btn{
              margin-left: 36px;
          }
          .register-btn li a {
              color: $c-orange;
          }
        }
        li {
            a{
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: -4px;
                    left: 0;
                    background-color: $c-orange;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: $underline;
                    transition: $underline;
                }
                &:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                }
            }
            .active:before {
                visibility: visible;
                transform: scaleX(1);
            }
            &.profile {
                display: flex;
                margin-left: 30px;
            }
        }
    }
    mat-icon{
        color: #fff;
        font-size: 40px;
    }
}

.icon-wrapp {
  justify-content: center;
  border: 2px solid #fff;
  margin-right: 15px;
  border-radius: 50%;
  text-align: center;
  height: 30px;
  width: 30px;
  mat-icon {
      font-size: 24px;
  }
  @media screen and (max-width: 992px) {
    height: 35px;
    width: 35px;
    mat-icon {
      font-size: 26px;
    }
  }
}
.name-wrapp {
  span {
      line-height: 19px;
      display: block;
      font-size: 14px;
      margin-left: 8px;
      &.orange {
          font-size: 17px;
          margin-left: -8px;
      }
  }
}

.sidenav-content {
  overflow: hidden;
}

.sidenav-mobile {
  width: 50%;
  background-color: #252525;
  color: #fff;
  min-width: 300px;
    mat-nav-list{
      width: 100%;
      padding: 30px 45px;
      font-size: 23px;
      font-weight: 100;
      line-height: 37px;
      .menu {
          padding-bottom: 20px;
          margin-bottom: 15px;
          border-bottom: 1px solid $c-orange;
      }
      a {
        max-width: 240px;
        min-width: 240px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          right: 10px;
          background-color: $c-orange;
          height: 7px;
          width: 7px;
          border-radius: 50%;
          opacity: 0;
          top: 53%;
          transform: translate(-53%,-50%);
        }
      }
      .active {
        font-weight: 600;
        &::after {
          opacity: 1;
        }
      }
      .profile-menu {
        padding-left: 15px;
        .profile a {
          justify-content: flex-start;
          font-weight: 700;
          margin-bottom: 10px;
        }
        a {
          font-size: 21px;
        }
      }
      a {
          display: flex;
          align-items: center;
          .svg {
              margin-right: 10px;
          }
      }
    }
}
.line-info {
  border: none;
  cursor: pointer;
  padding: 4px 0;
  &:focus {
      outline: none;
  }
  p {
      color: #fff;
      text-align: center;
      font-size: 14px;
  }
}
.activate-info {
  background-color: #7d0909;
}

.bonus-info {
  background-color: $c-success;
  @-webkit-keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
   }
   @keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
   }
   .info {
     font-weight: 500;
     color: rgb(245,245,245);
     text-shadow: 0 -1px rgba(0,0,0,.1);
     -webkit-animation: pulsate 1.2s linear infinite;
     animation: pulsate 1.2s linear infinite;
   }
}

@media screen and (max-width: 1200px) {
  .nav ul{
    &.menu {
      max-width: 480px;
      padding-left: 0;
    }
  }
}

/* 768-992 */
@media screen and (max-width: 992px) {
   .nav-container .row{
      justify-content: space-between;
   }
   .containter {
    max-width: none;
       padding: 0 70px;
   }
   .right {
     display: flex;
     align-items: center;
     button {
       margin-left: 40px;
     }
   }
}

@media screen and (max-width: 768px) {
  .logo {
    height: 40px;
    display: block;
  }
}

/* 320-576 */
@media screen and (max-width: 575px) {
  .container {
    padding: 0 40px;
  }
  .sidenav-mobile {
    width: 85%;
  }
}

.main-roller {
    position: relative;
}

.spinner-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 140px);
    background: linear-gradient(135deg, #2c2b2b 0%, #2b2b2b 50%, #5b5656 100%);
    &.admin {
      height: calc(100vh - 80px);
      background: linear-gradient(135deg, #001721 0%, rgba(39, 63, 80, 0.95)  50%,#001721 100%);
    }
    &.first-loading {
      height: 100vh;
    }
  }
  .admin-image {
    height: 130px;
  }
