<div class="content">
    <h1 routerLink='/../info/faq' *ngIf="title">{{title}}</h1>
    <mat-accordion class="accordion">
      <ng-container *ngFor="let faq of list; let i = index">
        <div class="row" *ngIf="i%2===0">
          <div class="col-lg-6" *ngIf="list[i]">
            <mat-expansion-panel>
              <mat-expansion-panel-header collapsedHeight='80px' expandedHeight='80px'>
                <mat-panel-title>
                  {{list[i].question}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p *ngIf="list[i].answer">{{list[i].answer}}</p>
              <p *ngIf="list[i].answerHTML" [innerHTML]='list[i].answerHTML'></p>
            </mat-expansion-panel>
          </div>
          <div *ngIf="list[i+1]" class="col-lg-6">
            <mat-expansion-panel>
              <mat-expansion-panel-header collapsedHeight='80px' expandedHeight='80px'>
                <mat-panel-title>
                  {{list[i+1].question}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p *ngIf="list[i+1].answer">{{list[i+1].answer}}</p>
              <p *ngIf="list[i+1].answerHTML" [innerHTML]='list[i+1].answerHTML'></p>
            </mat-expansion-panel>
          </div>
        </div>
      </ng-container>
    </mat-accordion>
</div>