@import '../../@theme/theme.scss';
.content {
    text-align: center;
    padding-top: 20px;
    @media screen and (max-width: 575px) {
        padding-top: 20px;
    }
    h1 {
        color: $c-orange;
        font-weight: 400;
        margin-bottom: 20px;
    }
    mat-expansion-panel {
        color: #fff;
        margin: 0 auto 10px;
        width: 80%;
        background: none;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        &.mat-expanded {
            border-bottom: none;
            background: none;
        }
        ::ng-deep .mat-expansion-indicator::after {
            color: #fff;
        }
        mat-panel-title {
            font-size: 17px;
            line-height: 22px;
            text-align: left;
            letter-spacing: 0.3px;
            color: #fff;
            font-weight: 400;
        }
        mat-expansion-panel-header {
            background: none;
            padding: 0 20px;
            &:hover {
                background: none!important;
            }
        }
        ::ng-deep .mat-expansion-panel-content {
            .mat-expansion-panel-body {
                padding: 5px 20px 16px;
            }
            p {
                font-weight: 200;
                font-size: 14px;
                color: #fff;
                line-height: 20px;
                a {
                    color: $c-orange;
                    font-weight: 500;
                }
            }
            text-align: left;
        }
        @media screen and (max-width: 1200px) {
            width: 90%;
            mat-panel-title {
              font-size: 15px;
            }

            ::ng-deep .mat-expansion-panel-content {
                p {
                    font-size: 13px;
                }
            }
        }
        @media screen and (max-width: 992px) {
          .mat-expansion-panel-header {
            padding: 0px 20px 10px;
            height: auto!important;
            min-height: 50px;
          }
      }
        @media screen and (max-width: 768px) {
            width: 90%;
        }
        @media screen and (max-width: 575px) {
            width: 95%;
        }
    }
}
