<section>
    <div *ngIf="isLoading" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div [style.opacity]='isLoading? 0 : 1' class="container">
        <div class="row top-wrapp">
            <div class="col-lg-9">
                <div class="header full-flex">
                    <div class="left  d-flex">
                        <button (click)="back()" class="btn-icon">
                            <mat-icon>
                                <img alt="img"  class="d-none d-sm-block" src="../../../../assets/Match/back.png" alt="">
                                <img alt="img"  class="d-block d-sm-none" src="../../../../assets/Main/arrow-left.png" alt="">
                            </mat-icon>
                        </button>
                        <div class="info">
                            <div class="name  d-flex">
                                {{matchInfo?.ownerLogin}}
                                <div *ngIf="!matchInfo?.isOwner||'match,verification,finished,conflict'.includes(matchInfo?.status.shortName)" class="with-ally full-flex ml-3">
                                    <img alt="img"  *ngIf="matchInfo?.withAlly"  matTooltip="Игрок играет вместе с другом."
                                        matTooltipPosition='right' src="../../../../assets/_Optimized/host-with-friend.svg" alt="owner play with friend">
                                    <img alt="img"  *ngIf="matchInfo?.enemyWithAlly" matTooltip="Игрок разрешает сопернику играть вместе с другом."
                                        matTooltipPosition='right' class="enemy-with-ally" src="../../../../assets/_Optimized/enemy-with-friend-white.svg" alt="enemy could play with friend">
                                </div>
                            </div>
                            <div class="status">
                                Статус:
                                <span *ngIf="!(!matchInfo?.isEnemy&&!matchInfo?.isOwner&&!'created'.includes(matchInfo?.status.shortName))" [ngClass]="{'created': 'created'.includes(matchInfo?.status.shortName), 'found':'found,verification'.includes(matchInfo?.status.shortName), 'ready':'ready,match'.includes(matchInfo?.status.shortName),
                                                  'finished': 'finished'.includes(matchInfo?.status.shortName), 'conflict': 'conflict'.includes(matchInfo?.status.shortName)}">
                                    <span *ngIf="!(matchInfo?.isEnemy&&'found,ready'.includes(matchInfo?.status.shortName))">{{matchInfo?.status.fullName}}</span>
                                    <span *ngIf="matchInfo?.isEnemy&&'found,ready'.includes(matchInfo?.status.shortName)">
                                        <span *ngIf="matchInfo?.isEnemy&&'found'.includes(matchInfo?.status.shortName)">Подтверждение готовности</span>
                                        <span *ngIf="matchInfo?.isEnemy&&'ready'.includes(matchInfo?.status.shortName)">Готов к матчу</span>
                                    </span>
                                </span>
                                <span class="found" *ngIf="!matchInfo?.isEnemy&&!matchInfo?.isOwner&&!'created,finished'.includes(matchInfo?.status.shortName)">
                                    Соперник найден
                                </span>
                                <span class="finished" *ngIf="!matchInfo?.isEnemy&&!matchInfo?.isOwner&&'finished'.includes(matchInfo?.status.shortName)">
                                    {{matchInfo?.status.fullName}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="match-wrapp">
                    <div class="match-info">
                        <div *ngIf="matchInfo?.isOwner&&!'match,verification,finished,conflict'.includes(matchInfo?.status.shortName)" class="head single-head full-flex">
                            <div  class="left full-flex">
                                <div class="username own-username">
                                    <span class="tag" *ngIf="matchInfo?.platform === 'Ps4'">Gamertag: </span>
                                    <span class="tag" *ngIf="matchInfo?.platform === 'XboxOne'">Online ID: </span>
                                    <span class="name">{{matchInfo?.ownerNickName}}</span>
                                </div>
                                <div class="with-ally full-flex">
                                    <img alt="img"  *ngIf="matchInfo?.withAlly"  matTooltip="Игрок играет вместе с другом."
                                        matTooltipPosition='right' src="../../../../assets/_Optimized/host-with-friend.svg" alt="owner play with friend">
                                    <img alt="img"  *ngIf="matchInfo?.enemyWithAlly" matTooltip="Игрок разрешает сопернику играть вместе с другом."
                                        matTooltipPosition='right' class="enemy-with-ally" [ngClass]="{'single': !matchInfo?.withAlly}" src="../../../../assets/_Optimized/enemy-with-friend-white.svg" alt="enemy could play with friend">
                                </div>
                            </div>
                            <div *ngIf="matchInfo?.isOwner&&!'match,verification,finished,conflict'.includes(matchInfo?.status.shortName)" class="btn-wrapp d-none d-sm-block">
                                <button *ngIf="matchInfo?.status.shortName==='created'" (click)="editMatch()" matTooltip="Редактировать матч."
                                    matTooltipPosition='right' class="btn-icon mr-3">
                                    <img alt="edit"  src="../../../../assets/_Optimized/edit.svg">
                                </button>
                                <button (click)="deleteMatch()" matTooltip="Удалить матч."
                                    matTooltipPosition='right' class="btn-icon">
                                    <img alt="delete"  src="../../../../assets/_Optimized/delete.svg">
                                </button>
                            </div>
                        </div>
                        <div *ngIf="(matchInfo?.isOwner||matchInfo?.isEnemy)&&'match,verification,finished,conflict'.includes(matchInfo?.status.shortName)" class="head flex-center">
                            <div class="mr-2 mr-sm-3 host couple" [ngClass]="{'username': matchInfo?.isOwner, 'dark-green':matchInfo?.isEnemy}">
                                <span [ngClass]="{'underline': matchInfo?.winner === 'host'}" class="name">{{matchInfo?.ownerNickName}}</span>
                            </div>
                            <p>VS</p>
                            <div class="ml-2 ml-sm-3 enemy couple" [ngClass]="{'dark-green': matchInfo?.isOwner, 'username':matchInfo?.isEnemy}">
                                <span [ngClass]="{'underline': matchInfo?.winner === 'enemy'}" class="name">{{matchInfo?.enemyNickName}}</span>
                            </div>
                        </div>
                        <div class="main-data">
                            <div class="row">
                                <div class="col-sm-6 col-lg-3 item-wrapp" [ngClass]="{'col-lg-4': matchInfo?.timeExpire==-1}">
                                    <div class="item item--platform">
                                      <app-show-platform class="platform" [platform]='matchInfo?.platform'></app-show-platform>
                                        <div class="field">
                                            Платформа
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3 item-wrapp" [ngClass]="{'col-lg-4': matchInfo?.timeExpire==-1}">
                                    <div class="item">
                                        <div class="bid">
                                            {{matchInfo?.bid}} <wagers style="margin-left: -4px;" [height]="27" [color]="'orange'"></wagers>
                                        </div>
                                        <div class="field">
                                            Сумма
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3 item-wrapp" [ngClass]="{'col-lg-4': matchInfo?.timeExpire==-1, 'col-sm-12': matchInfo?.timeExpire==-1}">
                                    <div class="item">
                                        <div class="time-wrapp full-flex" style="margin-bottom: 5px;">
                                            <div class="game-mode">
                                                <div [ngClass]="{'fut': matchInfo?.gameMode?.includes('FUT')}" style="max-width: 50px; line-height: 14px;">{{matchInfo?.gameMode}}</div>
                                            </div>
                                            <img alt="img" style="height: 35px;"  class="icon-created" src="../../../../assets/_Optimized/match-gamemode-orange.svg">
                                        </div>
                                        <div class="field">
                                            Режим игры
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="matchInfo?.timeExpire!==-1" class="col-sm-6 col-lg-3 item-wrapp">
                                    <div class="item">
                                        <div class="time-wrapp full-flex">
                                            <div class="time-expire">
                                                {{timerExpire}}
                                            </div>
                                            <img alt="img"  class="icon-expire" src="../../../../assets/_Optimized/match-terms-orange.svg" alt="">
                                        </div>
                                        <div class="field">
                                            Срок действия
                                        </div>
                                    </div>
                                </div>
                                <div class="item-wrapp col-sm-6 d-sm-none">
                                    <div class="">
                                        <div *ngIf="matchInfo?.isOwner&&!'match,verification,finished,conflict'.includes(matchInfo?.status.shortName)" class="btn-wrapp">
                                            <button *ngIf="matchInfo?.status.shortName==='created'" (click)="editMatch()" matTooltip="Редактировать матч."
                                                matTooltipPosition='right' class="btn-icon mr-4">
                                                <img alt="edit"  src="../../../../assets/_Optimized/edit.svg" alt="">
                                            </button>
                                            <button (click)="deleteMatch()" matTooltip="Удалить матч."
                                                matTooltipPosition='right' class="btn-icon">
                                                <img alt="delete"  src="../../../../assets/_Optimized/delete.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img alt="img"  [ngClass]="{'up': matchInfo?.status.shortName==='created'&&!matchInfo?.isOwner}" class="pad" src="../../../../assets/Match/pad-red.png" alt="">
                </div>
                <div class="action-box">
                    <ng-container *ngIf="matchInfo?.isOwner">
                        <div class="main-status">
                            <owner-created *ngIf="matchInfo?.status.shortName==='created'"></owner-created>
                            <span *ngIf="matchInfo?.status.shortName==='found'">Игрок <span class="orange"> {{matchInfo?.enemyLogin}}</span> присоединился к матчу</span>
                            <span *ngIf="matchInfo?.status.shortName==='ready'">Игрок <span class="orange"> {{matchInfo?.enemyLogin}}</span> предлагает начать матч</span>
                            <span *ngIf="matchInfo?.status.shortName==='match'">Желаем удачи!<span class="orange"> {{matchInfo?.enemyLogin}}</span> ждет тебя в FIFA 21</span>
                            <span *ngIf="matchInfo?.status.shortName==='verification'">
                                <ng-container *ngIf="matchInfo?.enemyHasResult" >
                                    <span class="orange"> {{matchInfo?.enemyLogin}}</span> сообщил о результате матча
                                    <p class="mt-2 own-result">Сообщи свой результат в течении <span class="result-timeout">{{matchInfo?.verificationTime}}:00</span> минут</p>
                                </ng-container>
                                <ng-container *ngIf="matchInfo?.ownerHasResult" >
                                    Твой результат матча отправлен!
                                    <p>Ожидание подтверждения результата матча от  <span class="orange"> {{matchInfo?.enemyLogin}}</span></p>
                                    <span class="result-timeout large">{{matchInfo?.verificationTime}}:00</span>
                                </ng-container>
                            </span>
                        </div>
                        <p *ngIf="matchInfo?.status.shortName==='match'" class="manual">Найди и добавь
                            <span class="green">
                                <fa-icon *ngIf="matchInfo?.platform.includes('Ps')" class="platform" [icon]="Ps4Icon"></fa-icon>
                                <fa-icon *ngIf="matchInfo?.platform.includes('Xbox')" class="platform" [icon]="XboxIcon"></fa-icon>
                                {{matchInfo?.enemyNickName}}
                            </span>
                            в друзья в своей консоли, сыграй матч и сообщи нам о результате.
                        </p>
                        <div  *ngIf="matchInfo?.isOwner&&!'match,verification,finished,conflict'.includes(matchInfo?.status.shortName)" class="win-info">
                            <span class="text"> Возможная сумма выигрыша: </span> <span class="green">{{matchInfo?.winAmount | number:'':'fr-FR'}} <wagers [color]="'green-light'" [height]='19'></wagers> </span>
                        </div>
                        <div *ngIf="matchInfo?.status.shortName==='found'||matchInfo?.status.shortName==='ready'" class="btn-wrapp flex-center mt-4">
                            <button (click)="this.changeEnemy()" class="btn btn-empty mr-sm-3">Сменить соперника</button>
                            <div class="start-match-wrapp">
                                <button [disabled]="matchInfo?.status.shortName==='found'" (click)="startMatch()" class="btn btn-orange ml-sm-3">Начать матч</button>
                                <button *ngIf="matchInfo?.status.shortName==='found'" class="tooltip" matTooltip="Чтобы начать матч, соперник должен подтвердить готовность." matTooltipPosition='right'></button>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="matchInfo?.isEnemy&&!matchInfo?.isOwner">
                        <div class="main-status">
                            <span *ngIf="matchInfo?.status.shortName==='found'">Ты присоеденился к матчу с <span class="orange"> {{matchInfo?.ownerLogin}}</span></span>
                            <span *ngIf="matchInfo?.status.shortName==='ready'">Ожидай подтверждения от <span class="orange"> {{matchInfo?.ownerLogin}}</span></span>
                            <span *ngIf="matchInfo?.status.shortName==='match'">Желаем удачи!<span class="orange"> {{matchInfo?.ownerLogin}}</span> ждет тебя в FIFA 21</span>
                            <span *ngIf="matchInfo?.status.shortName==='verification'">
                                <ng-container *ngIf="matchInfo?.ownerHasResult" >
                                    <span class="orange"> {{matchInfo?.ownerLogin}}</span> сообщил о результате матча
                                    <p class="mt-2 own-result">Сообщи свой результат в течении <span class="result-timeout">{{matchInfo?.verificationTime}}:00</span> минут</p>
                                </ng-container>
                                <ng-container *ngIf="matchInfo?.enemyHasResult" >
                                    Твой результат матча отправлен!
                                    <p>Ожидание подтверждения результата матча от  <span class="orange"> {{matchInfo?.ownerLogin}}</span></p>
                                    <span class="result-timeout large">{{matchInfo?.verificationTime}}:00</span>
                                </ng-container>
                            </span>
                        </div>
                        <p *ngIf="matchInfo?.status.shortName==='match'" class="manual">Найди и добавь
                            <span class="green">
                              <fa-icon *ngIf="matchInfo?.platform.includes('Ps')" class="platform" [icon]="Ps4Icon"></fa-icon>
                              <fa-icon *ngIf="matchInfo?.platform.includes('Xbox')" class="platform" [icon]="XboxIcon"></fa-icon>
                                {{matchInfo?.ownerNickName}}
                            </span>
                            в друзья в своей консоли, сыграй матч и сообщи нам о результате.
                        </p>
                        <div  *ngIf="matchInfo?.isEnemy&&!'match,verification,finished,conflict'.includes(matchInfo?.status.shortName)" class="win-info">
                            <span class="text"> Возможная сумма выигрыша: </span> <span class="green">{{matchInfo?.winAmount| number:'':'fr-FR'}} <wagers [color]="'green-light'" [height]='19'></wagers> </span>
                        </div>
                        <div *ngIf="matchInfo?.status.shortName==='found'||matchInfo?.status.shortName==='ready'" class="btn-wrapp flex-center mt-4">
                            <button (click)="dropFropMatch()" class="btn btn-empty mr-sm-3">Отказаться от участия</button>
                            <button *ngIf="matchInfo?.status.shortName==='found'" (click)="isReady(true)" class="btn btn-orange ml-sm-3">Я готов</button>
                            <button *ngIf="matchInfo?.status.shortName==='ready'" (click)="isReady(false)" class="btn btn-error ml-sm-3">Я не готов</button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="matchInfo?.isOwner||matchInfo?.isEnemy">
                        <ng-container *ngIf="(matchInfo?.status.shortName==='match')||((matchInfo?.isOwner&&matchInfo?.enemyHasResult)||(matchInfo?.isEnemy&&matchInfo?.ownerHasResult))&&matchInfo?.status.shortName==='verification'" >
                            <div class="btn-wrapp flex-center mt-4">
                                <button (click)="this.matchResult(false)" class="btn btn-error mr-sm-3">Я проиграл</button>
                                <button (click)="this.matchResult(true)" class="btn btn-orange mr-sm-3">Я победил</button>
                            </div>
                            <p class="mt-sm-4">или</p>
                            <div class="no-match d-md-flex mt-3">
                                <p>если не удалось сыграть матч, подтверди что</p>
                                <button (click)="this.matchResult(false, true)" class="btn-underline mb-1 mb-sm-0">матч не состоялся</button>
                            </div>
                            <div *ngIf="matchInfo?.status.shortName==='verification'" class="warning-info flex-center">
                                <img alt="img"  src="../../../../assets/Match/warning.png" alt="">
                                    Проигнорировав данное действие - результат будет расчитан автоматически
                                <img alt="img"  src="../../../../assets/Match/warning.png" alt="">
                            </div>
                        </ng-container>
                        <ng-container *ngIf="matchInfo?.status.shortName==='conflict'">
                            <div class="conflict-box">
                                <div class="attention flex-center">
                                    <img alt="img"  src="../../../../assets/Match/warning.png" alt="">
                                        Внимание
                                    <img alt="img"  src="../../../../assets/Match/warning.png" alt="">
                                </div>
                                <div class="redirect">
                                    Матч перенаправлен в <a class="btn btn-underline" [routerLink]="['/my-profile/dispute']">Арбитраж</a>
                                </div>
                                <p>Указаный тобою результат матча не совпадает с результатом матча соперника</p>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="matchInfo?.status.shortName==='finished'">
                            <div class="main-status" *ngIf="matchInfo?.result === 'win'">
                                Поздравляем с победой!
                                <div class="win-info">
                                    <span class="text">Сумма выигрыша: </span> <span class="green">{{matchInfo?.winAmount| number:'':'fr-FR'}} <wagers [color]="'green-light'" [height]='19'></wagers> </span>
                                </div>
                                <button (click)="this.createMatchService.checkStatus()" class="btn btn-orange another-match">
                                    Создать новый матч
                                </button>
                            </div>
                            <div class="main-status" *ngIf="matchInfo?.result === 'lose'">
                                Поражение.
                                <div class="win-info">
                                    <span class="text">Попробуй еще! </span>
                                </div>
                                <button (click)="this.createMatchService.checkStatus()" class="btn btn-orange another-match">
                                    Создать новый матч
                                </button>
                            </div>
                            <div class="main-status" *ngIf="matchInfo?.result === 'draw'">
                                Матч не состоялся.
                                <button (click)="this.createMatchService.checkStatus()" class="btn btn-orange another-match mt-3">
                                    Создать новый матч
                                </button>
                            </div>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="!matchInfo?.isEnemy&&!matchInfo?.isOwner">
                        <div *ngIf="matchInfo?.status.shortName==='created'" class="btn-wrapp flex-center">
                            <button (click)="this.createMatchService.checkStatus()" class="btn btn-empty mr-sm-3">Создать свой матч</button>
                            <button (click)="this.createMatchService.checkStatus(matchUid, matchInfo?.platform, matchInfo?.winAmount, matchInfo?.withAlly)" class="btn btn-orange ml-sm-3">Присоединиться к матчу</button>
                        </div>

                        <div *ngIf="matchInfo?.status.shortName!=='created'">
                            <div class="main-status">
                                <span *ngIf="matchInfo?.status.shortName!=='finished'" >На данном этапе соперник уже найден</span>
                                <span *ngIf="matchInfo?.status.shortName=='finished'" >Матч завершен</span>
                            </div>
                            <div class="win-info">
                                <span class="text">У тебя есть возможность <span (click)="this.createMatchService.checkStatus()" class="orange">cоздать свой матч</span>  </span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div *ngIf="(matchInfo?.isOwner||matchInfo?.isEnemy)&&!'created,verification,finished,conflict,archived'.includes(matchInfo?.status.shortName) || isAdmin" class="chat">
            <app-chat [matchUid]='matchUid' [userName]="matchInfo?.isOwner?matchInfo?.enemyLogin:matchInfo?.ownerLogin"></app-chat>
        </div>
        <div *ngIf="!((matchInfo?.isOwner||matchInfo?.isEnemy)&&!'created,verification,finished,conflict'.includes(matchInfo?.status.shortName)) && !isAdmin" class="rules">
            <app-rules class="rules" [list]='faqList ? faqList.list : []' [title]="'Частые вопросы'"></app-rules>
        </div>
    </div>
</section>
