@import '../../../@theme/theme.scss';

section {
    background: transparent linear-gradient(323deg, #999595 0%, #7C7979 14%, #3C3A3A 44%, #444141 73%, #454242 77%, #4B4848 100%) 0% 0% no-repeat padding-box;
    position: relative;
    padding-bottom: 40px;
    overflow: hidden;
    @media screen and (max-width: 575px) {
        padding-bottom: 30px;
    }
}
.top-wrapp {
    border-bottom: 2px solid $c-orange;
}
.header {
    color: #fff;
    padding-top: 28px;
    padding-left: 30px;
    margin-bottom: 30px;
    .btn-icon {
        display: flex;
        img {
            width: 53px;
        }
    }
    .info {
        margin-left: 31px;
        .name {
            font-size: 26px;
            font-weight: 400;
            line-height: 30px;
            .with-ally {
                img {
                    height: 31px;
                    cursor: pointer;
                }
                .enemy-with-ally {
                    margin-left: -7px;
                    margin-top: 1px;
                    height: 30px;
                }
            }
        }
        .status {
            font-weight: 100;
            font-size: 17px;
            span {
                margin-left: 2px;
            }
            @media screen and (max-width: 575px) {
                font-size: 15px;
            }
        }
    }
    .reload {
        margin-right: 31px;
        mat-icon {
            color: #fff;
            font-size: 30px;
            &.load {
                -webkit-animation:spin 600ms linear infinite;
                -moz-animation:spin 600ms linear infinite;
                animation:spin 600ms linear infinite;
            }
        }
        @-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
    }
    @media screen and (max-width: 575px) {
        padding: 15px 0 0 0;
        margin-bottom: 17px;
        .btn-icon {
            position: absolute;
            left: 9px;
            top: 18px;
            img {
                width: auto;
            }
        }
        .left {
            width: 100%;
        }
        .info {
            margin-left: 0;
            width: 100%;
            .name {
                margin: 5px auto 0;
                justify-content: center;
                font-size: 20px;
            }
            .status {
                width: 80%;
                display: flex;
                margin: auto;
                min-width: 280px;
                margin-top: 10px;
                line-height: 18px;
                justify-content: center;
                span {
                    text-align: left;
                    display: block;
                }
            }
        }
    }
}
.match-wrapp {
    position: relative;
    z-index: 1;
    .pad {
        position: absolute;
        right: -277px;
        z-index: 10;
        bottom: -205px;
        height: 330px;
        &.up {
            bottom: -180px;
        }
        @media screen and (max-width: 992px) {
            &.up {
                bottom: -135px;
                right: -46px;
                opacity: 0.3;
            }
            z-index: -1;
            right: 460px;
            height: 230px;
            opacity: 0.2;
            bottom: -230px;
        }
        @media screen and (max-width: 768px) {
            &.up {
                bottom: -300px;
            }
            right: 280px;
            bottom: -220px;
        }
        @media screen and (max-width: 575px) {
            &.up {
                bottom: -220px;
                right: -35px;
                opacity: 0.2;
            }
            right: 0;
            left: -14%;
            height: 210px;
            opacity: 0.2;
            bottom: -204px;

        }
    }
    @media screen and (max-width: 575px) {
        margin: auto;
        width: 85%;
    }
}
.match-info ::ng-deep {
    border-radius: 12px;
    border: 2px solid $c-orange;
    padding: 26px 30px 50px;
    color: #fff;
    .head {
        margin-bottom: 35px;
        .username {
            margin-right: 15px;
            font-size: 19px;
            color: $c-orange;
            .tag {
                color: #fff;
            }
        }
        .couple {
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 145px;
            &.host {
                text-align: end;
            }
        }
        .name {
            font-size: 19px;
          &.host {
              text-align: end;
          }
        }
        @media screen and (max-width: 575px) {
            p {
                font-size: 15px;
            }
            .couple {
                width: 115px;
            }
            .name {
                font-size: 16px;
                line-height: 33px;
            }
        }
        .left {
            img {
                height: 31px;
                cursor: pointer;
            }
            .enemy-with-ally {
              margin-left: -7px;
              margin-top: 1px;
              height: 30px;
            }
        }
        .btn-wrapp {
            img {
                height: 23px;
            }
        }
        @media screen and (max-width: 768px) {
            &.single-head {
                flex-direction: column-reverse;
            }
            .btn-wrapp {
                margin-bottom: 15px;
                button img {
                    height: 25px;
                    margin: 0 10px;
                }
            }
        }
        @media screen and (max-width: 575px) {
            .left {
                flex-direction: column-reverse;
                .own-username {
                    margin-right: 0;
                    max-width: none;
                    text-align: center;
                    line-height: 10px;
                    .tag {
                        display: none;
                    }
                    .name {
                        display: block;
                        width: auto;
                        max-width: none;
                    }
                }
                .with-ally {
                    max-width: 80px;
                    margin: auto;
                    .single {
                        margin: auto;
                    }
                }
            }
        }
        @media screen and (max-width: 575px) {
            margin-bottom: 7px;
        }
    }
    .main-data {
        .item-wrapp {
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
        .time-wrapp {
            justify-content: center;
            margin-bottom: 6px;
            .icon-created, .icon-expire {
                height: 34px;
                margin-left: 5px;
            }
            .game-mode{
                font-size: 11px;
                .fut {
                    font-size: 16px;
                }
            }
            .time-expire {
                font-size: 16px;
                margin-top: 4px;
            }
        }
        .item {
            text-align: center;
            color: #fff;
        }
        .platform, .bid {
            color: $c-orange;
            font-size: 30px;
            font-weight: 400;
            ::ng-deep {
              .wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.5px;
              }
              .p-name {
                font-size: 13px;
                margin-left: 5px;
                margin-top: 0;
              }
              fa-icon {
                font-size: 30px;
              }
            }
        }
        .field {
            font-size: 17px;
            font-weight: 700;
            line-height: 8px;
            @media screen and (max-width: 1200px) {
                white-space: nowrap;
            }
        }
    }
    @media screen and (max-width: 992px) {
        padding: 15px 30px 3px;
        .item {
            height: 80px;
        }
        .item-wrapp {
            .btn-wrapp {
                margin-bottom: 20px;
                margin-top: -5px;
                img {
                    height: 30px;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
      padding: 15px 5px 3px;
        .item {
            height: 65px;
            transform: scale(0.9);
            &--platform {
                height: 60px;
                margin-top: -10px;
            }
        }
        .item-wrapp {
            .btn-wrapp {
                margin-top: 5px;
            }
        }
    }
}
.action-box {
    z-index: 4;
    padding: 33px 0 65px;
    color: #fff;
    text-align: center;
    font-weight: 100;
    .main-status {
        max-width: 700px;
        line-height: 35px;
        margin: auto;
        font-size: 30px;
        margin-bottom: 8px;
    }
    .manual {
        letter-spacing: 0.04em;
        .orange {
            margin: 0 2px;
        }
    }
    .win-info {
        font-size: 17px;
        .text {
            opacity: 0.8;
            @media screen and (max-width: 768px) {
                opacity: 1;
            }
        }
        .orange {
            font-weight: 600;
            cursor: pointer;
            white-space: nowrap;
        }
    }
    .btn-wrapp {
        z-index: 5;
        .btn {
            width: 240px;
            z-index: 10;
        }
        .btn-empty {
            border-color: #fff;
            color: #fff;
            &:hover {
                background-color: #3b393a;
            }
        }
        .start-match-wrapp {
            position: relative;
        }
        .tooltip {
            cursor: auto;
            opacity: 0;
            position: absolute;
            right: 0;
            width: 240px;
            height: 100%;
            top: 0;
        }
        @media screen and (max-width: 575px) {
            flex-direction: column-reverse;
            .btn {
                width: 85%;
            }
            .btn-orange, .btn-error {
                margin-bottom: 20px;
                margin-left: auto;
                margin-right: auto;
            }
            .start-match-wrapp {
                width: 100%;
            }
        }
    }
    .no-match {
        margin: auto;
        justify-content: center;
        align-items: center;
        p {
            display: inline;
        }
        .btn-underline {
            margin-left: 3px;
            &:before,  &:after {
                width: 93%;
                right: 0;
                margin: auto;
                bottom: -2px;
            }
        }
        @media screen and (max-width: 768px) {
            p {
                display: inline;
            }
            .btn-underline {
                display: inline-block;
            }
        }
    }
    .result-timeout {
        color: #22bf1f;
        border: 1px solid #22bf1f;
        padding: 2px 3px;
        font-size: 16px;
        border-radius: 9px;
        &.large {
            padding: 5px 9px;
        }
    }
    .warning-info {
        font-size: 12px;
        margin-top: 22px;
        padding: 14px 0;
        margin: 22px -700px 0;
        background-color: #615e5c;
        @media screen and (max-width: 768px) {
            margin: 22px -200px 0;
            padding: 14px 200px;
            img {
                height: 30px;
            }
        }
    }
    .conflict-box {
        .attention {
            font-size: 30px;
        }
        .redirect {
            font-size: 19px;
            @media screen and (max-width: 575px) {
                line-height: 25px;
            }
        }
        .btn-underline {
            display: inline-block;
            font-size: 19px;
            color: $c-orange;
            line-height: 0px;
            width: auto;
            margin: 0px 0 0 5px;
            font-weight: 700;
            &::after {
                bottom: 1px;
                height: 2px;
            }
            &::before {
                background-color: transparent;
            }
        }
        p {
            font-size: 17px;
            margin-top: 10px;
        }
    }
    @media screen and (max-width: 575px) {
        padding: 20px 0 30px;
        .main-status {
            font-size: 25px;
            line-height: 27px;
            p {
                line-height: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                &.own-result {
                    line-height: 32px;
                }
            }
        }
    }
}

.rules {
    margin-top: 25px;
    @media screen and (max-width: 575px) {
        margin-top: 0;
    }
}
.another-match {
    margin: 10px auto 0;
    z-index: 10;
}
.created {
    color: $c-orange;
}
.found {
    color: $c-yellow;
}
.ready {
    color: $c-green;
}
.finished {
    color: $c-finished;
}
.conflict {
    color: #ff3f3f;
    font-weight: 600;
}
.green {
    color: $c-green;
    white-space: nowrap;
}
.dark-green {
    color:#22bf1f;
}
.underline {
    font-weight: 700;
    border-bottom: 1px solid;
}
