@import '../../../@theme/theme.scss';

.row {
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

h4 {
    font-size: 22px;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto 10px;
}

h3{
    font-size: 50px;
    height: 60%;
    cursor: pointer;
}

.item {
    background-color: $c-cms;
    border-radius: 6px;
    padding: 22px 10px;
    width: 32%;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .icon {
        position: absolute;
        right: 13px;
        top: 10px;
        max-height: 50px;
        max-width: 50px;
        &.pad {
            top: 15px;
        }
    }
}

.field {
    margin: 10px auto;
    width: 330px;
    border-bottom: 1px dashed;
    .value {
        width: 100px;
        font-weight: 700;
        white-space: nowrap;
    }
    &.total {
        font-weight: 700;
        .value {
            color: $c-success;
        }
    }
    &.red .value {
        color: $c-error;
    }
    &.c-orange .value {
        color: $c-orange;
    }
}

.opacity {
    opacity: 0.25;
}
