<h1>
    Панель управления
</h1>
<section>
    <div class="row mt-4 d-flex">
            <!-- INCOMES--------------------------------------------------------------------- -->
        <div class="item">
            <img class="icon" src="../../../../assets/Admin/users.png" alt="icon">
            <h4>Пользователи</h4>
            <h3 (click)="router.navigate(['cms/users'])">{{users?.length}}</h3>
        </div>
        <!-- MATCHES--------------------------------------------------------------------- -->
        <div class="item">
            <img class="icon pad" src="../../../../assets/Admin/matches.png" alt="icon">
            <div class="top">
                <h4>Матчи</h4>
                <div class="field c-orange full-flex">
                    <span>Активные:</span>
                    <span class="value ">{{matches?.active}}</span>
                </div>
                <div class="field red full-flex">
                    <span>В спорах:</span>
                    <span class="value ">{{matches?.conflict}}</span>
                </div>
                <div class="field full-flex">
                    <span>Не состоялись:</span>
                    <span class="value ">{{matches?.draw}}</span>
                </div>
                <div class="field full-flex">
                    <span>Завершенные:</span>
                    <span class="value ">{{matches?.finished}}</span>
                </div>
            </div>  
            <div class="field total full-flex">
                <span>Всего:</span>
                <span class="value ">{{matches?.total}}</span>
            </div>
        </div>
        <!-- CONFLICTS--------------------------------------------------------------------- -->
        <div class="item">
            <img class="icon" src="../../../../assets/Admin/conflict.png" alt="icon">
            <div class="top">
                <h4>Конфликты</h4>
                <div class="field red full-flex">
                    <span>Активные:</span>
                    <span class="value ">{{conflicts?.active}}</span>
                </div>
                <div class="field full-flex">
                    <span>Завершенные:</span>
                    <span class="value ">{{conflicts?.finished}}</span>
                </div>
            </div>
            <div class="field total full-flex">
                <span>Всего:</span>
                <span class="value ">{{conflicts?.total}}</span>
            </div>
        </div>
    </div>

    <div class="row mt-4 d-flex">
        <!-- INCOMES--------------------------------------------------------------------- -->
    <div class="item">
        <img class="icon" src="../../../../assets/Admin/incomes.png" alt="icon">
        <div class="top">
            <h4>Прибыль</h4>
            <div class="field c-orange full-flex">
                <span>Доход с матчей:</span>
                <span class="value ">{{profit?.finishedMatches}}</span>
            </div>
            <div class="field c-orange full-flex opacity">
                <span>Расчетный доход:</span>
                <span class="value ">-</span>
            </div>
            <div class="field c-orange red full-flex">
                <span>Сейчас в матчах:</span>
                <span class="value ">{{profit?.actualMatches}}</span>
            </div>
        </div>  
        <div class="field total full-flex">
            <span>Чистая прибыль:</span>
            <span class="value ">{{profit?.finishedMatches}}</span>
        </div>
    </div>
    <!-- FINANCE--------------------------------------------------------------------- -->
    <div class="item">
        <img class="icon" src="../../../../assets/Admin/finance.png" alt="icon">
        <div class="top">
            <h4>Финансы</h4>
            <div class="field c-orange full-flex">
                <span>Пополнений:</span>
                <span class="value ">{{payments?.incomes}}</span>
            </div>
            <div class="field red full-flex">
                <span>Выплат:</span>
                <span class="value ">{{payments?.outcomes}}</span>
            </div>
        </div>  
        <div class="field total full-flex">
            <span>Общий оборот:</span>
            <span class="value ">{{payments?.clearProfit}}</span>
        </div>
    </div>
    <!-- STATISTICS--------------------------------------------------------------------- -->
    <div class="item opacity">
        <img class="icon" src="../../../../assets/Admin/statistics.png" alt="icon">
        <div class="top">
            <h4>Статистика</h4>
            <div class="field total full-flex">
                <span>Сегодня:</span>
                <span class="value ">-</span>
            </div>
            </div>
            <div class="field c-orange full-flex">
                <span>Приход за день:</span>
                <span class="value ">-</span>
            </div>
            <div class="field c-orange full-flex">
                <span>Приход за неделю:</span>
                <span class="value ">-</span>
            </div>
            <div class="field c-orange full-flex">
                <span>Приход за месяц::</span>
                <span class="value ">-</span>
            </div>
        </div>  
    </div>
</section>
