@import '../../../../@theme/theme.scss';

section {
    padding: 15px 0 90px;
    h1 {
        color: #fff;
    }
}

.breadcrumbs {
    font-size: 13px;
    color: #fff;
    span {
        color: #B9B8B8;
    }
}

.wrapper {
    margin-top: 30px;
    width: 100%;
    padding: 30px 30px 0 0;
    border-right: 1px solid $c-orange;
    border-top: 1px solid $c-orange;
    position: relative;
}

.pad {
    position: absolute;
    bottom: -100px;
    right: 25px;
    height: 260px;
    opacity: 0.5;
}

.text-wrapper {
    background-color: rgba($color: #000000, $alpha: 0.15);
    padding: 30px 200px 30px 50px;
    height: 100%;
    position: relative;
    z-index: 10;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    ::ng-deep {
      p {
        font-size: 14px;
      }
      a {
        color: $c-orange;
      }
      h3 {
        font-size: 15px;
        margin-bottom: 5px;
      }
      img {
        max-height: 35px;
        max-width: 35px;
      }
    }
    &::before {
        content: '';
        width: 50%;
        height: 1px;
        background-color: $c-orange;
        position: absolute;
        top: 0;
        right: 0;
    }
    &::after {
        content: '';
        width: 1px;
        height: 50%;
        background-color: $c-orange;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.right {
    margin-top: 80px;
    margin-left: -15px;
    a {
        display: flex;
        font-size: 15px;
        font-weight: 200;
        margin-bottom: 15px;
        mat-icon {
          display: none;
        }
        &.active, &:hover {
            color: $c-orange;
            font-weight: 600;
        }
        &.main {
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 21px;
        }
    }
}

@media screen and (max-width: 1200px) {
  .text-wrapper {
    padding-right: 50px;
  }
  .pad {
    opacity: 0.1;
  }
}

@media screen and (max-width: 992px) {
  section {
    padding-bottom: 40px;
  }
  .right {
    margin-left: 0;
    margin-top: 60px;
    a mat-icon {
      display: inline-block;
      margin-right: 2px;
      margin-left: -7px;
    }
    .links {
      margin-left: 17px;
    }
  }
}

@media screen and (max-width: 768px) {
  .text-wrapper {
    padding: 30px 25px;
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    border: none;
    padding: 0;
    margin-top: 20px;
    .text-wrapper {
      padding: 20px;
    }
  }
  .right {
    margin-top: 30px;
  }
}
