<section >
    <div class="container" *ngIf="activeHelper">
        <div class="breadcrumbs">
            <a routerLink='../../help'>Что тебе нужно знать</a> -
            <a [routerLink]="['../', activeHelper.route]"><span>{{activeHelper.title}}</span></a>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="left">
                    <h1 class="text-center mt-3">{{activeHelper.title}}</h1>
                    <div class="wrapper">
                        <div class="text-wrapper" [innerHTML]='activeHelper.text'></div>
                        <img class="pad" src="../../../../../assets/Match/pad-red.png" alt="gamepad">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="right">
                    <a class="main" routerLink='../../help'><mat-icon>keyboard_arrow_left</mat-icon> Что тебе нужно знать</a>
                    <a class="links" *ngFor="let helper of helpersList" routerLinkActive="active" [routerLink]="['../', helper.route]">{{helper.title}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
