ul {
    li a{
        color: #ffff;
        font-size: 18px;
        letter-spacing: 0.9px;
        line-height: 45px;
        font-weight: 200;
        &.active, &:hover {
            font-weight: 600;
        }
    }
}