<ul>
    <ng-container *ngIf="!isAdmin">
        <li>
            <a [routerLink]="['account']" routerLinkActive="active" >Личный кабинет</a>
        </li>
        <li>
            <a [routerLink]="['setting']" routerLinkActive="active"> Мой профиль</a>
        </li>
        <li>
            <a [routerLink]="['transactions']" routerLinkActive="active"> Финансы</a>
        </li>
        <li>
            <a [routerLink]="['dispute']" routerLinkActive="active">  Арбитраж</a>
        </li>
    </ng-container>
    <li>
        <a [routerLink]="['password']" routerLinkActive="active">  Сменить пароль</a>
    </li>
    <!-- <li>
        <a [routerLink]="['notifications']" routerLinkActive="active"> Уведомления</a>
    </li> -->
</ul>
