@import '../../../@theme/theme.scss';

section {
    padding: 30px 0 40px;
    h1 {
      color: #fff;
      margin-bottom: 17px;
    }
}

.category-wrapp {
    padding: 13px 0;
    border-bottom: 2px solid $c-orange;
    h2 {
        color: $c-orange;
        font-size: 23px;
        font-weight: 200;
    }
    .category {
        margin: auto;
        width: 98%;
        background-color: rgba($color: #000000, $alpha: 0.11);
        border-radius: 10px;
        padding: 30px;
    }
    @media screen and (max-width: 575px) {
        h2 {
            font-size: 20px;
        }
        .category {
            padding: 20px 10px;
        }
    }
}

