<section >
    <div class="container">
      <h1 class="text-center">Частые вопросы</h1>
      <div class="category-wrapp"  *ngFor="let faq of faqList">
        <div class="category">
          <h2 class="text-center">{{faq.title}}</h2>
          <app-rules [list]='faq.list'></app-rules>
        </div>
      </div>
    </div>
</section>
  