<app-table-page>
  <ng-container *ngIf="status === success">
      <h1 class="icon">✔</h1>
      <h1>Оплата прошла успешно.</h1>
  </ng-container>
  <ng-container *ngIf="status === cancel">
      <div class="img-wrapp" style="margin-bottom: 20px;">
            <img style="height: 80px;" src="../../../../assets/_Optimized/no-entry.svg" alt="canceled payment">
      </div>
      <h1>Платеж не прошел!</h1>
      <p class="mt-1 exta-info">При обработке платежа произошла ошибка.</p>
  </ng-container>
  <p class="redirect">Ты будешь перенаправлен <a [routerLink]="['/my-profile/account']"> в Личный кабинет</a></p>
</app-table-page>