<div class="content">
  <span>Ожидай появления соперника...</span>

  <div class="extra-info">
    или пригласи его сам с помощью
    <a target="_blank" href="https://discord.gg/jmvXGnxdXD">
      <img class="ml-2" height="20px" src="/assets/_Optimized/discord-orange.svg" alt="Discord">
    </a>
  </div>
</div>