@import '../../@theme/theme.scss';

.mat-dialog-content {
    text-align: center;
    .btn {
        width: 65%;
        margin: auto;
        &.vk {
            @media screen and (max-width: 575px){
            margin-top: 11px;
            }
        }
    }
    .field-wrapp {
        width: 80%;
        position: relative;
        .show-psw {
            position: absolute;
            right: -10px;
            height: 25px;
            width: 25px;
            cursor: pointer;
        }
        &.extra{
            justify-content: flex-end;
            margin-top: -8px;
        }
        input::placeholder {
            font-size: 13px;
        }
    }
    .extra-info {
        font-size: 14px;
    }
    .btn-icon {
        font-size: 14px;
        color: $c-orange;
        padding: 0;
    }
}
