<button class="btn-icon close" (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
<h1 mat-dialog-title>Войти на Wagermatch</h1>
<div class="mat-dialog-content" mat-dialog-content>
    <a href="https://oauth.vk.com/authorize?client_id=7680168&redirect_uri={{frontLink}}/auth/vk&display=page&state=done&response_type=code" class="btn vk" [style.color]="'white'">
        <img class="svg" alt="vk logo" src="../../assets/LoginRegister/vk.svg">
        <span>ВКонтакте</span>
    </a>
    <!-- <p class="bug-message">Логирование и регистрация с ВК временно не работает. Приносим свои извинения за неудобства. </p> -->
    <p class="mt-3 mt-sm-4 mt-4 mb-2">или</p>
    <form [formGroup]="form" autocomplete="on">
        <div class="field-wrapp">
            <img alt="img"  src="../../assets/LoginRegister/email.svg" alt="">
            <mat-form-field>
                <mat-label>Email или Логин</mat-label>
                <input matInput
                       type="email"
                       [errorStateMatcher]="matcher"
                       formControlName="email">
            </mat-form-field>
        </div>
        <div class="field-wrapp">
            <img alt="img"  src="../../assets/LoginRegister/password.svg" alt="">
            <mat-form-field>
                <mat-label>Пароль</mat-label>
                <input matInput
                       #password
                       type="password"
                       [errorStateMatcher]="matcher"
                       formControlName="password">
            </mat-form-field>
            <img alt="img"   class="show-psw"
                  src="{{passwordImage}}"
                  alt="show"
                  (click)="togglePaswordShown()">
        </div>
        <div class="field-wrapp extra" (click)="openForgotPassword()">
            <a class="btn-icon">
                Забыл пароль?
            </a>
        </div>
        <button
            [disabled]=form.invalid
            (click)='!isLoading ?  toLogin() : null'
            class="btn btn-orange mt-3 mt-sm-4 mb-4">
            Войти
            <mat-spinner *ngIf="isLoading" [diameter]='20'></mat-spinner>
        </button>
        <div class="extra-info">
            <span>Новенький? </span>
            <a class="btn-icon" (click)="openRegister()" >
                Зарегистрируйся
            </a>
        </div>
        <div class="terms-link">
          <span>Используя сайт www.app.wager-match.pro, ты принимаешь <a (click)="dialogRef.close()" [routerLink]="['info/user-agreement']">Пользовательское соглашение</a></span>
        </div>
    </form>
</div>
