@import '.../../../../../@theme/theme.scss';

section {
    min-height: calc(100vh - 65px)!important;
    margin-top: -30px;
    color: #fff;
    padding-bottom: 60px;
}
header {
    margin: -15px -30px 50px;
    position: relative;
    height: 100px;
    color: #fff;
    div {
        z-index: 1;
    }
    &:after {
        background: url("../../../../assets/MyProfile/header.png") repeat center bottom/auto;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .status-wrapp {
      padding: 12px;
      // height: 100px;
      border-radius: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      //background: linear-gradient(135deg, #001721 0%, rgba(39, 63, 80, 0.95) 50%, #001721 100%);
      background-color: #000;
      color: #fff;
      .status {
        font-weight: 700;
        &.green {
          color: $c-dark-green;
        }
        &.red {
          color: $c-error;
        }
        &.yellow {
          color: $c-yellow;
        }
      }
    }
    @media screen and (max-width: 575px){
      .container {
        padding: 0 30px;
      }
    }
}
.wrapp {
    &.on-load{
        min-height: 430px;
        opacity: 30%;
    }
}

@media screen and (max-width: 992px) {
  header {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  section {
    min-height: calc(100vh - 120px);
  }
  header {
    margin-bottom: 30px;
    height: 50px;
    h2 {
      font-size: 19px;
      margin-left: 5px;
    }
  }
  section {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 575px) {
  header h2 {
    margin-left: 10px;
  }
}
