<section>
    <header class="full-flex">
        <div class="container">
            <h2>{{user.login}}</h2>
            <div class="status-wrapp">
                Статус: &nbsp; <span [ngClass]="{'green': user.status.includes('Active'), 'red':user.status.includes('Blocked'), 'yellow':user.status.includes('inActive')}" 
                        class="status">{{user.status}}</span>
            </div>
            <button *ngIf="user.status.includes('Blocked')" (click)="deactivateUsers(true)" class="btn btn-success">Активировать</button> 
            <button *ngIf="user.status.includes('Active')" (click)="deactivateUsers(false)" class="btn btn-error">Заблокировать</button>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-user-profile-menu class="d-none d-lg-block"></app-user-profile-menu>
            </div>
            <div class="col-lg-9">
                <div class="wrapp" [ngClass]="{'on-load': loading}">
                    <div *ngIf="loading" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    <router-outlet *ngIf="!loading"></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>
