@import '../../../../@theme/theme.scss';

form {
    .field-wrapp {
        width: 80%;
        position: relative;
        margin: auto;
        display: block;
        height: 90px;
        p {
            margin-top: -20px;
            text-align: left;
            padding-bottom: 1.25em;
            font-size: 13px;
            font-weight: 500;
            .amount {
                color: $c-success;
                font-weight: 600;
            }
        }
    }
    .btn {
        margin: auto;
    }
}

.card-input {
    position: relative;
}
.payType {
    position: absolute;
    height: 27px;
    right: 16px;
    &.option-icon {
        height: 27px;
    }
    &.card {
        height: 36px;
        top: -3px;
        height: 36px;
        right: 10px;
        border: none;
    }
    &.rubl {
        height: auto;
        right: 23px;
    }
    @media screen and (max-width: 575px) {
        top: 11px;
        right: -13px;
        &.card {
            top: 4px;
            height: 32px;
            right: -16px;
        }
        &.rubl {
            right: -3px;
            top: auto;
        }
    }

}
