@import '../../@theme/theme.scss';

.mat-dialog-content {
    text-align: center;
    .btn {
        width: 65%;
        margin: auto;
        &.vk {
          @media screen and (max-width: 575px){
            margin-top: 11px;
          }
        }
    }
    .field-wrapp {
        margin-top: -6px;
        width: 80%;
        position: relative;
        .show-psw {
            position: absolute;
            right: -10px;
            height: 25px;
            width: 25px;
            cursor: pointer;
        }
        &.extra{
            justify-content: flex-end;
            margin-top: -8px;
        }
        .accept-terms {
          margin-top: 0;
          text-align: left;
          margin-left: 15px;
        }
    }
    .extra-info {
        font-size: 14px;
    }
    .btn-icon {
        font-size: 14px;
        color: $c-orange;
        padding: 0;
    }
}
