<button class="btn-icon close" (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
<h1 mat-dialog-title> Регистрация <span class="d-none d-sm-block">на Wagermatch</span> </h1>
<div mat-dialog-content>
    <a href="https://oauth.vk.com/authorize?client_id=7680168&redirect_uri={{frontLink}}/auth/vk&display=page&state=done&response_type=code" class="btn vk" style.color="'white'">
        <img class="svg" alt="vk logo" src="../../assets/LoginRegister/vk.svg">
        <span>ВКонтакте</span>
    </a>
    <!-- <p class="bug-message">Логирование и регистрация с ВК временно не работает. Приносим свои извинения за неудобства. </p> -->
    <p class="mt-2 mt-sm-4 mb-sm-2">или</p>
    <form [formGroup]="form" autocomplete="of">
        <div class="field-wrapp">
            <img alt="img"  src="../../assets/LoginRegister/person.svg" alt="">
            <mat-form-field>
                <mat-label>Логин</mat-label>
                <input matInput
                       type="text"
                       [errorStateMatcher]="matcher"
                       formControlName="login">
                <mat-error>
                    Введи свой Логин
                </mat-error>
            </mat-form-field>
        </div>
        <div class="field-wrapp">
            <img alt="img"  src="../../assets/LoginRegister/email.svg" alt="">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput
                       type="email"
                       [errorStateMatcher]="matcher"
                       formControlName="email">
                <mat-error>
                    <span *ngIf="!form.get('email').hasError('maxlength')">Введи свой email</span>
                    <span *ngIf="form.get('email').hasError('maxlength')">Превышен лимит символов</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="field-wrapp">
            <img alt="img"  src="../../assets/LoginRegister/password.svg" alt="">
            <mat-form-field>
                <mat-label>Пароль</mat-label>
                <input matInput
                        autocomplete="new-password"
                       #password
                       type="password"
                       [errorStateMatcher]="matcher"
                       formControlName="password">
                <mat-error>
                    <span *ngIf="!form.get('password').hasError('maxlength')">Пароль должен состоять минимум из 6 символов</span>
                    <span *ngIf="form.get('password').hasError('maxlength')">Превышен лимит символов</span>
                </mat-error>
            </mat-form-field>
            <img alt="img"   class="show-psw"
                  src="{{passwordImage}}"
                  alt="show"
                  (click)="togglePaswordShown()">
        </div>
        <div class="field-wrapp d-flex mt-1">
          <mat-checkbox formControlName="terms"></mat-checkbox>
          <p class="terms-link accept-terms">Я подтверждаю, что мне больше 18 лет и принимаю <a (click)="dialogRef.close()" [routerLink]="['info/user-agreement']">Пользовательское соглашение</a></p>
        </div>
        <button
            [disabled]="form.invalid || !form.get('terms').value"
            (click)="!isLoad?toRegister():null"
            class="btn btn-orange mt-3 mt-sm-4 mb-4">
            Зарегистрируйся
            <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
        </button>
        <div class="extra-info">
            <span>Уже зарегистрирован?</span>
            <a class="btn-icon" (click)="openLogin()" >
                Войти
            </a>
        </div>
    </form>
</div>

