<button class="btn-icon close" (click)="this.dialogRef.close()">
    <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>Обновление баланса</h1>
<div mat-dialog-content>
    <form [formGroup]="form" autocomplete="off">
        <div class="field-wrapp">
            <div class="value">
                Активный баланс: 
                <span>
                    {{data.balanse}} <wagers [color]="'orange-dark'"[height]="18"></wagers>
                </span>
            </div>
        </div>
        <div class="field-wrapp mt-3">
            <div (click)="minus()" class="changer minus">
                -
            </div>
            <mat-form-field>
                <mat-label>Сумма</mat-label>
                <input  matInput
                        #amountInput
                        [min]='minRecharge'
                        [max]='maxRecharge'
                        step = '100'
                        formControlName='amount'
                        type="number">
                        <wagers class="cardType wagers" [height]="23"></wagers>
            </mat-form-field>
            <div (click)="plus()" class="changer plus">
                +
            </div>
        </div>
        <div class="field-wrapp new mb-3">
            <div class="value">
                Новый баланс: <span>{{+data.balanse+(+amountInput.value)}} <wagers [color]="'orange-dark'"[height]="18"></wagers></span>
            </div>
        </div>
        <mat-form-field class="mt-3" floatLabel="never" appearance="outline" class="description">
            <mat-label>Описание</mat-label>
                <textarea matInput
                    formControlName ='description'
                    [cdkAutosizeMinRows]="5"
                    [matTextareaAutosize]='true'
                    [cdkAutosizeMaxRows]="30"
                    cdkTextareaAutosize
                    [matAutocomplete]="auto"> 
                </textarea>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let descr of descriptions" [value]="descr">
                    {{descr}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button
            *ngIf="amountInput.value>=0"
            [disabled]="form.invalid||amountInput.value==0"
            (click)="!isLoad?toRecharge():null"
            class="btn btn-orange mb-sm-4">
            <span>Пополнить баланс</span>
            <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
        </button>
        <button
            *ngIf="amountInput.value<0"
            [disabled]="form.invalid"
            (click)="!isLoad?toRecharge():null"
            class="btn btn-error mb-sm-4">
            <span>Отнять баланс</span>
            <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
        </button>
    </form>
</div>
