@import '../../../../../@theme/theme.scss';

form {
    .field-wrapp {
        width: 90%;
        margin: auto;
        position: relative;
        mat-form-field, .value {
            width: 75%;
            margin: auto;
        }
        &.new {
            border-bottom: 1px solid $c-orange;
            padding-bottom: 20px;
        }
        .value {
            text-align: left;
            font-size: 15px;
            font-weight: 500;
            span {
                font-weight: 700;
                color: $c-orange;
            }
        }
        .changer {
            position: absolute;
            background-color: $c-cms;
            border-radius: 50%;
            height: 37px;
            width: 37px;
            font-size: 27px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            -moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;  
            // border: 2px solid $c-info;
            &:hover {
                border: 2px solid;
            }
            &.minus {
                left: 0;
                padding-bottom: 4px;
                border-color: $c-error;
            }
            &.plus {
                right: 0;
                border-color: $c-success;
            }
        }
    }
    ::ng-deep {
        .select .mat-select-value {
            padding-bottom: 0;
        }
        .mat-option .mat-option-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .trigger {
            justify-content: space-between;
            img {
                margin-top: 0px!important;
            }
        }
    }
    .btn {
        margin: 30px auto;
    }
}

.description {
    width: 100%;
    textarea {
        font-size: 14px;
        padding: 3px 0;
    }
}

.card-input {
    position: relative;
}
.cardType {
    position: absolute;
    height: 37px;
    right: 16px;
    &.option-icon {
        height: 27px;
    }
    &.wagers {
        margin-top: 1px;
    }
}

.option-icon {
    height: 27px;
}
