@import '../../../../@theme/theme.scss';

.matches-wrapp{
    padding: 0 60px;
    @media screen and (max-width: 575px) {
        padding: 0px;
    }
}
.match-list {
    margin-top: 30px;
    @include match-list;
    .item, .btn-icon mat-icon  {
        color: #fff;
        font-weight: 400;
    }
    .friends-play {
      img {
        height: 35px;
      }
      .enemy-with-ally {
        &::before {
          content: none;
        }
        img {
          height: 34px;
          margin-left: -6px;
          margin-top: 1px;
          opacity: 1!important;
        }
      }
    }
    .bottom-wrapp {
        ::ng-deep .page-item{
            .page-link .page, .btn-icon, span{
                color: #fff;
                border-color: #fff;
            }
            &.disabled {
                opacity: 0.7;
                .page-link span {
                    font-weight: 100;
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        .item-wrapp {
            &:first-child {
                left: 66px;
            }
            &:nth-child(2) {
                right: 45.6%;
            }
            .result {
              left: -10px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .item-wrapp:nth-child(2) {
            right: 43.6%;
        }
    }
    @media screen and (max-width: 576px) {
        margin-top: 0px;
        .item-wrapp {
            &:first-child {
                left: 10%;
            }
            &:nth-child(2) {
                right: auto;
                left: auto;
            }
            &:last-child {
                right: 35px;
            }
        }
    }
}
.match-wrapp{
    height: 60px;
}
.match-list__match{
    @include match-hover;
    @media screen and (min-width: 575px) {
      &:hover {
        border-left: $br-left-orange;
        margin: 0;
        padding: 7px 19px 10px;
        &::after {
            opacity: 1;
        }
      }
    }

    &::before {
        background: rgba(77,75,66,1);
        background: -moz-linear-gradient(top, rgba(77,75,66,1) 0%, rgba(237,151,13,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,75,66,1)), color-stop(100%, rgba(237,151,13,1)));
        background: -webkit-linear-gradient(top, rgba(77,75,66,1) 0%, rgba(237,151,13,1) 100%);
        background: -o-linear-gradient(top, rgba(77,75,66,1) 0%, rgba(237,151,13,1) 100%);
        background: -ms-linear-gradient(top, rgba(77,75,66,1) 0%, rgba(237,151,13,1) 100%);
        background: linear-gradient(to bottom, rgba(77,75,66,1) 0%, rgba(237,151,13,1) 100%);
    }
    // border-bottom: $br-botton-orange;
    border-left: $br-left-orange;
    &.archived {
        border-left-color: #505050;
        cursor: auto;
        &:hover {
            &::before {
                opacity: 0;
            }
        }
    }
    padding: 7px 19px 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    color: #000000;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: 1s linear;
    transition-property: padding, margin, font;
    fa-icon{
        font-size: 18px;
        margin-right: 7px;
    }
    .match-list__match-data{
        align-items: center;
        position: relative;
        height: 36px;
        color: #fff;
    }
    .match-list__date{
        font-size: 12px;
        text-align: center;
    }
    .status {
        height: 42px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: -5px;
        transform: rotateZ(-17deg);
        &.red {
            height: 72px;
            bottom: -23px;
        }
    }
    @media screen and (max-width: 575px) {
        padding: 7px;
    }
}
.match-list__text-item{
    &.login {
        margin-right: 5px;
        letter-spacing: 0;
        width: 85px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @media screen and (max-width: 768px) {
            width: 1000px;
        }
        @media screen and (max-width: 575px) {
            width: 70px;
            line-height: 24px;
        }
    }
    .win {
        color: $c-success;
    }
    .lose {
        color: $c-error;
    }
    .draw {
      color: $c-finished;
      letter-spacing: 0;
      font-size: 14px;
      text-align: center;
      display: block;
      line-height: 13px;
      @media screen and (max-width: 575px) {
        font-size: 12px;
      }
    }
}
.empty {
    color: #fff;
}
.icons-wrapp {
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 58px;
    position: relative;
    .enemy-with-ally {
        margin-left: -2px;
        position: relative;
        img {
            opacity: 1;
            transition: all 500ms linear;
        }
        &::before {
            transition: all 500ms linear;
            content: url('../../../../../assets/_Optimized/enemy-with-friend-white.svg');
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
        }
    }
}
.matchlist__btn-wrap{
    display: flex;
    justify-content: space-between;
}
.pad {
    position: absolute;
    bottom: -330px;
    right: -55px;
    z-index: -1;
}
