<div class="content">
  <div *ngIf="loading" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  <div class="match-list" [ngClass]="{'on-load': loading}">
    <div  class="match-list__line">
        <div class="item-wrapp">
            <div class="match-list__head-icons">
                <img alt="img"  src="../../../../assets/MyMatches/player.png" alt="">
            </div>
            <span class="item">Игрок</span>
        </div>
        <div class="item-wrapp">
            <div class="match-list__head-icons">
                <img alt="img"  src="../../../../assets/MyMatches/time.png" alt="">
            </div>
            <span class="item time">Время
                <button class="btn-icon" (click)="changeSort(true)">
                    <mat-icon matTooltip="Сортировать по дате создания" matTooltipPosition='above'>
                        swap_vert
                    </mat-icon>
                </button>
            </span>
        </div>
        <div class="item-wrapp">
            <div class="match-list__head-icons bid-icon">
                <img alt="img"  src="../../../../assets/MyMatches/coins.png" alt="">
            </div>
            <span class="item" [ngClass]="{'result': status=='finished'}">
                <span *ngIf="status!='finished'">Сумма</span>
                <span *ngIf="status=='finished'">Результат</span>
                <button class="btn-icon" (click)="changeSort(false)">
                    <mat-icon matTooltip="Сортировать по сумме пари" matTooltipPosition='above'>
                        swap_vert
                    </mat-icon>
                </button>
            </span>
        </div>
    </div>
    <p *ngIf="MatchesList.length===0" class="text-center mt-5 mb-3 empty">По заданым параметрам матчей не найдено</p>
    <div *ngIf="!loading" class="matches-wrapp">
        <div  class="match-wrapp" *ngFor= "let match of MatchesList">
            <a (click)="openMatch(match.uid)" class="match-list__match"
            [ngClass]="{'occupied':!'created,finished'.includes(match.statusShortName), 'my-match-finished': match.statusShortName=='finished', 'archived': match.statusShortName=='Archive status'}">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="match-list__match-data d-flex" [ngClass]="{'user-info': (match.withAlly||match.enemyWithAlly)}">
                            <div class="platform-logon d-flex">
                              <app-show-platform class="platform" [shortForm]='true' [platform]='match.platform'></app-show-platform>
                              <div class="match-list__text-item login">{{match.login}}</div>
                            </div>
                            <div class="icons-wrapp friends-play flex">
                              <img matTooltip="Игрок играет вместе с другом."
                                  matTooltipPosition='right'  *ngIf="match.withAlly" src="../../../../../assets/_Optimized/host-with-friend.svg" alt="onwer play with friend">
                              <div matTooltip="Игрок разрешает сопернику играть вместе с другом."
                                  matTooltipPosition='right' *ngIf="match.enemyWithAlly"  class="enemy-with-ally">
                                  <img src="../../../../../assets/_Optimized/enemy-with-friend-white.svg" alt="enemy could play with friend">
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="match-list__match-data date">
                            <ng-container >
                                <div class="match-list__date">{{match.createdAt| date:"H:mm"}}</div>
                                <div class="match-list__date">{{match.createdAt| date:"dd.MM.yyyy"}}</div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="match-list__match-data d-flex justify-content-end">
                            <div class="match-list__text-item">
                                <!-- Active matches -->
                                <span *ngIf="status!='finished'">
                                    {{match.price| number:'':'fr-FR'}}
                                    <span class="wagers">
                                        <wagers class="coin" [color]="'white'"></wagers>
                                    </span>
                                </span>
                                <!-- Finished matches -->
                                <span *ngIf="status=='finished' && match.result !=='draw'"
                                       [ngClass]="{'win': match.result === 'win', 'lose':  match.result === 'lose'}">
                                    <!-- Lost matches -->
                                    <span *ngIf="match.result === 'lose'">
                                        -  {{match.price| number:'':'fr-FR'}}
                                        <span class="wagers">
                                            <wagers class="coin" [color]="'red'"></wagers>
                                        </span>
                                    </span>
                                    <!-- Won matches  -->
                                    <span *ngIf="match.result === 'win'">
                                        {{match.winAmount| number:'':'fr-FR'}}
                                        <span class="wagers">
                                            <wagers class="coin" [color]="'green-light'"></wagers>
                                        </span>
                                    </span>
                                </span>
                                <!-- Finished draws -->
                                <span *ngIf="status=='finished' && match.result ==='draw' "  class="draw">
                                  не состоялся
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div *ngIf="MatchesList.length>0&&!loading" class="bottom-wrapp full-flex">
        <ngb-pagination class="pagination-wrapp"
                        [collectionSize]="overalMatches"
                        [(page)]="activePage"
                        [pageSize]="toShowMatches"
                        [maxSize]="10"
                        [rotate]="true"
                        (pageChange)=onChangePage()>
            <ng-template ngbPaginationPrevious class="">
                <button class="btn-icon step mr-2">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <span>предыдущая</span>
            </ng-template>
                <ng-template ngbPaginationNumber let-page>
                    <button class="btn-icon page">
                        {{page}}
                        </button>
                </ng-template>
            <ng-template ngbPaginationNext>
                <span>следующая</span>
                <button class="btn-icon step ml-2">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </ng-template>
        </ngb-pagination>
    </div>
  </div>
</div>
