<div class="content">
    <button class="btn-icon close" (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
    <h3 *ngIf="data.noMatch">Матч не состоялся</h3>
    <h3 *ngIf="!data.noMatch">Результат матча</h3>
        <div mat-dialog-content>
            <ng-container  *ngIf="!data.noMatch">
            <div class="opponents flex-center">
                <div class="mr-2 mr-sm-3 username" [ngClass]="{'orange': data.isOwner, 'dark-green':data.isEnemy, 'winner':(isWin&&data.isOwner)||(!isWin&&!data.isOwner)}">
                    <span>{{data.homeName}}</span>
                </div>
                <p>VS</p>
                <div class="ml-2 ml-sm-3 username enemy" [ngClass]="{'dark-green': data.isOwner, 'orange':data.isEnemy, 'winner':(isWin&&data.isEnemy)||(!isWin&&!data.isEnemy)}">
                    <span>{{data.awayName}}</span>
                </div>
            </div>
            <div *ngIf="isWin" class="wrapper">
                <div (click)='clickInput()' class="input-area d-flex">
                    <input  hidden type="file" #FileInput  (change)="selectFile($event)" name="files">
                    <p *ngIf="!file&&!isImageLoading" class="info">
                        Пожалуйста, прикрепи скриншот, который подтверждит указаный тобою исход матча <span class="limit">(до 5 мб)</span>
                    </p>
                    <mat-spinner class="m-auto" *ngIf="isImageLoading" [diameter]='50'></mat-spinner>
                    <div *ngIf="file&&!isImageLoading" class="file">
                        <span class="file-name mr-1">{{fileName}} </span> <span class="file-size"> ({{file.size*0.001 | number : '1.0-0'}} кб)</span>
                    </div>
                    <button *ngIf="!isImageLoading" class="btn-icon flex-center"><img alt="img"  src="../../../assets/Result/attachments.png" alt=""></button>
                </div>
                <a (click)="dialogRef.close()" routerLink="../info/screen-example" class="btn btn-underline ml-auto">пример скриншота</a>
            </div>
        </ng-container>
        <div class="attention" [ngClass]="{'is-win': isWin}">
            <h5>Внимание!</h5>
            <p>В случае предоставления ложного результата возможен БАН и обнуление аккаунта</p>
        </div>
        <ng-container *ngIf="!data.noMatch">
            <button *ngIf="isWin"  (click)="!isLoad? sendResult('win'): null" [disabled]='!file' class="btn btn-orange sent">
                Я победил
                <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
            </button>
            <button *ngIf="!isWin" (click)="!isLoad? sendResult('lose'):null"  class="btn btn-error sent">
                Я проиграл
                <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
            </button>
        </ng-container>
    </div>
    <button (click)="!isLoad? sendResult('draw'): null" *ngIf="data.noMatch"  class="btn btn-underline sent">Матч не состоялся</button>
</div>
