@import '../../@theme/theme.scss';

.content {
    background: url("../../../assets/Result/back.jpg") no-repeat center top/cover;
    margin: -24px;
    padding-bottom: 70px;
    text-align: center;
    overflow: hidden;
    .close {
        margin-top: 24px;
        color: #fff;
    }
    h3 {
        padding-top: 70px;
        font-size: 30px;
        color: #fff;
        font-weight: 100;
    }
    .opponents {
        margin: 13px 0 15px;
        font-size: 18px;
        font-weight: 100;
        p {
            font-size: 18px;
            color: #fff;
            text-transform: uppercase;
        }
        .winner {
            span {
                font-weight: 600;
                border-bottom: 1px solid;
            }
        }
        .username {
            width: 200px;
            text-align: end;
            overflow: hidden;
            text-overflow: ellipsis;
            &.enemy {
                text-align: start;
            }
        }
        @media screen and (max-width: 575px) {
            p {
                font-size: 16px;
            }
            .username {
                letter-spacing: 0;
                font-size: 16px;
            }
        }
    }
    .wrapper {
        width: 72%;
        margin: auto;
        @media screen and (max-width: 575px) {
            width: 100%;
        }
    }
    .input-area {
        background-color: rgba($color: #C2C2C2, $alpha: 0.3);
        border-radius: 10px;
        width: 100%;
        padding: 20px 25px;
        justify-content: space-between;
        align-items: center;
        .limit {
            white-space: nowrap;
        }
        .info {
            font-size: 14px;
            color: #fff;
            font-weight: 100;
            max-width: 390px;
        }
        .btn-icon {
            border-radius: 50%;
            background-color: #14C81D;
            height: 50px;
            width: 50px;
            min-width: 50px;
            margin-left: 10px;
            img {
                height: 30px;
            }
        }
        .file {
            color: #fff;
            margin: auto;
            display: flex;
            .file-name {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 300px;
                display: block;
            }
            @media screen and (max-width: 768px) {
                font-size: 15px;
                .file-name {
                    max-width: 200px;
                }
            }
            @media screen and (max-width: 575px) {
                font-size: 14px;
                line-height: 19px;
                display: block;
                .file-name {
                    max-width: 180px;
                }
            }
        }
        @media screen and (max-width: 575px) {
            padding: 20px 15px;
            .info {
                font-size: 11px;
            }
        }
    }
    .btn-underline {
        margin-top: -8px;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        justify-content: flex-end;
        width: 162px!important;
        &:hover {
            color: #fff;
        }
        &:before,  &:after {
            bottom: 11px;
        }
        @media screen and (max-width: 575px) {
            font-size: 13px;
            width: 130px !important;
        }
    }
    .attention {
        margin: 35px auto 25px;
        max-width: 400px;
        h5 {
            font-size: 16px;
            text-align: center;
            color: #F01C1C;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        p {
            color: #fff;
            font-size: 16px;
            line-height: 24px;
            font-weight: 100;
        }
        @media screen and (max-width: 575px) {
            &.is-win {
                margin-top: 15px;
            }
            p {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    .sent {
        margin: auto;
        display: inline;
    }
    @media screen and (max-width: 575px) {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 55px;
        h3 {
            padding-top: 60px;
            margin-bottom: 5px;
        }
        .mat-dialog-content {
            max-height: calc(100vh - 175px);
        }
    }
}

.dark-green {
    color:#22bf1f;
}