@import '../../@theme/theme.scss';

form {
    font-size: 18px;
    margin: auto;
    .field-wrapp {
        width: 80%;
        position: relative;
        .img-wrapp {
            height: 31px;
            width: 31px;
            margin-right: 12px;
            img {
                margin-right: 0;
            }
            &.md {
              margin-left: -2px;
              img {
                height: 33px;
              }
            }
            &.sm {
              margin-left: -2px;
              margin-right: 14px;
              img {
                height: 37px;
              }
            }
        }
        mat-icon {
            position: absolute;
            top: 19px;
            font-size: 14px;
            left: -15px;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.54);
        }
        &.bid {
            align-items: baseline;
        }
        &.select-wrapp {
            margin-top: -5px;
            &.expire {
                margin-top: -15px;
            }
            @media screen and (max-height: 650px) {
                margin-top: -8px;
                &.expire {
                    margin-top: -18px;
                }
            }
        }
        .input-wrapp {
            width: 100%;
            text-align: start;
            height: 99px;
            p {
                margin-top: -20px;
                padding-bottom: 1.25em;
                font-size: 14px;
                .amount {
                    color: $c-success;
                    font-weight: 600;
                }
            }
            @media screen and (max-width: 575px), screen and (max-height: 800px) {
              height: 80px;
              p {
                font-size: 12px;
              }
            }
        }
    }
    .rules {
        text-align: left;
        margin-bottom: 10px;
        mat-icon {
            top: -5px;
        }
        p {
            color: rgba(0, 0, 0, 0.54);
            font-size: 17px;
            line-height: 18px;
            font-weight: 400;
            width: 75%;
            margin-right: auto;
            &.touched {
                color: rgba(0, 0, 0, 0.87);
            }
            @media screen and (max-width: 575px), screen and (max-height: 800px) {
              font-size: 15px;
              line-height: 16px;
              letter-spacing: 0.07em;
            }
        }
    }
    mat-form-field.ng-valid {
        ::ng-deep.mat-form-field-underline {
            height: 2px;
        }
    }
}
.platform-wrapp {
    width: 35%;
    min-width: 230px;
    margin-top: -10px;
    margin-bottom: 12px;
    ::ng-deep {
        .btn-icon {
            font-size: 28px;
            &:not(.orange) {
                color: #000;
            }
            .p-name {
                margin-top: -7px;
            }
        }
    }
    @media screen and (max-width: 575px), screen and (max-height: 800px) {
        margin-top: 0px;
        margin-bottom: 5px;
    }
}

// .platforms {

// }
.btn {
    margin: auto;
    @media screen and (max-width: 575px), screen and (max-height: 800px) {
      width: 75%;
      margin-bottom: 10px;
    }
}
