<button class="btn-icon close" (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
<h1 *ngIf="!editData" mat-dialog-title>Создать матч</h1>
<h1 *ngIf="editData" mat-dialog-title>Изменить матч</h1>
<div mat-dialog-content>
    <form [formGroup]="form" autocomplete="on">
        <div class="field-wrapp bid">
            <div class="img-wrapp md">
                <img alt="match amount"  src="../../../assets/_Optimized/match-amount-round.svg">
            </div>
            <mat-icon [matTooltip]="'Выбери свою сумму пари.&#13;Сумма пари соперника будет равняться твоей.&#13;Возможный выигрыш = Сумма пари х 2 -' + commissionPerc + '% (комиссия сервиса).&#13;'"
                [matTooltipClass]="'long-tooltip'" matTooltipPosition='right' fontSet="material-icons-outlined">info</mat-icon>
            <div class="input-wrapp">
                <mat-form-field class="bid-input">
                    <mat-label>Сумма пари</mat-label>
                    <input  matInput
                            #bidInput
                            min='50'
                            [max]='maxBid'
                            step = '10'
                            formControlName='bid'
                            name= 'bid'
                            type="number">
                        <mat-error *ngIf="form.get('bid').hasError('min')">Минимальная сумма: {{minBid}} <wagers  [height]='13' [color]="'red'"></wagers></mat-error>
                        <mat-error *ngIf="form.get('bid').hasError('max')">Максимальная сумма: {{maxBid}} <wagers  [height]='13' [color]="'red'"></wagers></mat-error>
                </mat-form-field>
                <p [@fadeMix] *ngIf="bidInput.value&&form.get('bid').valid">
                    <span class="d-none d-md-inline">Возможный выигрыш: </span>
                    <span class="d-inline d-md-none">Выигрыш: </span>
                    <span class="amount">{{(bidInput.value)*commission + (+bidInput.value)| number:'':'fr-FR'}} <wagers [color]="'green'" [height]='15'></wagers></span>
                </p>
            </div>
        </div>

        <app-platforms class="platform-wrapp" [disabled]='true' [actualPlatform]="form.get('platform').value"></app-platforms>

        <div class="field-wrapp select-wrapp">
            <div class="img-wrapp sm">
                <img *ngIf="this.form.get('withAlly').value!=='many'" src="../../../assets/_Optimized/host-allone.svg" alt="я играю сам">
                <img *ngIf="this.form.get('withAlly').value==='many'" src="../../../assets/_Optimized/host-with-friend.svg" alt="я играю с другом">
            </div>
            <mat-icon matTooltip="Хочешь играть с другом? Wagermatch предоставляет такую возможность."
                matTooltipPosition='right' fontSet="material-icons-outlined">info</mat-icon>
            <mat-form-field class="select">
                <mat-label>Учасники</mat-label>
                <mat-select formControlName='withAlly'>
                    <mat-option *ngFor="let type of withAlly" [value]="type.value">
                      {{type.viewValue}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <div class="field-wrapp rules full-flex">
            <div class="img-wrapp md">
                <img src="../../../assets/_Optimized/enemy-with-friend.svg" alt="иконка соперник играет с другом">
            </div>
            <mat-icon matTooltip="Если играешь сам? За тобой выбор разрешить/не разрешить играть сопернику с другом.&#13;Играешь с другом?  Поле заполняеться автоматически"
                matTooltipPosition='right' fontSet="material-icons-outlined">info</mat-icon>
            <p [ngClass]="{'touched': form.get('enemyWithAlly').dirty||form.get('enemyWithAlly').value}"> Разрешить сопернику играть с другом</p>
            <mat-checkbox [required]="form.get('withAlly').value==='many'" [disabled]="form.get('withAlly').value==='many'" formControlName ="enemyWithAlly"></mat-checkbox>
        </div>
        <div class="field-wrapp select-wrapp">
            <div class="img-wrapp">
                <img style="height: 29px;" src="../../../assets/_Optimized/match-gamemode.svg" alt="режим матча">
            </div>
            <mat-icon matTooltip="Выбери в каком режиме хочешь играть. Онлайн сезоны - игра за раеальные команды. FUT - команды Ultimate team"
                matTooltipPosition='right' fontSet="material-icons-outlined">info</mat-icon>
            <mat-form-field class="select">
                <mat-label>Режим игры</mat-label>
                <mat-select formControlName='gameMode'>
                    <mat-option *ngFor="let type of gameMode" [value]="type.value">
                      {{type.viewValue}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <div class="field-wrapp select-wrapp expire">
            <div class="img-wrapp">
                <img src="../../../assets/_Optimized/match-terms.svg" alt="match time expired">
            </div>
            <mat-icon matTooltip="Если за указаный период соперник не будет найден, то матч будет автоматически удален, а деньги возвращены на баланс."
                matTooltipPosition='right' fontSet="material-icons-outlined">info</mat-icon>
            <mat-form-field class="select">
                <mat-label>Срок действия</mat-label>
                <mat-select formControlName='timeExpire'>
                    <mat-option *ngFor="let type of timeExpire" [value]="type.value">
                      {{type.viewValue}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <button
            [disabled]=form.invalid
            (click)="!isLoad?createMatch(): null"
            class="btn btn-orange mt-sm-4 mb-sm-4">
            <span *ngIf="!editData">Создать матч</span>
            <span *ngIf="editData">Изменить матч</span>
            <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
        </button>
    </form>
</div>
