<h1>
    <button (click)="back()" class="btn-icon">
        <mat-icon> keyboard_arrow_left</mat-icon>
    </button>
    Решение конфликта
</h1>
<section>
    <div class="head center">
        <p>Номер: {{conflictUid}}  ({{conflict?.statusView}})</p>
    </div>
    <div class="wrapper mt-4 full-flex" *ngIf="conflict">
        <!-- HOST--------------------------------------------------------------------- -->
        <div class="item" [ngClass]="{'winner': conflict.status==='closed' && conflict.hostUid === conflict.winnerUid, 
                                      'looser': conflict.status === 'closed' && conflict.hostUid !== conflict.winnerUid && !conflict.isDraw,
                                      'draw'  : conflict.status === 'closed' && !conflict.winnerUid && conflict.isDraw}">
            <h4 (click)="openUser(conflict.hostUid)" class="host">{{conflict.hostLogin}}</h4>
            <h5>username: <span>{{conflict.hostNickName}}</span> </h5>
            <h5 class="result">Отправленный результат: 
                <ng-container [ngSwitch]="conflict?.hostResult">
                    <span *ngSwitchCase="'win'">
                        Победа
                    </span>
                    <span *ngSwitchCase="'lose'">
                        Поражение
                    </span>
                    <span *ngSwitchCase="'draw'">
                        Матч не состоялся
                    </span>
                </ng-container>
            </h5>
            <div *ngIf="conflict.blobHostUrl"  class="screen" (click)="openScreen(conflict.blobHostUrl)">
                <img alt="img"  [src]="conflict.blobHostUrl" alt="">
            </div>
            <div class="screen empty" *ngIf="!conflict.blobHostUrl"></div>
            <div class="stat"><span>Побед в конфликтах: </span> {{conflict.countConflictWinHost}}</div>
            <div class="stat red"><span>Поражений в конфликтах:  </span> {{conflict.conflictLostHost}}</div>
            <div class="stat"><span>Всего конфликтов : </span> {{conflict.countConflictHost}}</div>
            <div class="stat"><span>Побед в матчах </span> {{conflict.countWinHost}}</div>
            <div class="stat"><span>Поражений в матчах </span> {{conflict.countLoseHost}}</div>
            <ng-container *ngIf="conflict.status!=='closed'">
                <mat-form-field class="mt-3" floatLabel="never" appearance="outline">
                    <mat-label>Описание решения</mat-label>
                    <textarea matInput
                        [(ngModel)]="hostDescription"
                        [cdkAutosizeMinRows]="5"
                        [matTextareaAutosize]='true'
                        [cdkAutosizeMaxRows]="30"
                        cdkTextareaAutosize
                        [matAutocomplete]="auto"> 
                    </textarea>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let descr of descriptions" [value]="descr">
                        {{descr}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button [disabled]='hostDescription?.length<5' (click)="resolve('host', hostDescription, conflict.hostLogin)" class="btn btn-orange"> Победа</button>
            </ng-container>
            <ng-container *ngIf="conflict.status==='closed'">
                <p *ngIf="conflict.hostUid === conflict.winnerUid" class="status green">Победа</p>
                <p *ngIf="conflict.hostUid !== conflict.winnerUid && !conflict.isDraw"  class="status red">Поражение</p>
                <p *ngIf="!conflict.winnerUid&&conflict.isDraw"  class="status gray">Не состоялся</p>
            </ng-container>
        </div>
         <!-- NO MATCH--------------------------------------------------------------------- -->
        <div class="item no-match" *ngIf="conflict.status!=='closed' || (!conflict.winnerUid&&conflict.isDraw)">
            <ng-container *ngIf="conflict.status!=='closed'">
                <h5>Матч не состоялся ?</h5>
                <mat-form-field class="mt-3" floatLabel="never" appearance="outline">
                    <mat-label>Описание решения</mat-label>
                    <textarea matInput
                        [(ngModel)]="noMatchDescription"
                        [cdkAutosizeMinRows]="20"
                        [matTextareaAutosize]='true'
                        [cdkAutosizeMaxRows]="30"
                        cdkTextareaAutosize
                        [matAutocomplete]="auto"> 
                    </textarea>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let descr of NoMatchDescriptions" [value]="descr">
                        {{descr}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button [disabled]='noMatchDescription?.length<5' (click)="resolve('draw', noMatchDescription)" class="btn btn-error m-auto"> Матч не состоялся</button>
            </ng-container>
            <ng-container *ngIf="!conflict.winnerUid&&conflict.isDraw">
                <h5>Матч не состоялся</h5>
            </ng-container>
        </div>
         <!-- ENEMY--------------------------------------------------------------------- -->
        <div class="item" [ngClass]="{'winner': conflict.status==='closed' && conflict.enemyUid === conflict.winnerUid, 
                                      'looser': conflict.status === 'closed' && conflict.enemyUid !== conflict.winnerUid && !conflict.isDraw,
                                      'draw'  : conflict.status === 'closed' && !conflict.winnerUid && conflict.isDraw}">
            <h4 (click)="openUser(conflict.enemyUid)"  class="enemy">{{conflict.enemyLogin}}</h4>
            <h5>username: <span>{{conflict.enemyNickName}}</span> </h5>
            <h5 class="result">Отправленный результат: 
                <ng-container [ngSwitch]="conflict?.enemyResult">
                    <span *ngSwitchCase="'win'">
                        Победа
                    </span>
                    <span *ngSwitchCase="'lose'">
                        Поражение
                    </span>
                    <span *ngSwitchCase="'draw'">
                        Матч не состоялся
                    </span>
                </ng-container>
            </h5>
            <div  *ngIf="conflict.blobEnemyUrl" class="screen" (click)="openScreen(conflict.blobEnemyUrl)">
                <img alt="img" [src]="conflict.blobEnemyUrl" alt="">
            </div>
            <div class="screen empty" *ngIf="!conflict.blobEnemyUrl"></div>
            <div class="stat"><span>Побед в конфликтах: </span> {{conflict.countConflictWinEnemy}}</div>
            <div class="stat red"><span>Поражений в конфликтах:  </span> {{conflict.conflictLostEnemy}}</div>
            <div class="stat"><span>Всего конфликтов : </span> {{conflict.countConflictEnemy}}</div>
            <div class="stat"><span>Побед в матчах </span> {{conflict.countWinEnemy}}</div>
            <div class="stat"><span>Поражений в матчах </span> {{conflict.countLoseEnemy}}</div>
            <ng-container *ngIf="conflict.status!=='closed'">
                <mat-form-field class="mt-3" floatLabel="never" appearance="outline">
                    <mat-label>Описание решения</mat-label>
                        <textarea matInput
                        [cdkAutosizeMinRows]="5"
                        [matTextareaAutosize]='true'
                        [cdkAutosizeMaxRows]="30"
                        cdkTextareaAutosize
                        [(ngModel)]="enemyDescription"
                        [matAutocomplete]="auto"> 
                    </textarea>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let descr of descriptions" [value]="descr">
                        {{descr}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button [disabled]='enemyDescription?.length<5' (click)="resolve('enemy', enemyDescription, conflict.enemyLogin)" class="btn btn-orange"> Победа</button>
            </ng-container>
            <ng-container *ngIf="conflict.status==='closed'">
                <p *ngIf="conflict.enemyUid === conflict.winnerUid" class="status green">Победа</p>
                <p *ngIf="conflict.enemyUid !== conflict.winnerUid && !conflict.isDraw"  class="status red">Поражение</p>
                <p *ngIf="!conflict.winnerUid&&conflict.isDraw"  class="status gray">Не состоялся</p>
            </ng-container>
        </div>
    </div>
</section>