@import '../../../@theme/theme.scss';

.wrapper {
    width: 100%;
    margin: auto;
}

.item {
    background-color: $c-cms;
    border-radius: 6px;
    padding: 20px 10px;
    width: 35%;
    text-align: center;
    &.winner {
        border: 3px solid $c-dark-green;
    }
    &.looser {
        border: 3px solid $c-error;
    }
    &.draw {
        border: 3px solid $c-gray;
    }
    h4 {
        font-size: 22px;
        cursor: pointer;
        width: fit-content;
        margin: auto;
        &:hover {
            text-decoration: underline;
        }
    }
    h5 {
        margin-top: 5px;
        font-size: 18px;
        font-weight: 400;
        span {
            font-weight: 600;
            text-decoration: underline;
        }
    }
    .btn-icon {
        border-radius: 10px;
        background-color: #14C81D;
        width: 100px;
        margin: 10px auto;
        display: block;
        font-size: 13px;
        padding: 10px;
        img {
            height: 30px;
        }
    }
    .screen {
        height: 70px;
        cursor: pointer;
        margin: 20px auto 30px;
        border: 1px solid rgba(39, 63, 80, 0.95);
        padding: 2px;
        border-radius: 6px;
        width: fit-content;
        img {
            max-height: 70px;
        }
        &.empty {
            border: none;
        }
    }
    .stat {
        font-size: 17px;
        font-weight: 400;
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 10px auto 0;
        border-bottom: 1px dashed;
        &.red {
            color: $c-error;
        }
        span {
            font-weight: 600;

        }
    }
    textarea {
        font-size: 14px;
        padding: 7px 0;
    }
    .btn-orange {
        margin: 25px auto 0;
    }
    mat-form-field {
        width: 90%;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0 0 15px;
    }
    &.no-match{
        width: 25%;
        margin-top: auto;
    }
}

.result {
    margin-top: 15px;
    border: 1px dashed;
    padding: 5px;
    font-weight: 600!important;
    span {
        color: $c-warning;
        text-transform: uppercase;
        display: block;
    }
}

.status {
    font-size: 20px;
    margin-top: 20px;
    &.red {
        color: $c-error;
    }
    &.green {
        color: $c-dark-green;
    }
    &.gray {
        color: $c-gray;
    }
}