<section >
  <div class="container">
    <h1 class="text-center">Помощь</h1>
    <ng-container *ngFor="let helpers of helpList; let i = index">
      <div class="row mt-lg-5" *ngIf="i%2===0">
        <div class="col-lg-6" *ngIf="helpList[i]">
          <a class="block mr-lg-4" [routerLink]="['../helper', helpList[i].route]">
            <span><span>
                <header>
                  <img class="icon first" [src]="helpList[i].icon+'.png'" [alt]="'rule-' + i + '-icon'">
                  <img class="icon first active" [src]="helpList[i].icon+'_active.png'" [alt]="'rule-' + i + '-icon_active'">
                  <h3>{{helpList[i].title}}</h3>
                </header>
                <p>{{helpList[i].description}}</p>
                <button class="btn-icon">
                  <img src="../../../../assets/Rules/arrow-right.png" alt="open-rule">
                </button>
            </span></span>
          </a>
        </div>
        <div class="col-lg-6" *ngIf="helpList[i+1]">
          <a class="block mr-lg-4" [routerLink]="['../helper', helpList[i+1].route]">
            <span><span>
                <header>
                  <img class="icon first" [src]="helpList[i+1].icon+'.png'" [alt]="'rule-' + i+1 + '-icon'">
                  <img class="icon first active" [src]="helpList[i+1].icon+'_active.png'"  [alt]="'rule-' + i+1 + '-icon_active'">
                  <h3>{{helpList[i+1].title}}</h3>
                </header>
                <p>{{helpList[i+1].description}}</p>
                <button class="btn-icon">
                  <img src="../../../../assets/Rules/arrow-right.png" alt="open-rule">
                </button>
            </span></span>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</section>
