@import '../../../@theme/theme.scss';
@import '../../../@theme/mixins.scss';

section {
  padding: 30px 0;
  min-height: calc(100vh);
  h1 {
    color: #fff;
  }
}

.block {
  @include btn-border-slide(#fff, $c-orange, 1px, 0.8s);
  padding-right: 50px;
  padding-bottom: 30px;
  display: block;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    &:hover {
      // .icon {
      //   display: none;
      //   &.active {
      //     display: block;
      //   }
      // }
      .btn-icon {
        transform: translate3d(20%, 0, 0);
      }
    }
  }
  &:active {
    .btn-icon {
      transform: translate3d(20%, 0, 0);
    }
    // .icon {
    //   display: none;
    //   &.active {
    //     display: block;
    //   }
    // }
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h3, p {
    font-size: 18px;
    color: #fff;
    font-weight: 200;
  }
  p {
    font-size: 14px;
    margin-top: 18px;
    text-align: center;
  }
  .icon {
    margin-right: 10px;
    height: 30px;
    &.first {
      height: 35px;
    }
    &.active {
      display: none;
    }
  }
  .btn-icon {
    margin-left: auto;
    margin-right: -20px;
    width: auto;
    display: block;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    &:after {
      content: none!important;
    }
  }
}

@media screen and (max-width: 992px) {
  .block {
    margin-top: 30px;
  }
}

@media screen and (max-width: 575px) {
  .block {
    padding-right: 30px;
    font-size: 13px;
  }
}
