@import '~bootstrap/dist/css/bootstrap.min.css';
@import'../src/app/@theme/theme.scss';
@import'../src/app/@theme/content.scss';

/* Specefication */

.bug-message {
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    max-width: 320px;
    margin: auto;
    color: #f92626;
}

@font-face {
  font-family: 'Lucida';
  font-style: normal;
  src: url('../src/assets/Fonts/LSANSUNI.ttf');
  src: local('Lucida'), local('Lucida'),
  url('../src/assets/Fonts/LSANSUNI.ttf') format('truetype'); /* Safari, Android, iOS */
}


body{
    font-size: 20px;
    letter-spacing: 0.05em;
    margin: 0;

    width: 100%;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
section {
    background: transparent linear-gradient(145deg, #2C2B2B 0%, #5B5656 100%) 0% 0% no-repeat padding-box;
    min-height: calc(100vh - 140px);
}

*{
    font-family: 'Open Sans', sans-serif;
}

.dialog-back{
    background-color: rgba($color: #5b5656, $alpha: 0.93);
}

.cdk-overlay-container .dialog-back + * > .cdk-overlay-pane {
    max-width: 90%!important;
    height: auto;
 }

div,p,form,input,a,span,button {
    box-sizing: border-box;
}

a, a:not([href]) {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        color: #ffffff;
    }
}

p {
    margin: 0;
    font-size: 16px;
    font-weight: 200;
}

ul,li{
	padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

ul.marked li {
    list-style-type: disc;
    margin-left: 40px;

}

h1,h2,h3,h4,h5,h6{
	padding: 0;
    margin: 0;
    font-weight: 700;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  @media screen and (max-width: 575px) {
    line-height: 30px;
  }

}
h2 {
    font-size: 26px;
    @media screen and (max-width: 575px) {
      font-size: 24px;
    }
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 15px;
    letter-spacing: 0.75px;
    color: #F99A04;
}

.btn {
    width: 200px;
    padding: 11px 0 15px;
    font-size: 15px;
    letter-spacing: 0.005em;
    font-family: 'Open Sans', serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    .svg {
        margin-right: 10px;
    }
    &:disabled {
        opacity: 0.3;
        cursor: auto;
    }
    &:focus {
        box-shadow: none;
    }
    &.vk{
        background-color: #5181b8;
        letter-spacing: 1px;
        color: #fff;
        border: none;
        .svg {
            height: 22px;
        }
    }
    mat-spinner {
        position: absolute;
        right: 7px;
        top: 14px;
        circle, .mat-spinner circle{
            stroke: #fff;
        }
    }
    @media screen and (max-width: 575px) {
        width: 180px;
        line-height: 18px;
        mat-spinner {
            right: 15px;
            top: 12px;
        }
    }
}

app-platforms {
    display: block;
    margin: auto;
}
app-show-platform {
  display: block;
}

.btn-empty {
    &:hover{
        background-color: #f8f9fc;
        transition: all 0.5s;
    }
    &:not([href]) {
        color: #000;
        &:hover {
            color: inherit;
        }
    }
}
.btn-orange {
    background-color: $c-orange;
    color: #fff;
    border: none;
    padding-top: 12px;
    &:hover{
        transition: all 0.5s linear;
        color: #fff;
        &:not(:disabled) {
            background-color:#f97e04;
        }
    }
}
.btn-error {
    background-color: #b11d21;
    color: #fff;
    border: none;
    padding-top: 12px;
    &:hover{
        transition: all 0.5s linear;
        background-color:#84131c;
        color: #fff;
    }
}
.btn-success {
    background-color: $c-dark-green;
    color: #fff;
    border: none;
    padding-top: 12px;
    &:hover{
        transition: all 0.5s linear;
        background-color: $c-success;
        color: #fff;
    }
}
.btn-white {
    background-color: #fff;
    color: #000;
    border: none;
    padding-top: 12px;
    &:hover{
        transition: all 0.5s linear;
        background-color:#f8f9fc;
        color: #000;
    }
}
$underline: all .3s cubic-bezier(1,.75,0,1) 0s;
.btn-underline {
    position: relative;
    font-size: 16px;
    display: block;
    background-color: transparent;
    border: none;
    color: #fff;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -4px;
        left: 0;
        visibility: visible;
        background-color: #fff;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transition: $underline;
        transition: $underline;
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -4px;
        left: 0;
        background-color: $c-orange;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: $underline;
        transition: $underline;
    }
    &:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }
}
.btn-icon, .btn-icon:hover {
    background: none;
    border: none;
    mat-icon{
        height: auto!important;
        width: auto!important;
        &:focus{
            outline: none!important;
        }
    }
}
button:focus{
    outline: none;
    box-shadow: none;
}

form {
    .field-wrapp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        .svg, img {
            margin-right: 12px;
            margin-top: -4px;
            @media screen and (max-width: 575px) {
              margin-top: -10px;
            }
        }
        .mat-form-field-label {
            font-size: 18px;
        }
        mat-form-field {
            font-size: 18px;
            width: 100%;
            &.mat-form-field-has-label{
                .mat-form-field-infix{
                    padding-top: 0;
                    margin-top: 8px;
                }
            }
            &.mat-focused {
                color: #000;
                .mat-form-field-infix{
                    padding-top: 0;
                    margin-top: 8px;
                }
                .mat-form-field-ripple{
                    background-color: rgba(0,0,0,.42);
                }
                .mat-form-field-label{
                    color: #000;
                }
            }
            &.mat-form-field-invalid{
                .mat-form-field-ripple{
                    background-color: rgb(244, 67, 54);;
                }
                .mat-form-field-label{
                    color: rgb(244, 67, 54);;
                }
            }
            &.ng-valid {
                ::ng-deep.mat-form-field-underline {
                    height: 2px;
                }
            }
            input {
                font-size: 18px;
                height: 28px;
                padding-right: 30px;
                caret-color: #000000;
            }
            .mat-form-field-subscript-wrapper {
              @media screen and (max-width: 575px) {
                margin-top: 4px;
              }
            }
            mat-error{
                font-size: 11px;
                font-weight: 600;
            }
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus {
              border: none;
              box-shadow: 0 0 0px 1000px #fff inset;
            }
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
            }
        }
        .select {
            label {
                top: 25px;
            }
            .mat-select-value {
                padding-top: 5px;
                padding-bottom: 4px;
            }
        }
    }
}

.mat-autocomplete-panel {
    .mat-option {
        white-space: normal;
        height: auto;
        line-height: 22px;
        padding: 5px 12px;
        font-size: 14px;
        &:nth-child(2) {
            background: rgb(0 43 255 / 7%);
        }
        &:hover:not(.mat-option-disabled) {
            background-color: rgba($color: $c-orange, $alpha: 0.6);
        }
    }
}

.mat-tab-list .mat-ink-bar {
    @media screen and (max-width: 575px) {
        top: 40px;
    }
}

.table-wrapp .table-spinner {
    margin: 130px auto;
    text-align: center;
}

// ==========================Custom-classes======================================
.full-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-100 {
  width: 100%;
}

.z-index-1 {
    z-index: 1;
}

.orange, .c-orange {
    color: $c-orange;
}
.green, .c-green {
  color: $c-success
}
.red, .c-red {
  color: $c-error;
}
// ==========================Custom-classes======================================

// ==========================Icons======================================
@include icons(19px);
// ==========================Icons======================================

/*--------------------------- Materials--------------------------------- */
.mat-tooltip {
    white-space: pre-line;
    font-weight: 100;
}
.long-tooltip {
    max-width: 400px!important;
}
.mat-toolbar.mat-primary {
    background: $c-orange!important;
    color: #fff;
    position: relative;
}
mat-icon {
    height: auto!important;
    width: auto!important;
}
.mat-button-wrapper{
    &:focus{
        outline: none!important;
    }
    mat-icon{
        height: auto!important;
        width: auto!important;
        &:focus{
            outline: none!important;
        }
    }
}

  /*checkbox*/
  .mat-checkbox-checkmark-path {
    stroke: $c-orange!important;
    stroke-width: 4.13333px!important;
  }
  .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #fff;
    border: 1px solid $c-gray;
  }
  label .mat-checkbox-inner-container {
      width: 20px;
      height: 20px;
  }

mat-dialog-container {
    position: relative!important;
    font-family: 'Open Sans';
    .close{
        position: absolute;
        right: 25px;
    }
    .mat-dialog-title {
        margin-top: 8px;
        font-size: 22px;
        font-family: 'Open Sans';
        font-weight: 700;
        text-align: center;
        span {
            font-weight: 600;
        }
    }
    .mat-dialog-content{
        text-align: center;
        overflow-x: hidden;
    }
  }
  .mat-menu-panel {
    border: 1px solid $c-orange;
    background-color: #fff;
  }

  .cdk-overlay-pane {
    // height: 100%;
    .mat-bottom-sheet-container {
      overflow-x: hidden ;
      max-height: none;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @media screen and (min-height: 560px){
          margin-top: 64px;
          padding-bottom: 64px;
      }
    }
  }

@media screen and (min-width: 1200px){
    .container{
        max-width: 1170px;
    }
}

/* toast classes */
.mat-snack-bar-container .mat-simple-snackbar {
    span {
        margin: auto;
    }
}
.error {
    background-color: rgba($color: #fff, $alpha: 0.83);
    text-align: center;
    color: $c-error;
    border: 2px solid $c-error;
    .mat-button-wrapper {
      color: $c-error;
    }
  }
.warning {
    color: $c-warning;
    text-align: center;
    border: 2px solid $c-warning;
    .mat-button-wrapper {
      color: $c-warning;
    }
  }
.success {
    text-align: center;
    text-align: center;
    color: $c-success;
    border: 2px solid $c-success;
    .mat-button-wrapper {
      color: $c-success;
    }
  }

  // scroll bar
::-webkit-scrollbar-track {
    background: linear-gradient(135deg, #3d3b3c 0%, #3d3b3c 45%, #3b393a 46%, #323031 47%, #2c2a2b 52%, #2c2a2b 100%);
}


div {
    ::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
        border-radius: 0.5rem;
    }
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    cursor: pointer;
    border-radius: 0.5rem;
}
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.5rem;
    cursor: pointer;
}

.own-match {
    .match-list__text-item, .match-list__match-data {
        color: #e7920d;
        font-weight: 700;
    }
    &.match-finished {
        .match-list__text-item, .match-list__match-data {
            color: #d7942a;
        }
    }
}
.archived {
    opacity: 0.6;
}
.match-finished {
    opacity: 0.5;
}
.terms-link {
  margin-top: 13px;
  font-size: 11px;
  color:$c-terms-link;
  font-weight: 600;
  a {
    color: $c-terms-link;
    text-decoration: underline;
  }
}

@media screen and (max-width: 575px) {
  body {
    .mat-dialog-container {
      padding: 15px 20px 20px;
      overflow: hidden;
      .btn {
        width: 75%!important;
        margin-bottom: 10px!important;
      }
    }
    .mat-dialog-content {
      padding-top: 0;
      max-height: calc(100vh - 150px);
    }
    .mat-dialog-title {
      max-width: 70%;
      margin: 10px auto;
      line-height: 21px!important;
    }
    form .field-wrapp {
        .img-wrapp {
            margin-top: 10px;
        }
    }
  }
}

.black-icon {
    color: $c-black;
}

.mat-tooltip-handset {
  font-size: 10px;
}

// SPINER//////////////

    .lds-roller {
        display: inline-block;
        position: absolute;
        width: 80px;
        height: 80px;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 5;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }



