<div class="wrapper" style="text-align: center;">
  <fa-icon *ngIf="platform?.includes('Ps')"  [icon]="Ps4Icon"></fa-icon>
  <fa-icon *ngIf="platform?.includes('Xbox')"   [icon]="XboxIcon"></fa-icon>

  <p *ngIf="platform?.includes('Ps')" class="p-name">{{platform}}</p>

  <p *ngIf="platform?.includes('Xbox')" class="p-name box">
    <ng-container *ngIf="platform==='XboxSeries'">
      {{shortForm ? 'X|S' : 'Series X|S'}}
    </ng-container>
    <ng-container *ngIf="platform==='XboxOne'">
      {{shortForm ? 'One' : 'Xbox One'}}
    </ng-container>
  </p>
</div>
