@import '../../../@theme/theme.scss';

fa-icon {
  font-size: 18px;
}

.p-name {
  font-size: 11px;
  margin-top: -9px;
  font-weight: 600;
  white-space: nowrap;
  &.box {
    margin-top: -7px;
  }
}

