@import '../../../@theme/theme.scss';

.content {
    svg {
        width: 100%;
        height: 110px;
        transition: 0.1s all;
    }
    .ps5, svg, path {
        fill: #000;
        transition: 0.1s all;
    }
}

.btn-icon {
    padding: 0 5px;
    width: 50%;
    transition: 0.1s all;
    &:hover {
        color: $c-orange;
        transition: 0.1s all;
        .ps5, svg, path {
            fill: $c-orange;
            transition: 0.1s all;
        }
        svg {
            fill: $c-orange;
        }
    }
    &.btn-xbox-one {
        padding-right: 15px;
    }
    &:last-child {
        border-left: 2px solid $c-orange;
    }
}

@media screen and (max-width: 576px) {
    aside, .btn-icon {
        display: block;
    }
    .btn-icon {
        width: 220px;
        margin: auto;
        &.btn-xbox-one {
            padding: 0 5px;
        }
        &:last-child {
            border-left: none;
            border-top: 2px solid $c-orange;
        }
        svg {
            height: 85px;
            &.XboxSeries {
                margin-top: 12px;
            }
        }
    }
}