<h1>Пользователи</h1>
<section>
    <div class="container">
        <app-search-table
          class="table"
          (dropdownUpdate)='statusUpdate($event)'
          (paginationUpdate)='paginationUpdate($event)'
          [selectedRows]="selectUsers"
          [clearSelected]="clearSelected$"
          [useSelect]='true'
          [columns]='columns'
          [useSearch]='true'
          [isLoading]='load'
          [totalRows]='totalRows'
          [dropdownOptions]='statuses'
          [dropdownValue]='status'
          [usePagination]='true'
          [paginationData]='paginationData'
          (elementClick)='openUser($event)'
          [data]='users'>
        </app-search-table>
        <div *ngIf="!load" class="btn-wrapp">
          <ng-container *ngIf="isSuperAdmin">
            <button *ngIf="actualAdminButton !== 'notAdmin'" (click)="changeAdminStatus(true)" [disabled]='!actualAdminButton' class="btn btn-success mr-5">Сделать Админом</button>
            <button *ngIf="actualAdminButton === 'notAdmin'" (click)="changeAdminStatus(false)" class="btn btn-white mr-5">Убрать Админа</button>
          </ng-container>
          <ng-container>
            <button *ngIf="actualButton === 'activate'" (click)="deactivateUsers('active')" class="btn btn-orange">Активировать</button>
            <button *ngIf="actualButton !== 'activate'" (click)="deactivateUsers('block')" [disabled]='!actualButton' class="btn btn-error">Заблокировать</button>
          </ng-container>
        </div>
    </div>
</section>