<h1>Список споров</h1>
<section>
    <div class="container">
        <div class="head">
            <mat-form-field class="select">
                <mat-label>Статус</mat-label>
                <mat-select [value]="status" (valueChange)='getList($event)'>
                    <mat-option *ngFor="let status of statuses" [value]="status.value">
                      {{status.viewValue}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <p>Всего: <b>{{totalRows}}</b></p>
        </div>
        <div *ngIf="conflicts.length===0" class="empty">
            <p>На данный момент список споров пуст</p>
        </div>
        <app-expanded-table
          class="table"
          (paginationUpdate)='paginationUpdate($event)'
          [totalRows]='totalRows'
          [usePagination]='true'
          [paginationData]='paginationData'
          [columns]='columns'
          (btnClicked)='openMatch($event)'
          (btnClicked2)='openConflict($event)'
          [rowCount]='1'
          [isAdmin]='true'
          [data]='conflicts'>
        </app-expanded-table>
    </div>
</section>
