@import '../../../@theme/theme.scss';

section {
    .empty {
      height: calc(100vh - 330px);
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    .table ::ng-deep .table-wrapp {
      height: calc(100vh - 330px);
      table {
        .table-row .element, .row {
          span {
              font-weight: 600;
          }
        }
        .row-1 .item {
          width: 27%;
          &:first-child {
            width: 37%;
          }
          &:last-child {
            width: 27%;
          }
        }
      }
    }
}