@import '../../../@theme/theme.scss';

.wrapper {
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.call-buttons .btn {
    width: 260px;
}

h4 {
    font-size: 22px;
    cursor: pointer;
    width: fit-content;
    margin: auto;
}

.item {
    background-color: $c-cms;
    border-radius: 6px;
    padding: 20px 10px;
    width: 32%;
    text-align: center;
}

form {
    .field-wrapp {
        width: 200px;
        position: relative;
        margin: 20px auto;    
    }
    .inputImage {
        position: absolute;
        height: 37px;
        right: 0;
        &.wager {
            margin-top: 3px;
        }
        &.rubl {
            height: 25px;
            margin-top: 1px;
        }
        &.perc {
            font-size: 23px;
        }
    }
}

.btn-wrapp {
    margin-top: 100px;
    justify-content: flex-end;
    margin-left: auto;
}