<h1>
    Главные настройки
</h1>
<section>
    <div class="call-buttons d-flex">
        <button (click)="cleanMatchesAfterTimeout()" class="btn btn-error mr-5">Очистка истекших матчей</button>
        <button (click)="finishMatchesAfterVerificationTimeout()" class="btn btn-white">Решение матчей верификации</button>
    </div>
    <form  [formGroup]="form">
        <div class="wrapper mt-4 d-flex">
             <!-- INCOMES--------------------------------------------------------------------- -->
            <div class="item">
              <h4>Пополнения</h4>
              <div class="field-wrapp">
                <mat-form-field>
                    <mat-label>Минимальное пополнение</mat-label>
                    <input  matInput
                            step = '10'
                            formControlName='minIncome'
                            type="number">
                            <img alt="img"  class="inputImage rubl" src="../../../../assets/MyProfile/rubl.png" alt="rubl">
                </mat-form-field>
              </div>
              <div class="field-wrapp">
                <mat-form-field>
                    <mat-label>Максимальное пополнение</mat-label>
                    <input  matInput
                            step = '10'
                            formControlName='maxIncome'
                            type="number">
                            <img alt="img"  class="inputImage rubl" src="../../../../assets/MyProfile/rubl.png" alt="rubl">
                </mat-form-field>
              </div>
              <div class="field-wrapp">
                <mat-form-field>
                    <mat-label>1 Рубль</mat-label>
                    <input  matInput
                            step = '1'
                            formControlName='rubRate'
                            type="number">
                            <wagers  class="inputImage wager" [height]='21'></wagers>
                </mat-form-field>
              </div>
              <div class="field-wrapp">
                <mat-form-field>
                    <mat-label>1 Гривна</mat-label>
                    <input  matInput
                            step = '1'
                            formControlName='hrnRate'
                            type="number">
                            <wagers  class="inputImage wager" [height]='21'></wagers>
                </mat-form-field>
              </div>
            </div>
            <!-- MATCHES--------------------------------------------------------------------- -->
            <div class="item">
                <h4>Матчи</h4>
                <div class="field-wrapp">
                    <mat-form-field>
                        <mat-label>Комиссия с матча</mat-label>
                        <input  matInput
                                step = '1'
                                formControlName='matchRate'
                                type="number">
                                <span class="inputImage perc">%</span>
                    </mat-form-field>
                </div>
                <div class="field-wrapp">
                    <mat-form-field>
                        <mat-label>Минимальная сумма пари</mat-label>
                        <input  matInput
                                step = '10'
                                formControlName='minBid'
                                type="number">
                                <wagers  class="inputImage wager" [height]='21'></wagers>
                    </mat-form-field>
                </div>
                <div class="field-wrapp">
                    <mat-form-field>
                        <mat-label>Максимальная сумма пари</mat-label>
                        <input  matInput
                                step = '10'
                                formControlName='maxBid'
                                type="number">
                                <wagers  class="inputImage wager" [height]='21'></wagers>
                    </mat-form-field>
                </div>
            </div>
            <!-- OUTCOMES--------------------------------------------------------------------- -->
            <div class="item">
                <h4>Выплаты</h4>
                <div class="field-wrapp">
                    <mat-form-field>
                        <mat-label>Комиссия с  вывода</mat-label>
                        <input  matInput
                                step = '1'
                                formControlName='outcomeRate'
                                type="number">
                                <span class="inputImage perc">%</span>
                    </mat-form-field>
                </div>
                <div class="field-wrapp">
                    <mat-form-field>
                        <mat-label>Минимальный вывод</mat-label>
                        <input  matInput
                                step = '10'
                                formControlName='minOutcome'
                                type="number">
                                <wagers  class="inputImage wager" [height]='21'></wagers>
                    </mat-form-field>
                </div>
                <div class="field-wrapp">
                    <mat-form-field>
                        <mat-label>Максимальный вывод</mat-label>
                        <input  matInput
                                step = '10'
                                formControlName='maxOutcome'
                                type="number">
                                <wagers  class="inputImage wager" [height]='21'></wagers>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="btn-wrapp d-flex">
            <button
                (click)="!isLoad?updateValues(): null"
                class="btn btn-white mr-5">
                Отменить
            </button>
            <button
                [disabled]=form.invalid
                (click)="!isLoad?saveValues(): null"
                class="btn btn-orange">
                Сохранить
                <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
            </button>
        </div>
    </form>
</section>
