<app-table-page>
    <mat-spinner  [diameter]="100" [style.display]="!success&&!error? 'block' : 'none'"></mat-spinner>
    <ng-container *ngIf="success">
        <h1 class="icon">✔</h1>
        <h1>Ваш email успешно подтвержден!</h1>
    </ng-container>
    <ng-container *ngIf="error">
        <div class="img-wrapp">
            <img alt="img"  src="../../assets/LoginRegister/email-already.png" alt="!">
        </div>
        <h1>Данный email уже был активирован!</h1>
    </ng-container>
    <p *ngIf="error||success" class="redirect">Ты будешь перенаправлен <a routerLink=""> на главную</a></p>
</app-table-page>