<button class="btn-icon close" (click)="this.dialogRef.close()"><mat-icon>close</mat-icon></button>
<h1 mat-dialog-title>Забыл пароль?</h1>
<div mat-dialog-content>
    <p class="mt-2 mb-2">Чтобы сбросить пароль впиши свой email.</p>
    <form [formGroup]="form" autocomplete="on">
        <div class="field-wrapp">
            <img alt="img"  src="../../../../assets/LoginRegister/email.svg" alt="">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput
                       type="email"
                       [errorStateMatcher]="matcher"
                       formControlName="email">
            </mat-form-field>
        </div>
        <button
            [disabled]=form.invalid
            style="margin: auto;"
            (click)='!isLoading ?  toReset() : null'
            class="btn btn-orange mt-4 mb-sm-4">
            Сбросить пароль
            <mat-spinner *ngIf="isLoading" [diameter]='20'></mat-spinner>
        </button>
    </form>
</div>

