@import '../../../../@theme/theme.scss';

.form {
    .recharge-btn {
        z-index: 10000;
    }
    .field-wrapp {
        width: 80%;
        position: relative;
        margin: auto;
        display: block;
        height: 90px;
        p {
            margin-top: -20px;
            text-align: left;
            padding-bottom: 1.25em;
            font-size: 13px;
            .amount {
                color: $c-success;
                font-weight: 600;
            }
        }
    }
    ::ng-deep {
        .select .mat-select-value {
            padding-bottom: 0;
        }
        .mat-option .mat-option-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .trigger {
            justify-content: space-between;
            img {
                margin-top: 0px!important;
            }
        }
    }
    .btn {
        margin: auto;
    }
}

.card-input {
    position: relative;
}
.cardType {
    position: absolute;
    height: 37px;
    right: 16px;
    &.rubl {
        height: 25px;
        margin-top: 1px;
    }
    &.hrn {
      height: 17px;
      margin-top: 6px;
    }
    &.spinner {
        top: 2px;
        margin-right: 11px;
    }
    @media screen and (max-width: 575px) {
        right: 0;
    }
}
