<button class="btn-icon close" (click)="this.dialogRef.close()">
    <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>Пополнить счет</h1>
<div mat-dialog-content>
  <form [formGroup]="form" autocomplete="off" class="form">
    <div class="field-wrapp payment-select">
      <mat-form-field class="select pay-field">
          <mat-label>Способ пополнения</mat-label>
          <mat-select formControlName='payType'>
              <mat-select-trigger class="trigger full-flex">
                  {{actualPayType.viewValue}}<img alt="img"  class="option-icon choosed" [src]="actualPayType.icon" alt="">
                </mat-select-trigger>
              <mat-option class="pay-option" *ngFor="let payType of payTypes" [value]="payType.value">
                {{payType.viewValue}} <img alt="img"  class="option-icon" [src]="payType.icon" alt="">
              </mat-option>
            </mat-select>
      </mat-form-field>
    </div>
    <div class="field-wrapp mt-3" *ngIf="form.get('payType').value !== 'others'">
      <mat-form-field class="pay-field">
            <mat-label>Промокод (необязательно)</mat-label>
            <input #promocodeInput matInput type="text" formControlName="promocode" (keyup)="keyupPromo($event.target.value)">
            <mat-spinner [diameter]="20" *ngIf="isPromoLoading"  class="cardType spinner"> </mat-spinner>

            <mat-error *ngIf="promo?.status === PromoStatusEnum.INACTIVE">Промокод не существует</mat-error>
            <mat-error *ngIf="promo?.status === PromoStatusEnum.USED">Промокод уже использован</mat-error>
      </mat-form-field>
      <p [@fadeMix] *ngIf="promo && promo?.status === PromoStatusEnum.ACTIVE && (amountInput.value * wagerRate)>=promo.minAmount">
        <span>Бонус: </span>
        <span class="amount">{{promo.value| number:'':'fr-FR'}} <wagers [color]="'green'" [height]='13'></wagers></span>
      </p>
      <p class="red" [@fadeMix] *ngIf="promocodeInput.value && promo && promo?.status === PromoStatusEnum.INACTIVE">
        Промокод не существует
      </p>
      <p class="red" [@fadeMix] *ngIf="promocodeInput.value && promo && promo?.status === PromoStatusEnum.USED">
        Промокод уже был использован
      </p>
    </div>
    <div class="field-wrapp mb-1 mt-3" style="display: block;">
      <mat-form-field class="pay-field">
            <mat-label>Сумма</mat-label>
            <input  matInput
                    #amountInput
                    [min]='minRecharge'
                    [max]='maxRecharge'
                    step = '10'
                    formControlName='amount'
                    type="number">
                    <img *ngIf="currency === 'руб.'"  class="cardType rubl" src="../../../../../assets/MyProfile/rubl.png" alt="Рубль иконка">
                    <img *ngIf="currency === 'грн'" class="cardType hrn" src="../../../../../assets/MyProfile/hrn.png" alt="Гривна иконка">
                    <mat-error *ngIf="form.get('amount').hasError('min')">Минимальная сумма пополнения: {{minRecharge / wagerRate | number:'1.0-0'}} {{currency}}</mat-error>
                    <mat-error *ngIf="form.get('amount').hasError('max')">Максимальная сумма: {{maxRecharge / wagerRate | number:'1.0-0'}} {{currency}}</mat-error>
      </mat-form-field>
      <p [@fadeMix] *ngIf="amountInput.value&&form.get('amount').valid">
          <span>Будет зачислено: </span>
          <span class="amount">{{amountInput.value * wagerRate| number:'1.0-0'}}
           <ng-container *ngIf="promo && promo?.status === PromoStatusEnum.ACTIVE && ((amountInput.value * wagerRate)>=promo.minAmount); else wagers">
             + {{promo.value}} = {{amountInput.value * wagerRate + (+promo.value) | number:'1.0-0'}} <wagers [color]="'green'" [height]='13'></wagers>
            </ng-container>
            <ng-template #wagers>
              <wagers [color]="'green'" [height]='13'></wagers>
            </ng-template>

          </span>
      </p>
    </div>
    <button
        [disabled]="form.invalid||!isRateLoaded||promo?.status===PromoStatusEnum.INACTIVE || promo?.status===PromoStatusEnum.USED"
        (click)="!isLoad?toRecharge():null"
        class="btn btn-orange mt-3 mb-sm-4 recharge-btn">
        <span>Пополнение</span>
        <mat-spinner *ngIf="isLoad" [diameter]='20'></mat-spinner>
    </button>
  </form>
</div>
