section {
    min-height: calc(100vh - 140px);
    background: transparent linear-gradient(145deg, #2C2B2B 0%, #5B5656 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    padding-bottom: 60px;
    &.admin {
      min-height: calc(100vh - 65px);
    }
}
header {
    margin: 0 0 50px;
    position: relative;
    height: 100px;
    color: #fff;
    div {
        z-index: 1;
    }
    &:after {
        background: url("../../../assets/MyProfile/header.png") repeat center bottom/auto;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    @media screen and (max-width: 575px){
      .container {
        padding: 0 30px;
      }
    }
}
.wrapp {
    &.on-load{
        min-height: 430px;
        opacity: 30%;
    }
}

@media screen and (max-width: 992px) {
  header {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  section {
    min-height: calc(100vh - 120px);
  }
  header {
    margin-bottom: 30px;
    height: 50px;
    h2 {
      font-size: 19px;
      margin-left: 5px;
    }
  }
  section {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 575px) {
  header h2 {
    margin-left: 10px;
  }
}
