<section [ngClass]="{'admin': isAdmin}">
    <header class="full-flex">
        <div class="container">
            <h2>{{user.login}}</h2>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-profile-menu class="d-none d-lg-block"></app-profile-menu>
            </div>
            <div class="col-lg-9">
                <div class="wrapp" [ngClass]="{'on-load': loading}">
                    <div *ngIf="loading" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    <router-outlet *ngIf="!loading"></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>
