@import '../../@theme/theme.scss';

.icon {
    position: relative;
    img {
        height: 27px;
        cursor: pointer;
    }
    .mark {
        background-color: #FF0000;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        right: 4px;
    }
}

.shake {
    -webkit-animation: messAnimation 1s ease-in-out 1 both;
    animation: messAnimation 1s ease-in-out 1 both;
}
.notification {
    margin-left: 20px;
    img {
        height: 28px;
    }
    .mark {
        top: 12px;
        right: 1px;
    }
}

::ng-deep .mat-menu-panel.notify-list {
    max-height: calc(100vh - 321px);
    margin-top: 21px;
    width: 400px;
    max-width: none;
    background: none;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    text-align: center;
    @media screen and (max-height: 680px){
      max-height: 370px;
    }
    @media screen and (max-width: 576px) {
      margin-left: 10px;
    }
    h3 {
        margin-top: 4px;
        margin-bottom: 15px;
        font-weight: 400;
    }
    .notify {
        padding: 17px 23px 13px 10px;
        align-items: flex-start;
        cursor: pointer;
        &:hover {
            background-color: #f6f4f4;
        }
        @media screen and (max-width: 576px) {
            padding-right: 13px;
        }
    }
    .name {
        text-transform: uppercase;
        background-color: $c-orange;
        border-radius: 50px;
        color: #000;
        height: 39px;
        width: 39px;
        min-width: 39px;
        font-size: 12px;
        margin-right: 15px;
    }
    .info {
        text-align: left;
        width: 90%;
        .top {
            padding-right: 15px;
            @media screen and (max-width: 576px) {
                padding-right: 0;
            }
            p {
                font-weight: 400;
                font-size: 13px;
                line-height: 17px;
                padding-right: 25px;
            }
            .start {
                text-transform: capitalize;
                font-weight: 600;
                span {
                    text-transform: none;
                }
            }
            .bold {
              font-weight: 600;
            }
            .red {
                color: #f9045a;
            }
        }
        .mark {
            background-color: #FF0000;
            height: 9px;
            width: 9px;
            border-radius: 50%;
        }
        .time {
            color: #9e9c9c;
            margin-top: 2px;
            font-size: 9px;
            &.new {
                color: #FF0000;
            }
        }
    }
}

.empty {
    font-size: 14px;
}

// Message animation

@-webkit-keyframes messAnimation {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(6deg);
              transform: translateX(-30px) rotate(6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(-6deg);
              transform: translateX(15px) rotate(-6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(3.6deg);
              transform: translateX(-15px) rotate(3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(-2.4deg);
              transform: translateX(9px) rotate(-2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(1.2deg);
              transform: translateX(-6px) rotate(1.2deg);
    }
  }
  @keyframes messAnimation {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-15px) rotate(6deg);
              transform: translateX(-15px) rotate(6deg);
    }
    30% {
      -webkit-transform: translateX(7px) rotate(-6deg);
              transform: translateX(7px) rotate(-6deg);
    }
    45% {
      -webkit-transform: translateX(-7px) rotate(3.6deg);
              transform: translateX(-7px) rotate(3.6deg);
    }
    60% {
      -webkit-transform: translateX(4px) rotate(-2.4deg);
              transform: translateX(4px) rotate(-2.4deg);
    }
    75% {
      -webkit-transform: translateX(-3px) rotate(1.2deg);
              transform: translateX(-3px) rotate(1.2deg);
    }
  }
