<div class="content full-flex" id="header-notification">
    <li (click)="messages.isNew&&messages.matchUid?openMatch(messages.matchUid, messages.messageUid):null" class="icon messages" [ngClass]="{'shake': messages.isShake}">
        <img alt="img"  src="../assets/Nav/chat.svg" alt="">
        <div [@fade] *ngIf="messages.isNew" class="mark"></div>
    </li>
    <li [matMenuTriggerFor]="notifyList" class="icon notification" [ngClass]="{'shake': notification.isShake}">
        <img alt="img"  src="../assets/Nav/notification.svg" alt="">
        <div [@fade]  *ngIf="notification.countUnread>0" class="mark"></div>
    </li>
</div>

<mat-menu (close)="notification.countUnread>0?readNotifications():null" #notifyList="matMenu" class="notify-list">
    <h3>Уведомления</h3>
    <ng-container *ngIf="notification.list.length>0">
        <div (click)="openMatch(notify.matchUid)" *ngFor="let notify of notification.list" class="notify d-flex">
            <div class="name flex-center">
                {{notify.nickName| slice:0:2}}
            </div>
            <div class="info">
                <div class="top full-flex">
                    <p [ngClass]="{'bold': 'conflict, conflictResolve, timesUp, autoResult'.includes(notify.message), 'red': notify.message.includes('conflict')}">
                        {{notify.message | notificationPipe: notify.nickName}}.
                    </p>
                    <div *ngIf="!notify.isRead"  class="mark"></div>
                </div>
                <p class="time" [ngClass]="{'new': !notify.isRead}">
                    <span *ngIf="notify.date<1" >сейчас</span>
                    <span *ngIf="notify.date>1&&notify.date<61" > {{notify.date | number: '1.0-0'}} мин. назад</span>
                    <span *ngIf="notify.date>60&&notify.date<1441" > {{notify.date/60 | number: '1.0-0'}} час. назад</span>
                    <span *ngIf="notify.date>1440" > {{notify.date/1440 | number: '1.0-0'}} дн. назад</span>
                </p>
            </div>
        </div>
    </ng-container>
    <div *ngIf="notification.list.length===0" class="empty">
        Список уведомлений пуст.
    </div>
</mat-menu>
